<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<header>
</header>
<th:block th:fragment="angleSectorArtyPage">
    <script th:inline="javascript">
    //    <![CDATA[

        $(function () {
            var dataIndex = [[${dataIndex}]];
            artyArray[dataIndex] = [[${shipAPI}]]['shipComponents']['artillery'];
            // drawArtillery([[${shipAPI}]]['shipComponents']['artillery']);
        });

    //    ]]>
    </script>
    <div id="artilleryCanvasDiv" title="Artillery Sector">
        <canvas id="artilleryCanvas" width="250" height="250">
        </canvas>
    </div>
</th:block>
</body>
</html>
