<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<header>
</header>
<th:block th:fragment="angleSectorTorpPage">
    <script th:inline="javascript">
        //    <![CDATA[

        $(function () {
            var dataIndex = [[${dataIndex}]];
            torpArray[dataIndex] = [[${shipAPI}]]['shipComponents']['torpedoes'];
            // drawTorpedoes([[${shipAPI}]]['shipComponents']['torpedoes']);
        });

        //    ]]>
    </script>
    <div id="torpedoesCanvasDiv" title="Torpedo Sector">
        <canvas id="torpedoesCanvas" width="250" height="250">
        </canvas>
    </div>
</th:block>
</body>
</html>