<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        //    <![CDATA[
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event:'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5KDG7W6');
        //    ]]>
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyleTest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <script>
        //        $(function() {
        //            $(document).tooltip();

        //            $('#shipList').menu();

        //            $('#crewSkills').dialog({
        //                autoOpen: false,
        ////                modal: true,
        //                width: 700
        //            }).css("font-size", "8px");
        //
        //            $('#flags').dialog({
        //                autoOpen: false,
        ////                modal: true,
        //                width: 520
        //            }).css("font-size", "8px");

        //            $('#consumablesData').dialog({
        //                autoOpen: false,
        //                width: 320
        //            }).css("font-size", "8px");
        //        });
    </script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<noscript>
    //    <![CDATA[
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    //    ]]>
</noscript>
<header>
    <div th:include="test/top :: top" id="top">
    </div>
    <div id="header">
        <nav>
            <ul>
                <li th:each="nation : ${data.nations}">
                    <th:block th:each="eNation : ${data.encyclopedia.ship_nations}" th:if="${nation.key == eNation.key}">
                        <span th:text="${eNation.value}" />
                    </th:block>
                    <!--<span th:text="${nation.key}"/>-->
                    <ul>
                        <li th:each="shipType : ${nation.value}">
                            <span th:text="${shipType.key}" />
                            <ul>
                                <li th:each="ship : ${shipType.value}" th:if="${ship.key != 'Test Ship'}">
                                    <a th:text="${ship.value.tier + ' - ' + ship.key}" th:href="${'/ship?nation=' + nation.key + '&amp;shipType=' + shipType.key + '&amp;shipName=' + ship.key + '&amp;ship_id=' + ship.value.ship_id}"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!--<div>-->
    <!--<button id="changeDevice">Go PC</button>-->
    <!--</div>-->
</header>
<main>
    <div class="container">
        <div class="warshipData" th:include="test/warshipPage :: warshipStats">
        </div>
        <div class="shipAPIData" th:include="test/shipAPIPage :: shipAPIData">
        </div>
    </div>
</main>
<script th:inline="javascript">
    //    <![CDATA[

    //    ]]>
</script>
</body>
</html>