<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyleTest.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<header>
</header>
<main>
    <div class="shipAPIData" id="shipAPIData" th:fragment="shipAPIData" th:if="${shipAPI == null}">
        <div id="hullStats" class="hullStats">
            <div th:if="${shipAPI != null and shipAPI.hull != null}" id="hull">
                <strong>Hull</strong><br />
                Health
                <!--<span style="float: right;" th:if="${stockAPI != null and shipAPI.hull.health - stockAPI.hull.health != 0}" th:text="${shipAPI.hull.health - stockAPI.hull.health > 0 ? ' (+' + #numbers.formatInteger(shipAPI.hull.health - stockAPI.hull.health, 0, 'COMMA') + ')' : ' (' + #numbers.formatInteger(shipAPI.hull.health - stockAPI.hull.health, 0, 'COMMA') + ')'}"/>-->
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.hull.health - configurationAPI.hull.health != 0}" th:text="${shipAPI.hull.health - configurationAPI.hull.health > 0 ? ' (+' + #numbers.formatInteger(shipAPI.hull.health - configurationAPI.hull.health, 0, 'COMMA') + ')' : ' (' + #numbers.formatInteger(shipAPI.hull.health - configurationAPI.hull.health, 0, 'COMMA') + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatInteger(shipAPI.hull.health, 0, 'COMMA')}"/><br />
                Armour<span style="float: right;padding-left: 4em;" th:text="${shipAPI.hull.range.min} + ' ~ ' + ${shipAPI.hull.range.max} + ' mm'"/><br />
                - Bow<span style="float: right;padding-left: 4em;" th:if="${shipAPI.armour.extremities != null}" th:text="${shipAPI.armour.extremities.min} + ' ~ ' + ${shipAPI.armour.extremities.max} + ' mm'"/><br />
                <span th:text="'- Citadel'" th:if="${shipAPI.armour.citadel.max > 0}"/><span style="float: right;padding-left: 4em;" th:if="${shipAPI.armour.citadel.max > 0}" th:text="${shipAPI.armour.citadel.max} + ' mm'"/><br th:if="${shipAPI.armour.citadel.max > 0}"/>
                Burn
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.burn - configurationAPI.burn != 0}" th:text="${shipAPI.burn - configurationAPI.burn > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.burn - configurationAPI.burn, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.burn - configurationAPI.burn, 0, 1) + ')'}"/>
                <span style="float: right" th:text="${#numbers.formatDecimal(shipAPI.burn, 0, 1)} + ' s'"/><br />
                Flood
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.flood - configurationAPI.flood != 0}" th:text="${shipAPI.flood - configurationAPI.flood > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.flood - configurationAPI.flood, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.flood - configurationAPI.flood, 0, 1) + ')'}"/>
                <span style="float: right" th:text="${#numbers.formatDecimal(shipAPI.flood, 0, 1)} + ' s'"/><br />
            </div>
            <div th:if="${shipAPI != null and shipAPI.mobility != null}" id="mobility">
                <strong>Mobility</strong><br />
                Speed
                <!--<span style="float: right;" th:if="${stockAPI != null and shipAPI.mobility.max_speed - stockAPI.mobility.max_speed != 0}" th:text="${shipAPI.mobility.max_speed - stockAPI.mobility.max_speed > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.mobility.max_speed - stockAPI.mobility.max_speed, 0, 1) + ')' : ' (-' + #numbers.formatDecimal(shipAPI.mobility.max_speed - stockAPI.mobility.max_speed, 0, 1) + ')'}"/>-->
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.mobility.max_speed - configurationAPI.mobility.max_speed != 0}" th:text="${shipAPI.mobility.max_speed - configurationAPI.mobility.max_speed > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.mobility.max_speed - configurationAPI.mobility.max_speed, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.mobility.max_speed - configurationAPI.mobility.max_speed, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.mobility.max_speed, 0, 1)} + ' kts'"/><br />
                Rudder Shift
                <!--<span style="float: right;" th:if="${stockAPI != null and shipAPI.mobility.rudder_time - stockAPI.mobility.rudder_time != 0}" th:text="${shipAPI.mobility.rudder_time - stockAPI.mobility.rudder_time > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.mobility.rudder_time - stockAPI.mobility.rudder_time, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.mobility.rudder_time - stockAPI.mobility.rudder_time, 0, 1) + ')'}"/>-->
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.mobility.rudder_time - configurationAPI.mobility.rudder_time != 0}" th:text="${shipAPI.mobility.rudder_time - configurationAPI.mobility.rudder_time > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.mobility.rudder_time - configurationAPI.mobility.rudder_time, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.mobility.rudder_time - configurationAPI.mobility.rudder_time, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.mobility.rudder_time, 0, 1)} + ' s'"/><br />
                Turn Radius<span style="float: right;" th:text="${#numbers.formatInteger(shipAPI.mobility.turning_radius, 0, 'COMMA')} + ' m'"/><br />
            </div>
            <div th:if="${shipAPI != null and shipAPI.concealment != null}" id="concealment">
                <strong>Concealment</strong><br />
                Surface
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.concealment.detect_distance_by_ship - configurationAPI.concealment.detect_distance_by_ship != 0}" th:text="${shipAPI.concealment.detect_distance_by_ship - configurationAPI.concealment.detect_distance_by_ship > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.concealment.detect_distance_by_ship - configurationAPI.concealment.detect_distance_by_ship, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.concealment.detect_distance_by_ship - configurationAPI.concealment.detect_distance_by_ship, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.concealment.detect_distance_by_ship, 0, 1)} + ' km'"/><br />
                Air
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.concealment.detect_distance_by_plane - configurationAPI.concealment.detect_distance_by_plane != 0}" th:text="${shipAPI.concealment.detect_distance_by_plane - configurationAPI.concealment.detect_distance_by_plane > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.concealment.detect_distance_by_plane - configurationAPI.concealment.detect_distance_by_plane, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.concealment.detect_distance_by_plane - configurationAPI.concealment.detect_distance_by_plane, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.concealment.detect_distance_by_plane, 0, 1)} + ' km'"/><br />
                <span th:text="'Stealth Fire'" th:if="${shipAPI.artillery != null}"/>
                <span style="float: right;" th:if="${configurationAPI != null and configurationAPI.artillery != null and shipAPI.artillery.distance - configurationAPI.artillery.distance != 0}" th:text="${shipAPI.artillery.distance - configurationAPI.artillery.distance > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.artillery.distance - configurationAPI.artillery.distance, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.artillery.distance - configurationAPI.artillery.distance, 0, 1) + ')'}"/>
                <span th:if="${shipAPI.artillery != null}" style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.artillery.distance, 0, 1)} + ' km'"/><br />
            </div>
        </div>
        <div class="blank">
        </div>
        <div id="mainWeaponStats" class="mainWeaponStats">
            <div th:if="${shipAPI != null and shipAPI.artillery != null}" id="artillery">
                <strong>Main Battery</strong><br />
                <li th:each="slot : ${shipAPI.artillery.slots}">
                    <u style="float: left;" th:text="${slot.value.guns} + ' X ' + ${slot.value.barrels} + ' ' + ${slot.value.name}"/><br />
                </li>
                <th:block th:if="${shipComponents != null and shipComponents.artillery != null}">
                    Sigma<span style="float: right" th:text="${#numbers.formatDecimal(shipComponents.artillery.sigmaCount, 0, 2)}"/><br />
                </th:block>
                Distance
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.artillery.distance - configurationAPI.artillery.distance != 0}" th:text="${shipAPI.artillery.distance - configurationAPI.artillery.distance > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.artillery.distance - configurationAPI.artillery.distance, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.artillery.distance - configurationAPI.artillery.distance, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.artillery.distance, 0, 1)} + ' km'"/><br />
                Dispersion
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.artillery.max_dispersion - configurationAPI.artillery.max_dispersion != 0}" th:text="${shipAPI.artillery.max_dispersion - configurationAPI.artillery.max_dispersion > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.artillery.max_dispersion - configurationAPI.artillery.max_dispersion, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.artillery.max_dispersion - configurationAPI.artillery.max_dispersion, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.artillery.max_dispersion, 0, 1)} + ' m'"/><br />
                Reload
                <span style="float: right;" th:if="${configurationAPI != null and 60 / shipAPI.artillery.gun_rate - 60 / configurationAPI.artillery.gun_rate != 0}" th:text="${60 / shipAPI.artillery.gun_rate - 60 / configurationAPI.artillery.gun_rate > 0 ? ' (+' + #numbers.formatDecimal(60 / shipAPI.artillery.gun_rate - 60 / configurationAPI.artillery.gun_rate, 0, 1) + ')' : ' (' + #numbers.formatDecimal(60 / shipAPI.artillery.gun_rate - 60 / configurationAPI.artillery.gun_rate, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(60 / shipAPI.artillery.gun_rate, 0, 1)} + ' s'"/><br />
                RoF
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.artillery.gun_rate - configurationAPI.artillery.gun_rate != 0}" th:text="${shipAPI.artillery.gun_rate - configurationAPI.artillery.gun_rate > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.artillery.gun_rate - configurationAPI.artillery.gun_rate, 0, 2) + ')' : ' (' + #numbers.formatDecimal(shipAPI.artillery.gun_rate - configurationAPI.artillery.gun_rate, 0, 2) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.artillery.gun_rate, 0 ,2)} + ' RPM'"/><br />
                Rotation
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.artillery.rotation_time - configurationAPI.artillery.rotation_time != 0}" th:text="${shipAPI.artillery.rotation_time - configurationAPI.artillery.rotation_time > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.artillery.rotation_time - configurationAPI.artillery.rotation_time, 0, 2) + ')' : ' (' + #numbers.formatDecimal(shipAPI.artillery.rotation_time - configurationAPI.artillery.rotation_time, 0, 2) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.artillery.rotation_time, 0, 2)} + ' s'"/><br />
                Rotation / 180 deg
                <span style="float: right;" th:if="${configurationAPI != null and 180 / shipAPI.artillery.rotation_time - 180 / configurationAPI.artillery.rotation_time != 0}" th:text="${180 / shipAPI.artillery.rotation_time - 180 / configurationAPI.artillery.rotation_time > 0 ? ' (+' + #numbers.formatDecimal(180 / shipAPI.artillery.rotation_time - 180 / configurationAPI.artillery.rotation_time, 0, 1) + ')' : ' (' + #numbers.formatDecimal(180 / shipAPI.artillery.rotation_time - 180 / configurationAPI.artillery.rotation_time, 0, 1) + ')'}"/>
                <span style="float: right;padding-left: 4em;" th:text="${#numbers.formatDecimal(180 / shipAPI.artillery.rotation_time, 0, 1)} + ' deg / s'"/><br />
                <li th:if="${shell.value != null}" th:each="shell : ${shipAPI.artillery.shells}">
                    <u style="float: left;" th:text="${shell.value.name} + ' (' + ${shell.value.type} + ')'"/><br/>
                    Damage<span style="float: right;" th:text="${#numbers.formatInteger(shell.value.damage, 0, 'COMMA')} + ' hp'"/><br />
                    Speed<span style="float: right;" th:text="${#numbers.formatInteger(shell.value.bullet_speed, 0, 'COMMA')} + ' m / s'"/><br />
                    Mass<span style="float: right;" th:text="${#numbers.formatInteger(shell.value.bullet_mass, 0, 'COMMA')} + ' kg'"/><br />
                    <span th:text="'Burn Probability'" th:if="${shell.value.burn_probability > 0}"/>
                    <th:block th:if="${configurationAPI != null}">
                        <th:block th:if="${defaultShell.value != null and defaultShell.value.burn_probability > 0 and defaultShell.value.type == shell.value.type}" th:each="defaultShell : ${configurationAPI.artillery.shells}">
                            <span style="float: right;" th:if="${shell.value.burn_probability - defaultShell.value.burn_probability != 0 and shell.value.burn_probability > 0}" th:text="${shell.value.burn_probability - defaultShell.value.burn_probability > 0 ? ' (+' + #numbers.formatDecimal(shell.value.burn_probability - defaultShell.value.burn_probability, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shell.value.burn_probability - defaultShell.value.burn_probability, 0, 1) + ')'}"/>
                        </th:block>
                    </th:block>
                    <span style="float: right;" th:if="${shell.value.burn_probability > 0}" th:text="${#numbers.formatDecimal(shell.value.burn_probability, 0, 1)} + ' %'"/><br th:if="${shell.value.burn_probability > 0}"/>
                    <span th:text="'- Per Salvo'" th:if="${shell.value.burn_probability > 0}"/>
                    <th:block th:if="${configurationAPI != null}">
                        <th:block th:if="${defaultShell.value != null and defaultShell.value.burn_probability > 0 and defaultShell.value.type == shell.value.type}" th:each="defaultShell : ${configurationAPI.artillery.shells}">
                            <span style="float: right;" th:if="${shell.value.burn_probability - defaultShell.value.burn_probability != 0 and shell.value.burn_probability > 0}" th:text="${shell.value.burn_probability - defaultShell.value.burn_probability > 0 ? ' (+' + #numbers.formatDecimal((100 - (T(java.lang.Math).pow((100 - shell.value.burn_probability) / 100, shipAPI.artillery.totalGuns)) * 100) - (100 - (T(java.lang.Math).pow((100 - defaultShell.value.burn_probability) / 100, configurationAPI.artillery.totalGuns)) * 100), 0, 1) + ')' : ' (' + #numbers.formatDecimal((100 - (T(java.lang.Math).pow((100 - shell.value.burn_probability) / 100, shipAPI.artillery.totalGuns)) * 100) - (100 - (T(java.lang.Math).pow((100 - defaultShell.value.burn_probability) / 100, configurationAPI.artillery.totalGuns)) * 100), 0, 1) + ')'}"/>
                        </th:block>
                    </th:block>
                    <span style="float: right;" th:if="${shell.value.burn_probability > 0}" th:text="${#numbers.formatDecimal((100 - (T(java.lang.Math).pow((100 - shell.value.burn_probability) / 100, shipAPI.artillery.totalGuns)) * 100), 0, 1)} + ' %'"/><br th:if="${shell.value.burn_probability > 0}"/>
                </li>
            </div>
            <div th:if="${shipAPI != null and shipAPI.torpedoes != null}" id="torpedoes">
                <strong>Torpedoes</strong><br />
                <li th:each="slot : ${shipAPI.torpedoes.slots}">
                    <u style="float: left;" th:text="${slot.value.guns} + ' X ' + ${slot.value.barrels} + ' ' + ${slot.value.name}"/><br />
                </li>
                Damage<span style="float: right;" th:text="${#numbers.formatInteger(shipAPI.torpedoes.max_damage, 0, 'COMMA')} + ' hp'"/><br />
                Reload
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.torpedoes.reload_time - configurationAPI.torpedoes.reload_time != 0}" th:text="${shipAPI.torpedoes.reload_time - configurationAPI.torpedoes.reload_time > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.torpedoes.reload_time - configurationAPI.torpedoes.reload_time, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.torpedoes.reload_time - configurationAPI.torpedoes.reload_time, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.torpedoes.reload_time, 0, 1)} + ' s'"/><br />
                Speed
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.torpedoes.torpedo_speed - configurationAPI.torpedoes.torpedo_speed != 0}" th:text="${shipAPI.torpedoes.torpedo_speed - configurationAPI.torpedoes.torpedo_speed > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.torpedoes.torpedo_speed - configurationAPI.torpedoes.torpedo_speed, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.torpedoes.torpedo_speed - configurationAPI.torpedoes.torpedo_speed, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.torpedoes.torpedo_speed, 0, 1)} + ' kts'"/><br />
                Distance
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.torpedoes.distance - configurationAPI.torpedoes.distance != 0}" th:text="${shipAPI.torpedoes.distance - configurationAPI.torpedoes.distance > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.torpedoes.distance - configurationAPI.torpedoes.distance, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.torpedoes.distance - configurationAPI.torpedoes.distance, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.torpedoes.distance, 0, 1)} + ' km'"/><br />
                Visibility<span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.torpedoes.visibility_dist, 0, 1)} + ' km'"/><br />
            </div>
            <div th:if="${shipAPI != null and shipAPI.flight_control != null}" id="flight_control">
                <strong>Flight Control</strong><br />
                <u>Dive Bomber</u>
                <span style="float: right;" th:if="${configurationAPI != null and configurationAPI.dive_bomber != null}" th:text="${shipAPI.dive_bomber.count_in_squadron.max - configurationAPI.dive_bomber.count_in_squadron.max > 0 ? '(+' + #numbers.formatInteger(shipAPI.dive_bomber.count_in_squadron.max - configurationAPI.dive_bomber.count_in_squadron.max, 0) + ')' : '(' + #numbers.formatInteger(shipAPI.dive_bomber.count_in_squadron.max - configurationAPI.dive_bomber.count_in_squadron.max, 0) + ')'}"/>
                <span style="float: right;" th:text="${shipAPI.flight_control.bomber_squadrons} + ' X ' + ${shipAPI.dive_bomber != null ? shipAPI.dive_bomber.count_in_squadron.max : 0}"/><br />
                Preparation
                <span style="float: right;" th:if="${configurationAPI != null and configurationAPI.dive_bomber != null}" th:text="${shipAPI.dive_bomber.prepare_time - configurationAPI.dive_bomber.prepare_time > 0 ? '(+' + #numbers.formatDecimal(shipAPI.dive_bomber.prepare_time - configurationAPI.dive_bomber.prepare_time, 0, 1) + ')' : '(' + #numbers.formatDecimal(shipAPI.dive_bomber.prepare_time - configurationAPI.dive_bomber.prepare_time, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${shipAPI.dive_bomber != null ? #numbers.formatDecimal(shipAPI.dive_bomber.prepare_time, 0, 1) : 0} + ' s'"/><br />
                <u>Fighter</u>
                <span style="float: right;" th:if="${configurationAPI != null and configurationAPI.fighters != null}" th:text="${shipAPI.fighters.count_in_squadron.max - configurationAPI.fighters.count_in_squadron.max > 0 ? '(+' + #numbers.formatInteger(shipAPI.fighters.count_in_squadron.max - configurationAPI.fighters.count_in_squadron.max, 0) + ')' : '(' + #numbers.formatInteger(shipAPI.fighters.count_in_squadron.max - configurationAPI.fighters.count_in_squadron.max, 0) + ')'}"/>
                <span style="float: right;" th:text="${shipAPI.flight_control.fighter_squadrons} + ' X ' + ${shipAPI.fighters != null ? shipAPI.fighters.count_in_squadron.max : 0}"/><br />
                Preparation
                <span style="float: right;" th:if="${configurationAPI != null and configurationAPI.fighters != null}" th:text="${shipAPI.fighters.prepare_time - configurationAPI.fighters.prepare_time > 0 ? '(+' + #numbers.formatDecimal(shipAPI.fighters.prepare_time - configurationAPI.fighters.prepare_time, 0, 1) + ')' : '(' + #numbers.formatDecimal(shipAPI.fighters.prepare_time - configurationAPI.fighters.prepare_time, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${shipAPI.fighters != null ? #numbers.formatDecimal(shipAPI.fighters.prepare_time, 0, 1) : 0} + ' s'"/><br />
                <u>Torpedo Bomber</u>
                <span style="float: right; padding-left: 4em;" th:text="${shipAPI.flight_control.torpedo_squadrons} + ' X ' + ${shipAPI.torpedo_bomber != null ? shipAPI.torpedo_bomber.count_in_squadron.max : 0}"/><br />
                Preparation
                <span style="float: right;" th:if="${configurationAPI != null and configurationAPI.torpedo_bomber != null}" th:text="${shipAPI.torpedo_bomber.prepare_time - configurationAPI.torpedo_bomber.prepare_time > 0 ? '(+' + #numbers.formatDecimal(shipAPI.torpedo_bomber.prepare_time - configurationAPI.torpedo_bomber.prepare_time, 0, 1) + ')' : '(' + #numbers.formatDecimal(shipAPI.torpedo_bomber.prepare_time - configurationAPI.torpedo_bomber.prepare_time, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${shipAPI.torpedo_bomber != null ? #numbers.formatDecimal(shipAPI.torpedo_bomber.prepare_time, 0, 1) : 0} + ' s'"/><br />
            </div>
        </div>
        <div class="blank">
        </div>
        <div id="AASecondaryStats" class="AASecondaryStats">
            <div th:if="${shipAPI != null and shipAPI.anti_aircraft != null}" id="anti_aircraft">
                <strong>Anti Air</strong><br />
                <li th:each="slot : ${shipAPI.anti_aircraft.slots}" th:id="${slot.value.caliber}">
                    <u style="float: left;" th:text="${slot.value.guns} + ' X ' + ${slot.value.name}"/><br />
                    DPS
                    <th:block th:if="${configurationAPI != null}">
                        <th:block th:if="${configurationAPI.anti_aircraft != null and defaultSlot.value != null and defaultSlot.value.guns == slot.value.guns and defaultSlot.value.name == slot.value.name}" th:each="defaultSlot : ${configurationAPI.anti_aircraft.slots}">
                            <span style="float: right;" th:if="${slot.value.avg_damage - defaultSlot.value.avg_damage != 0}" th:text="${slot.value.avg_damage - defaultSlot.value.avg_damage > 0 ? ' (+' + #numbers.formatDecimal(slot.value.avg_damage - defaultSlot.value.avg_damage, 0, 1) + ')' : ' (' + #numbers.formatDecimal(slot.value.avg_damage - defaultSlot.value.avg_damage, 0, 1) + ')'}"/>
                        </th:block>
                    </th:block>
                    <span style="float: right;" th:text="${#numbers.formatDecimal(slot.value.avg_damage, 0, 1)} + ' dps'"/><br />
                    Distance
                    <th:block th:if="${configurationAPI != null}">
                        <th:block th:if="${configurationAPI.anti_aircraft != null and defaultSlot.value != null and defaultSlot.value.guns == slot.value.guns and defaultSlot.value.name == slot.value.name}" th:each="defaultSlot : ${configurationAPI.anti_aircraft.slots}">
                            <span style="float: right;" th:if="${slot.value.distance - defaultSlot.value.distance != 0}" th:text="${slot.value.distance - defaultSlot.value.distance > 0 ? ' (+' + #numbers.formatDecimal(slot.value.distance - defaultSlot.value.distance, 0, 1) + ')' : ' (' + #numbers.formatDecimal(slot.value.distance - defaultSlot.value.distance, 0, 1) + ')'}"/>
                        </th:block>
                    </th:block>
                    <span style="float: right;padding-left: 4em;" th:text="${#numbers.formatDecimal(slot.value.distance, 0, 1)} + ' km'"/><br />
                </li>
            </div>
            <div th:if="${shipAPI != null and shipAPI.atbas != null}" id="atbas">
                <strong>Secondary</strong><br />
                Max Distance
                <span style="float: right;" th:if="${configurationAPI != null and shipAPI.atbas.distance - configurationAPI.atbas.distance != 0}" th:text="${shipAPI.atbas.distance - configurationAPI.atbas.distance > 0 ? ' (+' + #numbers.formatDecimal(shipAPI.atbas.distance - configurationAPI.atbas.distance, 0, 1) + ')' : ' (' + #numbers.formatDecimal(shipAPI.atbas.distance - configurationAPI.atbas.distance, 0, 1) + ')'}"/>
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI.atbas.distance, 0, 1)} + ' km'"/>
                <li th:each="slot : ${shipAPI.atbas.slots}" th:if="${shipAPI.atbas.slots != null}">
                    <u style="float: left;" th:text="${slot.value.name}"/><br />
                    Damage<span style="float: right;" th:text="${#numbers.formatInteger(slot.value.damage, 0, 'COMMA')} + ' hp'"/><br />
                    Reload
                    <th:block th:if="${configurationAPI != null}">
                        <th:block th:if="${configurationAPI.atbas != null and defaultSlot.value != null and defaultSlot.value.shot_delay == slot.value.default_shot_delay and defaultSlot.value.name == slot.value.name}" th:each="defaultSlot : ${configurationAPI.atbas.slots}">
                            <span style="float: right;" th:if="${slot.value.shot_delay - defaultSlot.value.shot_delay != 0}" th:text="${slot.value.shot_delay - defaultSlot.value.shot_delay > 0 ? ' (+' + #numbers.formatDecimal(slot.value.shot_delay - defaultSlot.value.shot_delay, 0, 1) + ')' : ' (' + #numbers.formatDecimal(slot.value.shot_delay - defaultSlot.value.shot_delay, 0, 1) + ')'}"/>
                        </th:block>
                    </th:block>
                    <span style="float: right;" th:text="${#numbers.formatDecimal(slot.value.shot_delay, 0, 1)} + ' s'"/><br />
                    Speed<span style="float: right;" th:text="${#numbers.formatDecimal(slot.value.bullet_speed, 0, 1)} + ' m / s'"/><br />
                    Type<span style="float: right;" th:text="${slot.value.type}"/><br />
                    Burn Probability<span style="float: right;padding-left: 4em;" th:text="${#numbers.formatDecimal(slot.value.burn_probability, 0, 1)} + ' %'"/><br />
                </li>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    //    <![CDATA[

    //    ]]>
</script>
</body>
</html>