<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<header>
</header>
<main>
    <div th:fragment="warshipStats" class="warshipData">
        <div id="notification" th:style="${warship != null} ? 'display: none' : ''">
            <!--<img th:src="@{/images/Icon/WoWSFT_Icon.png}" style="height: 300px" th:title="'Image courtesy of ReptorPi from DCInside'"/>-->
            <h2>Click on a ship for fitting.</h2>
            <!--<li th:if="${noticeStat.index &lt; 3}" th:each="notice : ${notification}">-->
                <!--<strong th:text="${notice.key}"/><br />-->
                <!--<span th:utext="${notice.value}"/><br />-->
            <!--</li>-->
        </div>
        <div id="ship" th:name="${warship.ship_id}" th:if="${warship != null}" class="ship">
            <div id="name">
                <th:block th:each="eShipType : ${encyclopedia.ship_type_images}" th:if="${eShipType.key == warship.defaultType}">
                    <img th:src="${warship.type != 'Premium' and warship.type != 'Arpeggio' and warship.type != 'HSF' ? eShipType.value.image : eShipType.value.image_premium}"/><br />
                    <strong style="font-size: 2em;" th:text="${warship.name}"/><br />
                </th:block>
                <img th:title="${warship.description}" th:src="${warship.images.medium}"/>
            </div>
            <div>
                <button th:if="${warship.prevWarship != null}" th:with='cleaned=${#strings.replace(warship.prevWarship.name, "&apos;", "&#92;&apos;")}' th:onclick="'fragments(\'' + ${warship.prevWarship.nation} + '\', \'' + ${warship.prevWarship.type} + '\', \'' + ${warship.prevWarship.name} + '\')'" th:text="${'Prev Ship (' + cleaned + ')'}"/>
                <span style="padding: 1em;"></span>
                <button id="showCrewSkills">Commander Skills</button>
                <select id="commanderSelect" th:if="${commanders.size() > 1}">
                    <option th:selected="${sCommander == commander}" th:each="commander : ${commanders}" th:value="${commander}" th:text="${commander}"/>
                </select>
                <button id="showFlags">Flags</button>
                <!--<button id="showConsumables" class="ui-button">Consumables</button>-->
                <!--<button id="showCamouflage" class="ui-button">Camo</button>-->
                <input type="checkbox" id="camouflageCheckbox" th:checked="${camo}" th:text="'Camouflage'" th:title="'Decreases the firing accuracy of the enemy and reduces ship detectability.'"/>
                <!--<input type="checkbox" id="stockCompareCheckBox" name="comparison" th:text="'Stock Comparison'"/>-->
                <input type="checkbox" id="upgradeCompareCheckBox" name="comparison" th:text="'Upgrade Comparison'"/>
                <!--<button id="showTorpVisibilityDialog">Torpedo Visibility</button>-->
            </div>
            <div id="modulesUpgradesConsumables">
                <div id="modules">
                    <table>
                        <tbody>
                            <tr th:each="row : ${warship.warshipModulesTreeTable}">
                                <td th:each="module : ${row.value}" th:id="${module != null ? 'li_' + module.module_id : null}">
                                    <button th:if="${module != null}" th:class="${(modules == null and module.is_default and rowStat.first) or (modules != null and #sets.contains(modules, #strings.toString(module.module_id)))} ? button_module_selected : button_module" th:id="${module.module_id}" th:name="${module.type}">
                                        <img th:src="@{'/images/Upgrades/icon_module_' + ${#strings.toLowerCase(module.type)} + '.png'}" th:title="${!module.is_default ? #numbers.formatInteger(module.price_xp, 0, 'COMMA') + ' xp' + T(java.lang.System).getProperty('line.separator') + #numbers.formatInteger(module.price_credit, 0, 'COMMA') + ' credit' : ''}"/><br />
                                        <span th:text="${module.name}"/>
                                    </button>
                                </td>
                            </tr>
                            <tr th:if="${warship.nextWarship != null}">
                                <td th:each="nextShip : ${warship.nextWarship}">
                                    <button th:if="${nextShip != null}" th:with='cleaned=${#strings.replace(nextShip.name, "&apos;", "&#92;&apos;")}' th:class="button_ship" th:onclick="'fragments(\'' + ${nextShip.nation} + '\', \'' + ${nextShip.type} + '\', \'' + ${cleaned} + '\')'">
                                        <img th:src="${nextShip.images.small}" th:title="${nextShip.fromPreviousShipXp + ' xp'}"/><br />
                                        <span th:text="${nextShip.name}"/>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="upgrades">
                    <div th:each="upgradeType : ${warship.upgradesNew}" th:id="'id_' + ${upgradeType.key}">
                        <li th:each="upgrade : ${upgradeType.value}" th:id="'li_' + ${upgrade.value.consumable_id}">
                            <button th:title="${upgrade.value.description}" th:class="${upgrades != null and #sets.contains(upgrades, #strings.toString(upgrade.value.consumable_id))} ? button_upgrade_selected : button_upgrade" th:id="${upgrade.value.consumable_id}" th:name="'price_' + ${upgrade.value.price_credit}">
                                <img th:src="${upgrade.value.image}"/><br />
                                <span th:text="${upgrade.value.name}"/>
                            </button>
                        </li>
                    </div>
                </div>
            </div>
            <div id="consumablesData">
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    //    <![CDATA[

    //    ]]>
</script>
</body>
</html>