<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        //    <![CDATA[
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event:'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5KDG7W6');
        //    ]]>
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.4, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <script>
        $(function() {
//            $(document).tooltip();

            $('#crewSkills').dialog({
                autoOpen: false,
//                modal: true,
                width: 'auto'
            }).css("font-size", "8px");

            $('#flags').dialog({
                autoOpen: false,
//                modal: true,
                width: 650
            }).css("font-size", "8px");

//            $('#consumablesData').dialog({
//                autoOpen: false,
//                width: 320
//            }).css("font-size", "8px");
        });
    </script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<noscript>
    //    <![CDATA[
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    //    ]]>
</noscript>
<header>
    <div th:include="top :: top" id="top">
    </div>
    <div id="shipsList">
        <nav>
            <ul>
                <li th:each="nation : ${nations}">
                    <th:block th:each="eNation : ${encyclopedia.ship_nations}" th:if="${nation.key == eNation.key}">
                        <span th:text="${eNation.value}" />
                    </th:block>
                    <ul>
                        <li th:each="shipType : ${nation.value}">
                            <span th:text="${shipType.key}" />
                            <ul>
                                <li th:each="ship : ${shipType.value}" th:if="${ship.key != 'Test Ship'}">
                                    <span th:with='cleaned=${#strings.replace(ship.key, "&apos;", "&#92;&apos;")}' th:text="${ship.value.tier + ' - ' + ship.key}" th:onclick="'fragments(\'' + ${nation.key} + '\', \'' + ${shipType.key} + '\', \'' + ${cleaned} + '\')'"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="text" id="shortenUrlAddress"/><button id="shortenURL">Shorten URL</button>
                    <!--<button id="changeDevice">Go Mobile</button>-->
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="crewSkills" class="ui-widget-content" title="Skill Points 0 / 19">
    <table id="uniqueSkillsTable" align="center" th:style="'float: left; height: 418px; ' + ${#sets.contains(uniqueSkills.keySet(), sCommander) ? '' : 'display: none'}">
        <tbody>
            <tr th:each="commander : ${uniqueSkills}" th:id="${commander.key.replace(' ', '')}" th:style="${commander.key != sCommander ? 'display: none;' : ''}">
                <td th:each="uniqueSkill : ${commander.value}">
                    <button th:title="${uniqueSkill.value.description}" th:class="${crewUSkills != null and #sets.contains(crewUSkills, uniqueSkill.key) ? 'button_uSkill_selected' : 'button_uSkill'}" th:id="${uniqueSkill.key}">
                        <img th:src="${'/images/Talents/' + uniqueSkill.key + '.png'}"/><br />
                        <span th:text="${uniqueSkill.value.name}"/>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="skillsTable" align="center" style="height: 418px;">
        <tbody>
            <tr th:each="skillTier : ${skills}">
                <td th:each="skill : ${skillTier.value}" th:id="${'td_' + skill.value.tier + '_' + skill.value.type_id}">
                    <button th:if="${skill.value.tier != 0}" th:object="${skill.value}" th:title="${skill.value.description}" th:class="${crewSkills != null and crewSkills.size() != 0 and (crewSkills.?[tier == #strings.toString(__${skill.value.tier}__) and type_id == #strings.toString(__${skill.value.type_id}__)]).size() != 0} ? button_skill_selected : button_skill" th:id="${skill.value.tier + '_' + skill.value.type_id}" th:attr="tier=${skill.value.tier}, type_id=${skill.value.type_id}">
                        <img th:src="${skill.value.icon}"/><br />
                        <span th:text="${skill.value.name}"/>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="flags" class="ui-widget-content" title="Flags 0 / 8">
    <table id="flagsTable" align="center">
        <tbody>
            <tr th:each="index : ${#numbers.sequence(0, exteriors.Flags.size() - 1, 6)}" th:id="${index / 6}">
                <td th:each="flag : ${exteriors.Flags}" th:if="${flagStat.index % 3} == ${index / 6}">
                    <button th:title="${flag.value.description}" th:class="${(flags != null and #sets.contains(flags, #strings.toString(flag.value.consumable_id)))} ? button_flag_selected : button_flag" th:id="${flag.value.consumable_id}">
                        <img th:src="${flag.value.image}"/><br />
                        <span th:text="${flag.value.name}"/>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--<div id="camouflage" class="ui-widget-content" title="Camouflage">-->
<!--<table id="camouflageTable" align="center">-->
<!--<tbody>-->
<!--<tr>-->
<!--<td th:each="camoflage : ${exteriors.Camouflage}">-->
<!--<button th:title="${camouflage.value.description}" th:class="button_camouflage" th:id="${camouflage.value.exterior_id}">-->
<!--<img th:src="${camouflage.value.image.small}"/><br />-->
<!--<span th:text="${camouflage.value.name}"/>-->
<!--</button>-->
<!--</td>-->
<!--</tr>-->
<!--<tr th:each="index : ${#numbers.sequence(0, exteriors.Camouflage.size() - 1, 6)}" th:id="${index / 6}">-->
<!--<td th:each="camouflage : ${exteriors.Camouflage}" th:if="${camouflageStat.index % 3} == ${index / 6}">-->
<!--<button th:title="${camouflage.value.description}" th:class="button_camouflage" th:id="${camouflage.value.exterior_id}">-->
<!--<img th:src="${camouflage.value.image.small}"/><br />-->
<!--<span th:text="${camouflage.value.name}"/>-->
<!--</button>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<main id="main">
    <div class="container">
        <div class="warshipData" th:include="WarshipStats/warshipPage :: warshipStats">
        </div>
        <div class="shipAPIData">
        </div>
    </div>
</main>
<script th:inline="javascript">
    //    <![CDATA[
    var height1 = document.getElementById('top').clientHeight;
    var height2 = document.getElementById('shipsList').clientHeight;

    var nation = '';
    var shipType = '';
    var ship = '';
    var mobile = false;

    var modules = [];
    var upgrades = [];
    var skills = [];
    var uSkills = [];
    var flags = [];
    var consumables = [[${consumables}]];

    var camouflage = false;

    var shipHP = 0;

    var maxFlagPts = 8;

    var adrenalineValue = 100;

    var commander = [[${sCommander}]] !== null ? [[${sCommander}]] : 'default';

    var live = [[${serverParam}]];

    $().ready(function () {
        $( function() {
            $('#shipList').menu();
        });

        if ([[${url}]] != null)
        {
            adrenalineValue = [[${adrenalineValue}]];
            callAPI();
            setCaptainSkillPoints();
            setFlags();
            changeSkillDescription();
        }
    });

    $(document).on('click', '.button_module', function(){
        var clickedId = $(this).attr('id');
        var selectedModules = document.getElementsByName($(this).attr('name'));

        for (var i = 0; i < selectedModules.length; i++)
        {
            var buttonId = selectedModules[i].getAttribute('id').replace('li_', '');
            document.getElementById(buttonId).className = 'button_module';
        }
        document.getElementById(clickedId).className = 'button_module_selected';

        callAPI();
    });

    $(document).on('click', '.button_upgrade, .button_upgrade_selected', function () {
        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_upgrade')
        {
            var gParentElem = $(this).parent().parent();
            var parents = gParentElem.children();

            for (var i = 0; i < parents.length; i++)
            {
                var buttonId = parents[i].getAttribute('id').replace('li_', '');
                document.getElementById(buttonId).className = 'button_upgrade';
            }
            document.getElementById(clickedId).className = 'button_upgrade_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_upgrade';
        }

        callAPI();
    });

    function setCaptainSkillPoints()
    {
        var list = $('.button_skill_selected');

        var maxSpts = 19;
        var totalSpts = 0;

        for (var i = 0; i < list.length; i++)
        {
            var current = list.eq(i);

            totalSpts = totalSpts + parseInt(current.attr('tier'));
        }

        $('[aria-describedby=crewSkills]').find('.ui-dialog-title').text('Skill Points ' + totalSpts.toString() + ' / ' + maxSpts.toString());
    }

    function setFlags()
    {
        var list = $('.button_flag_selected');

        if ([[${shipType}]] != null && [[${shipType}]] == 'AirCarrier')
        {
            maxFlagPts = 4;
        }

        var totalPts = list.length;

        $('[aria-describedby=flags]').find('.ui-dialog-title').text('Flags ' + totalPts.toString() + ' / ' + maxFlagPts.toString());
    }

    function setConsumables()
    {
        var list = [[${consumables}]];

        if (list == null || ([[${warship}]] != null && [[${warship}]].name != ship))
        {
            list = [];
        }

        var notSelected = $('.button_consumable');
        var selected = $('.button_consumable_selected');

        if (selected.length > 0)
        {
            list = [];

            for (var i = 0; i < selected.length; i++)
            {
                list.push(selected.eq(i).attr('name'));
            }
        }

        var allConsumables = [];
        for (var i = 0; i < notSelected.length; i++)
        {
            allConsumables.push(notSelected.eq(i).attr('name'));
        }
        for (var i = 0; i < selected.length; i++)
        {
            allConsumables.push(selected.eq(i).attr('name'));
        }

        for (var i = 0; i < list.length; i++)
        {
            var mismatch = true;

            for (var j = 0; j < allConsumables.length; j++)
            {
                if (list[i] == allConsumables[j])
                {
                    mismatch = false;
                    break;
                }
            }

            if (mismatch)
            {
                list = [];
                break;
            }
        }

        consumables = [];
        for (var i = 0; i < list.length; i++)
        {
            var current = list[i];
            var abil = $('[name=' + current + ']').attr('class').split(' ')[1];

            $('[name=' + current + ']').attr('class', 'button_consumable_selected ' + abil);
            consumables.push(current);
            $('#' + current).removeAttr('style');
        }

        if ($('.button_consumable_selected').length == 0)
        {
            var abil0List = $('.abil0');
            var abil1List = $('.abil1');
            var abil2List = $('.abil2');
            var abil3List = $('.abil3');

            if (abil0List.length !== 0)
            {
                abil0List.eq(0).attr('class', 'button_consumable_selected abil0');
                $('#' + abil0List.eq(0).attr('name')).removeAttr('style');
            }

            if (abil1List.length !== 0)
            {
                abil1List.eq(0).attr('class', 'button_consumable_selected abil1');
                $('#' + abil1List.eq(0).attr('name')).removeAttr('style');
            }

            if (abil2List.length !== 0)
            {
                abil2List.eq(0).attr('class', 'button_consumable_selected abil2');
                $('#' + abil2List.eq(0).attr('name')).removeAttr('style');
            }

            if (abil3List.length !== 0)
            {
                abil3List.eq(0).attr('class', 'button_consumable_selected abil3');
                $('#' + abil3List.eq(0).attr('name')).removeAttr('style');
            }
        }

        history.replaceState({
            nation: nation,
            shipType: shipType,
            ship: ship
        }, nation + shipType + ship, '/warship?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&modules=' + modules + '&upgrades=' + upgrades + '&flags=' + flags + '&skills=' + btoa(encodeURIComponent(JSON.stringify(skills))) + '&camo=' + camouflage + '&mobile=' + mobile + '&consumables=' + consumables + '&adrenalineValue=' + $('#custom-handle').text() + '&commander=' + encodeURIComponent(commander) + '&uSkills=' + btoa(encodeURIComponent(JSON.stringify(uSkills))));
    }

    $(document).on('click', '.button_skill, .button_skill_selected', function () {
        var maxSpts = 19;
        var currentSpts = 0;
        var clickedSpts = 0;
        var totalSpts = 0;

        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_skill')
        {
            clickedSpts = clickedSpts + parseInt($(this).attr('tier'));
        }
        else
        {
            clickedSpts = clickedSpts - parseInt($(this).attr('tier'));
        }

        var selected = document.getElementsByClassName('button_skill_selected');

        for (var i = 0; i < selected.length; i++)
        {
            currentSpts = currentSpts + parseInt(selected[i].getAttribute('tier'));
        }

        totalSpts = totalSpts + currentSpts + clickedSpts;

        if (document.getElementById(clickedId).className == 'button_skill')
        {
            if (totalSpts > maxSpts)
            {
                return false;
            }
            document.getElementById(clickedId).className = 'button_skill_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_skill';
        }

        $('[aria-describedby=crewSkills]').find('.ui-dialog-title').text('Skill Points ' + totalSpts.toString() + ' / ' + maxSpts.toString());

        callAPI();
    });

    $(document).on('click', '.button_uSkill, .button_uSkill_selected', function () {
        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_uSkill')
        {
            document.getElementById(clickedId).className = 'button_uSkill_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_uSkill';
        }

        callAPI();
    });

    $(document).on('click', '.button_flag, .button_flag_selected', function () {
        var maxFlags = maxFlagPts;

        var clickedId = $(this).attr('id');
        var selected = document.getElementsByClassName('button_flag_selected');

        if (document.getElementById(clickedId).className == 'button_flag')
        {
            if (selected.length >= maxFlags)
            {
                return false;
            }
            document.getElementById(clickedId).className = 'button_flag_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_flag';
        }

        $('[aria-describedby=flags]').find('.ui-dialog-title').text('Flags ' + selected.length.toString() + ' / ' + maxFlags.toString());

        callAPI();
    });

    $(document).on('click', '#showCrewSkills', function () {
        $('#crewSkills').dialog('open');
    });

    $(document).on('click', '#showFlags', function () {
        $('#flags').dialog('open');
    });

    $(document).on('click', '#showConsumables', function () {
        $('#consumablesData').dialog('open');
    });

    $(document).on('click', '#showTorpVisibilityDialog', function () {
        $('#torpVisibilityDialog').dialog('open');
    });

    $(document).on('click', '#showArtillerySector', function () {
        $('#artilleryCanvasDiv').dialog('open');
    });

    $(document).on('click', '#showTorpedoSector', function () {
        $('#torpedoesCanvasDiv').dialog('open');
    });

    //    $(document).on('click', '#showCamouflage', function () {
    //        $('#camouflage').dialog('open');
    //    });

    $(document).on('click', '#camouflageCheckbox', function () {
        callAPI();
    });

    function callAPI()
    {
        $('[aria-describedby=torpVisibilityDialog]').remove();
        $('[aria-describedby=artilleryCanvasDiv]').remove();
        $('[aria-describedby=torpedoesCanvasDiv]').remove();

        if ($('#ship').attr('name') != null)
        {
            if (nation == '' || shipType == '' || ship == '')
            {
                if ([[${warship}]] != null)
                {
                    nation = [[${warship}]]['nation'];
                    shipType = [[${warship}]]['type'];
                    ship = [[${warship}]]['name'];
//                    ship = ship.replace("'", "");
                }
                else
                {
                    return false;
                }
            }

            var url = live + '/shipAPI?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&ship_id=' + $('#ship').attr('name');
            var modifier = '&';
            var equals = '=';

            var selectedModules = $('.button_module_selected');
            var selectedUpgrades = $('.button_upgrade_selected');
            var selectedSkills = $('.button_skill_selected');
            var selectedUSkills = $('.button_uSkill_selected');
            var selectedFlags = $('.button_flag_selected');
            var selectedConsumables = $('.button_consumable_selected');

            modules = [];
            upgrades = [];
            skills = [];
            uSkills = [];
            flags = [];
            consumables = [];

            camouflage = [$('#camouflageCheckbox').is(':checked')];

            for (var i = 0; i < selectedModules.length; i++)
            {
                var type = selectedModules[i].getAttribute('name');
                var moduleId = selectedModules[i].getAttribute('id');

                modules.push(moduleId);

                url = url + modifier + type + equals + moduleId;
            }

            for (var i = 0; i < selectedUpgrades.length; i++)
            {
                var upgradeId = selectedUpgrades[i].getAttribute('id');

                upgrades.push(upgradeId);
            }

            for (var i = 0; i < selectedSkills.length; i++)
            {
                var tier = selectedSkills[i].getAttribute('tier');
                var type_id = selectedSkills[i].getAttribute('type_id');

                var current = {
                    tier: tier,
                    type_id: type_id
                };

                skills.push(current);
            }

            for (var i = 0; i < selectedUSkills.length; i++)
            {
                var id = selectedUSkills[i].getAttribute('id');

                uSkills.push(id);
            }

            for (var i = 0; i < selectedFlags.length; i++)
            {
                var flagId = selectedFlags[i].getAttribute('id');

                flags.push(flagId);
            }

            for (var i = 0; i < selectedConsumables.length; i++)
            {
                var consumableId = selectedConsumables.eq(i).attr('name');
                consumables.push(consumableId);
            }

            var upgradesSkills = {
                upgrades: upgrades,
                skills: skills,
                uSkills: uSkills,
                camouflage: camouflage,
                flags: flags,
                consumables: consumables,
                commander: [commander]
            };

            url = url + '&adrenalineValue=' + adrenalineValue;

            url = url + '&upgradeCompare=' + $('#upgradeCompareCheckBox').is(':checked');

            url = url + '&stockCompare=' + $('#stockCompareCheckBox').is(':checked');

            url = url + '&mobile=false';

            $.ajax({
                url: url,
                type: 'post',
                contentType: "application/json",
                data: JSON.stringify(upgradesSkills),
                success: function (data) {
                    if (data != '')
                    {
                        $('.shipAPIData').replaceWith(data);
                        $('#consumablesData').html($('#consumablesDataFragment').html());
                        $('#consumablesDataFragment').remove();

                        setConsumables();

//                        $.ajax({
//                            url: url.replace('shipAPI', 'shipComponents'),
//                            type: 'post',
//                            contentType: "application/json",
//                            data: JSON.stringify(upgradesSkills),
//                            success: function (data) {
//                                if (data != '')
//                                {
//                                    $('#consumablesData').replaceWith(data);
//
//                                    setConsumables();
//                                }
//                                else
//                                {
////                                    alert('Consumable Error');
//                                }
//                            }
//                        });
                        history.replaceState({
                            nation: nation,
                            shipType: shipType,
                            ship: ship
                        }, nation + shipType + ship, live + '/WarshipStats?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&modules=' + modules + '&upgrades=' + upgrades + '&flags=' + flags + '&skills=' + btoa(encodeURIComponent(JSON.stringify(skills))) + '&camo=' + camouflage + '&mobile=' + mobile + '&consumables=' + consumables + '&adrenalineValue=' + adrenalineValue + '&commander=' + encodeURIComponent(commander) + '&uSkills=' + btoa(encodeURIComponent(JSON.stringify(uSkills))));
                    }
                    else
                    {
                        var html = '<div class="shipAPIData" id="shipAPIData"><h2>Wrong path of research</h2></div>';

                        $('.shipAPIData').replaceWith(html);
                    }
                }
            });
        }
    }

    function fragments(nationOriginal, shipTypeOriginal, shipOriginal)
    {
        nation = nationOriginal.replace(/ /g, '+');
        shipType = shipTypeOriginal.replace(/ /g, '+');
        ship = shipOriginal.replace(/ /g, '+');

        if (shipType == 'AirCarrier')
        {
            maxFlagPts = 4;
            $('[aria-describedby=flags]').find('.ui-dialog-title').text('Flags 0 / ' + maxFlagPts);
        }
        else
        {
            maxFlagPts = 8;
            $('[aria-describedby=flags]').find('.ui-dialog-title').text('Flags 0 / ' + maxFlagPts);
        }

        var url = live + '/warship?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship);

        $.ajax({
            url: url,
            type: 'post',
            success: function (data) {
                $('.button_skill_selected').attr('class', 'button_skill');
                $('.button_uSkill_selected').attr('class', 'button_uSkill');
                $('.button_flag_selected').attr('class', 'button_flag');
                $('.button_consumable_selected').attr('class', 'button_consumable');

                $('.warshipData').replaceWith(data);

                $('.button_uSkill_selected').attr('class', 'button_uSkill');
                $('#uniqueSkillsTable').find('tr').hide();
                $('#uniqueSkillsTable').hide();

                commander = 'default';
                $('#commanderSelect').val(commander);
                changeSkillDescription();

                callAPI();
            }
        });
    }

    $(window).on('popstate', function () {
        history.go(document.location);
    });

    $(document).on('click', '#shortenURL', function () {
        var longUrl = encodeURIComponent(window.location.href);

        $.ajax({
            url: '/shortenUrl',
            type: 'post',
            contentType: "application/json",
            data: longUrl,
            success: function (data) {
                $('#shortenUrlAddress').val(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

    $(document).on('click', '#stockCompareCheckBox, #upgradeCompareCheckBox', function ()
    {
        var clickedId = $(this).attr('id');
        var clicked = $(this).is(':checked');
        var comparisonList = $('[name=comparison]');

        for (var i = 0; i < comparisonList.length; i++)
        {
            var current = comparisonList.eq(i);

            if (current.attr('id') !== clickedId && clicked)
            {
                current.prop('checked', !clicked)
            }
        }

        callAPI();
    });

    $(document).on('click', '#changeDevice', function () {
        mobile = true;

        var url = window.location.href;

        if (url.includes('mobile'))
        {
            url = url.replace('mobile=false', 'mobile=' + mobile);
        }
        else
        {
            if (url.includes('warship'))
            {
                url = url + '&mobile=' + mobile;
            }
            else
            {
                url = url + '?mobile=' + mobile;
            }
        }

        location.href = url;
    });

    $(document).on('click', '.button_consumable', function () {
        var id = $(this).attr('name');
        var abil = $(this).attr('class').split(' ')[1];
        var abilDot = '.' + abil;

        $('.consumablesStats' + abilDot).attr('style', 'display: none;');
        $('.button_consumable_selected' + abilDot).attr('class', 'button_consumable ' + abil);

        $('#' + id).removeAttr('style');
        $('[name=' + id + ']').attr('class', 'button_consumable_selected ' + abil);

        var selectedConsumables = $('.button_consumable_selected');
        consumables = [];
        for (var i = 0; i < selectedConsumables.length; i++)
        {
            var consumableId = selectedConsumables[i].getAttribute('name');

            consumables.push(consumableId);
        }

        history.replaceState({
            nation: nation,
            shipType: shipType,
            ship: ship
        }, nation + shipType + ship, live + '/WarshipStats?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&modules=' + modules + '&upgrades=' + upgrades + '&flags=' + flags + '&skills=' + btoa(encodeURIComponent(JSON.stringify(skills))) + '&camo=' + camouflage + '&mobile=' + mobile + '&consumables=' + consumables + '&adrenalineValue=' + adrenalineValue + '&commander=' + encodeURIComponent(commander) + '&uSkills=' + btoa(encodeURIComponent(JSON.stringify(uSkills))));
    });

    $(document).on('change', '#commanderSelect', function ()
    {
        commander = $('#commanderSelect').val();
        var tempCommander = commander.replace(' ', '');
        uSkills = [];

        $('.button_uSkill_selected').attr('class', 'button_uSkill');
        $('#uniqueSkillsTable').find('tr').hide();
        $('#uniqueSkillsTable').hide();
        var commanderUSkills = $('#uniqueSkillsTable').find('tr');
        for (var i = 0; i < commanderUSkills.length; i++)
        {
            var currentId = commanderUSkills.eq(i).attr('id');
            if (tempCommander === currentId)
            {
                $('#' + tempCommander).show();
                $('#uniqueSkillsTable').show();
                break;
            }
        }

        changeSkillDescription();

        history.replaceState({
            nation: nation,
            shipType: shipType,
            ship: ship
        }, nation + shipType + ship, live + '/WarshipStats?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&modules=' + modules + '&upgrades=' + upgrades + '&flags=' + flags + '&skills=' + btoa(encodeURIComponent(JSON.stringify(skills))) + '&camo=' + camouflage + '&mobile=' + mobile + '&consumables=' + consumables + '&adrenalineValue=' + adrenalineValue + '&commander=' + encodeURIComponent(commander) + '&uSkills=' + btoa(encodeURIComponent(JSON.stringify(uSkills))));

//        if ($('.button_skill_selected').length > 0)
//        {
            callAPI();
//        }
    });

    function changeSkillDescription()
    {
        if (commander === 'Steven Seagal')
        {
            $('#1_2').attr('title', '-75% to reload time when the shell type is switched');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
        }
        else if (commander === 'Jack Dunkirk')
        {
            $('#2_1').attr('title', '-10% to reload time of all mounted consumables');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_4').attr('title', '+30% to the radius of the smoke screen');
        }
        else if (commander === 'Jean-Jacques Honoré')
        {
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_6').attr('title', '-0.25% to reload time of all types of armament for each 1% HP lost');
        }
        else if (commander === 'default')
        {
            $('#1_2').attr('title', '-50% to reload time when the shell type is switched');
            $('#2_1').attr('title', '-5% to reload time of all mounted consumables');
            $('#2_2').attr('title', '+2.5deg/s to traverse speed of guns with a caliber up to 139 mm\n+0.7deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_4').attr('title', '+20% to the radius of the smoke screen');
        }
    }

//    $(window).scroll(function () {
//        var position = document.getElementById('main').getBoundingClientRect().top;
//
//        if (position < height2)
//        {
//            $('#top').hide();
//            if ($('#shipsList').attr('style') === undefined)
//            {
//                $('#shipsList').attr('style', 'top: 0; position: fixed; width: 100%;');
//                $('#main').attr('style', 'margin-top: ' + height1 + 'px;')
//            }
//        }
//        else if (position === height1 && $('#shipsList').attr('style') !== undefined)
//        {
//            $('#top').show();
//            if ($('#shipsList').attr('style') !== undefined)
//            {
//                $('#shipsList').removeAttr('style');
//                $('#main').removeAttr('style');
//            }
//        }
//    });

    //    ]]>
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5900f83364f23d19a89af69f/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>