<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="angleSectorArtyPage">
    <script th:inline="javascript">
    //    <![CDATA[

        $(function () {
            var dataIndex = [[${dataIndex}]];
            artyArray[dataIndex] = [[${shipAPI}]]['shipComponents']['artillery'];
        });

    //    ]]>
    </script>
    <div id="artilleryCanvasDiv" title="Artillery Sector">
        <canvas id="artilleryCanvas" width="250" height="250">
        </canvas>
    </div>
</th:block>
</body>
</html>
