<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="consumablesDataFragment" th:fragment="consumablesDataFragment" th:unless="${shipAPI.shipComponents.shipAbilities == null}">
    <div class="consumablesIcon">
        <div class="consumablesIcon" th:with="ability=${shipAPI.shipComponents.shipAbilities.abilitySlot0}" th:if="${shipAPI.shipComponents.shipAbilities.abilitySlot0.abils.size() > 0}">
            <th:block th:each="consumable : ${ability.abils}">
                <li th:each="abil : ${shipAPI.shipComponents.abilities}" th:if="${abil.key == consumable[0]}">
                    <button th:each="type : ${abil.value.types}" th:if="${type.key == consumable[1]}" th:name="${consumable[0] + '_' + consumable[1]}" th:class="${consumables != null and #sets.contains(consumables, consumable[0] + '_' + consumable[1]) ? 'button_consumable_selected abil0' : 'button_consumable abil0'}" th:attr="data-position='0'">
                        <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                        <span th:text="${abil.value.globalName}"></span>
                    </button>
                </li>
            </th:block>
        </div>
        <div class="consumablesIcon" th:with="ability=${shipAPI.shipComponents.shipAbilities.abilitySlot1}" th:if="${shipAPI.shipComponents.shipAbilities.abilitySlot1.abils.size() > 0}">
            <th:block th:each="consumable : ${ability.abils}">
                <li th:each="abil : ${shipAPI.shipComponents.abilities}" th:if="${abil.key == consumable[0]}">
                    <button th:each="type : ${abil.value.types}" th:if="${type.key == consumable[1]}" th:name="${consumable[0] + '_' + consumable[1]}" th:class="${consumables != null and #sets.contains(consumables, consumable[0] + '_' + consumable[1]) ? 'button_consumable_selected abil1' : 'button_consumable abil1'}" th:attr="data-position='1'">
                        <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                        <span th:text="${abil.value.globalName}"></span>
                    </button>
                </li>
            </th:block>
        </div>
        <div class="consumablesIcon" th:with="ability=${shipAPI.shipComponents.shipAbilities.abilitySlot2}" th:if="${shipAPI.shipComponents.shipAbilities.abilitySlot2.abils.size() > 0}">
            <th:block th:each="consumable : ${ability.abils}">
                <li th:each="abil : ${shipAPI.shipComponents.abilities}" th:if="${abil.key == consumable[0]}">
                    <button th:each="type : ${abil.value.types}" th:if="${type.key == consumable[1]}" th:name="${consumable[0] + '_' + consumable[1]}" th:class="${consumables != null and #sets.contains(consumables, consumable[0] + '_' + consumable[1]) ? 'button_consumable_selected abil2' : 'button_consumable abil2'}" th:attr="data-position='2'">
                        <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                        <span th:text="${abil.value.globalName}"></span>
                    </button>
                </li>
            </th:block>
        </div>
        <div class="consumablesIcon" th:with="ability=${shipAPI.shipComponents.shipAbilities.abilitySlot3}" th:if="${shipAPI.shipComponents.shipAbilities.abilitySlot3.abils.size() > 0}">
            <th:block th:each="consumable : ${ability.abils}">
                <li th:each="abil : ${shipAPI.shipComponents.abilities}" th:if="${abil.key == consumable[0]}">
                    <button th:each="type : ${abil.value.types}" th:if="${type.key == consumable[1]}" th:name="${consumable[0] + '_' + consumable[1]}" th:class="${consumables != null and #sets.contains(consumables, consumable[0] + '_' + consumable[1]) ? 'button_consumable_selected abil3' : 'button_consumable abil3'}" th:attr="data-position='3'">
                        <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                        <span th:text="${abil.value.globalName}"></span>
                    </button>
                </li>
            </th:block>
        </div>
        <div class="consumablesIcon" th:with="ability=${shipAPI.shipComponents.shipAbilities.abilitySlot4}" th:if="${shipAPI.shipComponents.shipAbilities.abilitySlot4.abils.size() > 0}">
            <th:block th:each="consumable : ${ability.abils}">
                <li th:each="abil : ${shipAPI.shipComponents.abilities}" th:if="${abil.key == consumable[0]}">
                    <button th:each="type : ${abil.value.types}" th:if="${type.key == consumable[1]}" th:name="${consumable[0] + '_' + consumable[1]}" th:class="${consumables != null and #sets.contains(consumables, consumable[0] + '_' + consumable[1]) ? 'button_consumable_selected abil4' : 'button_consumable abil4'}" th:attr="data-position='4'">
                        <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                        <span th:text="${abil.value.globalName}"></span>
                    </button>
                </li>
            </th:block>
        </div>
    </div>
</div>
</html>