<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block  th:if="${warship != null}" th:fragment="rightTab">
        <div class="tabs">
            <div data-direction="right" class="button_tab" data-type="flightControl" th:if="${!#maps.isEmpty(warship.components.flightControl)}" th:classappend="'select'">Flight Control</div>
            <div data-direction="right" class="button_tab" data-type="fighters" th:if="${!#maps.isEmpty(warship.components.fighter)}">Fighter</div>
            <div data-direction="right" class="button_tab" data-type="diveBombers" th:if="${!#maps.isEmpty(warship.components.diveBomber)}">Dive Bomber</div>
            <div data-direction="right" class="button_tab" data-type="torpBombers" th:if="${!#maps.isEmpty(warship.components.torpedoBomber)}">Torpedo Bomber</div>
            <div data-direction="right" class="button_tab" data-type="artillery" th:if="${!#maps.isEmpty(warship.components.artillery)}" th:classappend="'select'" th:text="${global.get('IDS_SHIP_PARAM_WEAPONRY')}"></div>
            <!--<div data-direction="right" class="button_tab" data-type="heShells" th:if="${shipAPI.artillery != null and shipAPI.artillery.shells != null and shipAPI.artillery.shells.?[value.type == 'HE'].size() > 0}">HE Shell</div>-->
            <!--<div data-direction="right" class="button_tab" data-type="apShells" th:if="${shipAPI.artillery != null and shipAPI.artillery.shells != null and shipAPI.artillery.shells.?[value.type == 'AP'].size() > 0}">AP Shell</div>-->
            <div data-direction="right" class="button_tab" data-type="torpedoes" th:if="${!#maps.isEmpty(warship.components.torpedoes)}">Torpedoes</div>
            <div data-direction="right" class="button_tab" data-type="airDefense" th:text="${global.get('IDS_SHIP_PARAM_AA_AURA')}"></div>
            <div data-direction="right" class="button_tab" data-type="secondary" th:if="${!#maps.isEmpty(warship.components.atba)}">Secondary</div>
            <div data-direction="right" class="button_tab" data-type="hull" th:if="${!#maps.isEmpty(warship.components.hull)}">Hull</div>
            <div data-direction="right" class="button_tab" data-type="mobility" th:if="${!#maps.isEmpty(warship.components.engine)}">Mobility</div>
            <div data-direction="right" class="button_tab" data-type="consumables" th:if="${warship.shipAbilities.entrySet().?[!#lists.isEmpty(value.abils)]}">Consumables</div>
        </div>
    </th:block>
</body>
</html>