<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="warshipData" th:fragment="warshipStats" th:attr="data-api-index=${single ? '0' : dataIndex}">
    <div id="notification" style="text-align: center;" th:if="${single and warship == null}">
        <h2>Click on a ship for fitting.</h2>
    </div>
    <div class="ship" th:id="${warship.index}" th:attr="data-ship-index=${single ? '0' : dataIndex}" th:if="${warship != null}">
        <div class="name">
            <img th:src="${warship.typeImage}"/><br />
            <span th:text="${'Tier ' + warship.level}"></span><br />
            <span th:text="${global.get(IDS + warship.typeinfo.species.toUpperCase())}"></span><br />
            <strong style="font-size: 2em;" th:text="${global.get(IDS + warship.index.toUpperCase() + '_FULL')}"></strong><br />
            <img th:title="${global.get(IDS + warship.index +'_DESCR')}" th:src="${warship.imageMedium}" /><br />
            <br />
        </div>
        <div class="info_box">
            <div class="inner_info">
                <div class="left_tabs">
                    <div class="button_tab left select" data-type="modules" th:text="${global.get(IDS + 'MODULES')}"></div>
                    <div class="button_tab left" data-type="upgrades" th:text="${global.get(IDS + 'MODERNIZATION')}"></div>
                    <div class="button_tab left" data-type="crewSkills" th:text="${global.get(IDS + 'CREW_PERKS')}"></div>
                    <div class="button_tab left" data-type="flags" th:text="${global.get(IDS + 'FLAG')}"></div>
                    <div class="button_tab left" data-type="consumables" th:text="${global.get(IDS + 'TITLE_CONSUMABLES')}"></div>
                </div>
                <div class="left_info_box">
                    <div class="panel_left show" data-type="modules">
                        <table>
                            <tbody>
                                <tr th:each="i : ${#numbers.sequence(1, warship.ShipUpgradeInfo.maxRows)}">
                                    <th:block th:each="col : ${warship.ShipUpgradeInfo.cols}" th:if="${col.value > 0}">
                                        <th:block th:with="modules=${warship.ShipUpgradeInfo.components.get(col.key).?[position == __${i}__]}">
                                            <td th:each="module : ${modules}">
                                                <button th:class="'button_module'" th:attr="data-index=${colStat.index}, data-type=${module.ucTypeShort}, data-position=${module.position},
                                                data-prev-type=${module.prevType}, data-prev-position=${module.prevPosition}" th:classappend="${module.position == 1 ? 'select' : ''}">
                                                    <img th:src="${module.image}" /><br />
                                                    <span th:text="${global.get(IDS + module.name.toUpperCase())}"></span>
                                                </button>
                                            </td>
                                            <td th:each="j : ${#numbers.sequence(1, col.value - modules.size())}" th:if="${col.value > modules.size()}">
                                            </td>
                                        </th:block>
                                    </th:block>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel_left hide" data-type="upgrades">
                        <div th:each="slot : ${upgrades}">
                            <li th:each="upgrade : ${slot.value}"
                                th:if="${(!#lists.contains(upgrade.value.excludes, warship.name) and #lists.contains(upgrade.value.group, warship.group) and #lists.contains(upgrade.value.nation, warship.typeinfo.nation)
                                        and #lists.contains(upgrade.value.shiptype, warship.typeinfo.species) and #lists.contains(upgrade.value.shiplevel, warship.level)) or #lists.contains(upgrade.value.ships, warship.name)}">
                                <button th:title="${upgrade.value.description}" th:class="'button_upgrade'" th:id="${upgrade.key}" th:attr="data-index=${slotStat.index}, data-position=${upgradeStat.index + 1}">
                                    <img th:src="${upgrade.value.image}" /><br />
                                    <span th:text="${global.get(IDS + 'TITLE_' + upgrade.key.toUpperCase())}"></span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <div class="panel_left hide" data-type="crewSkills">
                        <table id="skillsTable" align="center" style="height: 418px;">
                            <tbody>
                            <tr th:each="skillTier : ${skills.cSkills}">
                                <td th:each="skill : ${skillTier}">
                                    <button th:title="${skill.description}" th:class="'button_skill'" th:attr="data-index=${skillTierStat.index}, data-position=${skillStat.index}">
                                        <img th:src="${skill.image}"/><br />
                                        <span th:text="${global.get(IDS + 'SKILL_' + skill.modifier.toUpperCase())}"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel_left hide" data-type="flags">
                    </div>
                    <div class="panel_left hide" data-type="consumables">
                        <th:block th:each="shipAbil : ${warship.ShipAbilities}" th:with="ability = ${shipAbil.value}">
                            <div class="consumablesIcon" th:if="${ability.abils.size() > 0}">
                                <li th:each="consumable : ${ability.abils}" th:if="${!consumable[0].contains('Super')}">
                                    <button th:title="${global.get(IDS + 'DOCK_CONSUME_DESCRIPTION_' + consumable[0].toUpperCase())}" class="button_consumable"
                                            th:attr="data-index=${shipAbilStat.index}, data-position=${consumableStat.index + 1}">
                                        <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                                        <span th:text="${global.get(IDS + 'DOCK_CONSUME_TITLE_' + consumable[0].toUpperCase())}"></span>
                                    </button>
                                </li>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <th:block th:if="${!single}">
                <br />
                <br />
            </th:block>
            <div class="inner_info">
            </div>
        </div>
    </div>
</div>
</body>
</html>