<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="warshipStats">
    <div id="notification" style="text-align: center;" th:if="${single and warship == null}">
        <strong>Click on a ship for fitting.</strong>
    </div>
    <div class="ship" th:name="${warship.index}" th:attr="data-ship-index=${single ? '0' : dataIndex}" th:if="${warship != null}">
        <div class="name">
            <img th:src="${warship.typeImage}"/><br />
            <strong style="font-size: 1em;" th:text="${global.get(IDS + warship.typeinfo.nation.toUpperCase()) + ' ' + global.get(IDS + warship.typeinfo.species.toUpperCase())}"></strong><br />
            <strong style="font-size: 2em;" th:text="${global.get(IDS + warship.index.toUpperCase() + '_FULL')}"></strong><br />
            <!--<img th:title="${global.get(IDS + warship.index +'_DESCR')}" th:src="${warship.imageSmall}" /><br />-->
            <br />
        </div>
        <div class="info_box">
            <div class="info_box_inner">
                <div class="panel_left" data-type="modules">
                    <table>
                        <tbody>
                            <tr th:each="i : ${#numbers.sequence(1, warship.shipUpgradeInfo.maxRows)}">
                                <th:block th:each="col : ${warship.shipUpgradeInfo.cols}" th:if="${col.value > 0}">
                                    <th:block th:with="mods=${warship.shipUpgradeInfo.components.get(col.key).?[position == __${i}__]}">
                                        <td th:each="module : ${mods}">
                                            <button th:class="'button_module'" th:attr="data-index=${colStat.index}, data-type=${module.ucTypeShort}, data-position=${module.position},
                                                    data-prev-type=${module.prevType}, data-prev-position=${module.prevPosition}"
                                                    th:classappend="${(warship.modules.size() > 0 and module.components.get(module.ucTypeShort).contains(warship.modules.get(module.ucTypeShort))) or (warship.modules.size() == 0 and module.position == 1) ? 'select' : ''}">
                                                <img th:src="${module.image}" /><br />
                                                <span th:text="${global.get(IDS + module.name.toUpperCase())}"></span>
                                            </button>
                                        </td>
                                        <td th:each="j : ${#numbers.sequence(1, col.value - mods.size())}" th:if="${col.value > mods.size()}">
                                        </td>
                                    </th:block>
                                </th:block>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel_left" data-type="upgrades" th:with="selection=${warship.sUpgrades}">
                    <ul th:each="slot : ${warship.upgrades}">
                        <li>
                            <button class="button_upgrade" th:classappend="${selection .size() == 0 or selection.get(slotStat.index) == 0 ? 'select' : 'hide'}"
                                    th:attr="data-index=${slotStat.index}, data-position=${0}">+</button>
                        </li>
                        <li th:each="upgrade : ${slot}">
                            <button th:class="'button_upgrade'" th:classappend="${selection.size() > 0 and selection.get(slotStat.index) == upgradeStat.index + 1 ? 'select' : 'hide'}"
                                    th:attr="data-index=${slotStat.index}, data-position=${upgradeStat.index + 1}">
                                <img th:src="${upgrade.image}" />
                                <table class="tooltip">
                                    <tbody>
                                    <tr><td colspan="2"><th:block th:utext="${global.get(IDS + 'TITLE_' + upgrade.name.toUpperCase())}"></th:block></td></tr>
                                    <tr><td colspan="2">&nbsp;</td></tr>
                                    <tr><td colspan="2"><th:block th:utext="${#strings.replace(global.get(IDS + 'DESC_' + upgrade.name.toUpperCase()), '&#10', '<br />')}"></th:block></td></tr>
                                    <th:block th:each="b : ${upgrade.bonus}" th:with="desc=${global.get(IDS + b.key) != null ? global.get(IDS + b.key) : global.get(IDS + b.key + '_MODERNIZATION')}">
                                        <tr th:if="${desc != null}" class="tooltip_desc">
                                            <td th:utext="${desc}"></td>
                                            <td th:utext="${b.value}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="panel_left" data-type="crewSkills">
                    <div class="switch" data-type="skills">
                        <strong th:text="${global.get('IDS_CREW_PERKS')} + ' : '"></strong><strong class="points">0</strong><strong> / 19</strong>
                    </div>
                    <table class="toggle skills">
                        <tbody>
                        <tr th:each="skillTier : ${skills.cSkills}">
                            <td th:each="skill : ${skillTier}">
                                <button th:class="'button_skill'" th:classappend="${warship.sSkills.get(skillTierStat.index * 8 + skillStat.index) == 1 ? 'select' : ''}"
                                        th:attr="data-index=${skillTierStat.index}, data-position=${skillStat.index}">
                                    <img th:src="${skill.image}"/>
                                    <table class="tooltip">
                                        <tbody>
                                        <tr><td colspan="2" th:utext="${global.get(IDS + 'SKILL_' + skill.modifier.toUpperCase())}"></td></tr>
                                        <tr><td colspan="2">&nbsp;</td></tr>
                                        <tr><td colspan="2" th:utext="${#strings.replace(global.get(IDS + 'SKILL_DESC_' + skill.modifier.toUpperCase()), '&#10', '<br />')}"></td></tr>
                                        <th:block th:each="b : ${skill.bonus}" th:with="desc=${global.get(IDS + b.key)}">
                                            <tr th:if="${desc != null}" class="tooltip_desc">
                                                <td th:utext="${desc}"></td>
                                                <td th:utext="${b.value}"></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <!--</div>-->
        <!--<div class="info_box">-->
            <th:block th:replace="Joint/rightInfo :: rightInfo"></th:block>
        </div>
    </div>
</th:block>
</body>
</html>