<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="warshipStats">
    <div id="notification" style="text-align: center;" th:if="${single and warship == null}">
        <strong>Click on a ship for fitting.</strong>
    </div>
    <div class="ship" th:name="${warship.index}" th:attr="data-ship-index=${single ? '0' : dataIndex}" th:if="${warship != null}">
        <div class="name">
            <img th:src="${warship.typeImage}"/><br />
            <span th:text="${'Tier ' + warship.level}"></span><br />
            <span th:text="${global.get(IDS + warship.typeinfo.species.toUpperCase())}"></span><br />
            <strong style="font-size: 2em;" th:text="${global.get(IDS + warship.index.toUpperCase() + '_FULL')}"></strong><br />
            <!--<img th:title="${global.get(IDS + warship.index +'_DESCR')}" th:src="${warship.imageSmall}" /><br />-->
            <br />
        </div>
        <div class="info_box">
            <!--<div class="tabs">-->
                <!--<div data-direction="left" class="button_tab" data-type="modules" th:text="${global.get(IDS + 'MODULES')}" th:classappend="'select'"></div>-->
                <!--<div data-direction="left" class="button_tab" data-type="upgrades" th:text="${global.get(IDS + 'MODERNIZATION')}"></div>-->
                <!--<div data-direction="left" class="button_tab" data-type="crewSkills" th:text="${global.get(IDS + 'CREW_PERKS')}"></div>-->
                <!--&lt;!&ndash;<div data-direction="left" class="button_tab" data-type="flags" th:text="${global.get(IDS + 'FLAG')}"></div>&ndash;&gt;-->
                <!--<div data-direction="left" class="button_tab" data-type="consumables" th:text="${global.get(IDS + 'TITLE_CONSUMABLES')}"></div>-->
            <!--</div>-->
            <div class="info_box_inner">
                <div class="panel_left" data-type="modules">
                    <table>
                        <tbody>
                            <tr th:each="i : ${#numbers.sequence(1, warship.ShipUpgradeInfo.maxRows)}">
                                <th:block th:each="col : ${warship.ShipUpgradeInfo.cols}" th:if="${col.value > 0}">
                                    <th:block th:with="mods=${warship.ShipUpgradeInfo.components.get(col.key).?[position == __${i}__]}">
                                        <td th:each="module : ${mods}">
                                            <button th:class="'button_module'" th:attr="data-index=${colStat.index}, data-type=${module.ucTypeShort}, data-position=${module.position},
                                                    data-prev-type=${module.prevType}, data-prev-position=${module.prevPosition}"
                                                    th:classappend="${(warship.modules.size() > 0 and module.components.get(module.ucTypeShort).contains(warship.modules.get(module.ucTypeShort))) or (warship.modules.size() == 0 and module.position == 1) ? 'select' : ''}">
                                                <img th:src="${module.image}" /><br />
                                                <span th:text="${global.get(IDS + module.name.toUpperCase())}"></span>
                                            </button>
                                        </td>
                                        <td th:each="j : ${#numbers.sequence(1, col.value - mods.size())}" th:if="${col.value > mods.size()}">
                                        </td>
                                    </th:block>
                                </th:block>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel_left" data-type="upgrades">
                    <ul th:each="slot : ${warship.upgrades}">
                        <li><button class="button_upgrade select" th:attr="data-index=${slotStat.index}, data-position=${0}">+</button></li>
                        <li th:each="upgrade : ${slot}">
                            <button th:class="'button_upgrade'"
                                    th:title="${global.get(IDS + 'TITLE_' + upgrade.name.toUpperCase()) + '&#013&#013' + upgrade.description}"
                                    th:attr="data-index=${slotStat.index}, data-position=${upgradeStat.index + 1}" th:classappend="'hide'">
                                <img th:src="${upgrade.image}" /><br />
                            </button>
                        </li>
                    </ul>
                    <!--<ul><li>&nbsp;&nbsp;&nbsp;</li></ul>-->
                    <!--<ul th:each="slot : ${warship.consumables}">-->
                        <!--<li th:each="consumable : ${slot}">-->
                            <!--<button class="button_consumable" th:classappend="${consumableStat.index == 0 ? 'select' : 'hide'}"-->
                                    <!--th:title="${global.get(IDS + 'DOCK_CONSUME_TITLE_' + consumable.name.toUpperCase()) + '&#013&#013' + consumable.description}"-->
                                    <!--th:attr="data-index=${slotStat.index}, data-position=${consumableStat.index + 1}">-->
                                <!--<img th:src="${'/images/Consumables/' + consumable.name + '.png'}"/><br />-->
                            <!--</button>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
                <div class="panel_left" data-type="crewSkills">
                    <table>
                        <tbody>
                        <tr th:each="skillTier : ${skills.cSkills}">
                            <td th:each="skill : ${skillTier}">
                                <button th:title="${global.get(IDS + 'SKILL_' + skill.modifier.toUpperCase()) + '&#013&#013' + skill.description}" th:class="'button_skill'" th:attr="data-index=${skillTierStat.index}, data-position=${skillStat.index}">
                                    <img th:src="${skill.image}"/><br />
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="panel_left" data-type="flags">-->
                <!--</div>-->
            </div>

            <div th:replace="Joint/rightInfo :: rightInfo"></div>
            <!--<th:block th:include="Joint/rightTab :: rightTab"></th:block>-->
        </div>
    </div>
</th:block>
</body>
</html>