<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        //    <![CDATA[
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event:'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5KDG7W6');
        //    ]]>
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/FittingTool/FittingTool.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<noscript>
    //    <![CDATA[
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    //    ]]>
</noscript>
<header>
    <div th:include="top :: top" id="top">
    </div>
    <div id="shipsList">
        <nav>
            <ul>
                <li th:each="nation : ${nations}">
                    <th:block th:each="eNation : ${encyclopedia.ship_nations}" th:if="${nation.key == eNation.key}">
                        <span th:text="${eNation.value}" />
                    </th:block>
                    <ul>
                        <li th:each="shipType : ${nation.value}">
                            <span th:text="${shipType.key}" />
                            <ul>
                                <li th:each="ship : ${shipType.value}" th:if="${ship.key != 'Test Ship'}">
                                    <span th:with='cleaned=${#strings.replace(ship.key, "&apos;", "&#92;&apos;")}' th:text="${ship.value.tier + ' - ' + ship.key}" th:onclick="'fragments(\'' + ${nation.key} + '\', \'' + ${shipType.key} + '\', \'' + ${cleaned} + '\')'"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="text" id="shortenUrlAddress"/><button id="shortenURL">Shorten URL</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main id="main">
    <div class="warshipData" th:include="FittingTool/ftShipSelect :: warshipStats"></div>
    <th:block th:include="bottom"></th:block>
</main>
<th:block th:include="channel :: channel"></th:block>
<script th:inline="javascript">
//    <![CDATA[

    var nation = /*[[${nation}]]*/ '';
    var shipType = /*[[${shipType}]]*/ '';
    var ship = /*[[${ship}]]*/ '';


    var maxFlagPts = 8;

    var adrenalineValue = /*[[${adrenalineValue}]]*/ 100;
    adrenalineValue = adrenalineValue === null ? 100 : adrenalineValue;

    var waitTime = 1000;
    var timer;
    var rightPanelOpen = '';

    $().ready(function () {
        if ([[${url}]] !== null)
        {
            callAPI();
            setCaptainSkillPoints();
            setFlags();
            changeSkillDescription();
        }
    });

    $(document).on('click', '.button_module', function(){
        var clickedId = $(this).attr('id');
        var selectedModules = document.getElementsByName($(this).attr('name'));

        for (var i = 0; i < selectedModules.length; i++)
        {
            var buttonId = selectedModules[i].getAttribute('id').replace('li_', '');
            document.getElementById(buttonId).className = 'button_module';
        }
        document.getElementById(clickedId).className = 'button_module_selected';

        delayCall();
    });

    $(document).on('click', '.button_upgrade, .button_upgrade_selected', function () {
        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_upgrade')
        {
            var gParentElem = $(this).parent().parent();
            var parents = gParentElem.children();

            for (var i = 0; i < parents.length; i++)
            {
                var buttonId = parents[i].getAttribute('id').replace('li_', '');
                document.getElementById(buttonId).className = 'button_upgrade';
            }
            document.getElementById(clickedId).className = 'button_upgrade_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_upgrade';
        }

        delayCall();
    });

    function setCaptainSkillPoints()
    {
        var list = $('.button_skill_selected');

        var maxSpts = 19;
        var totalSpts = 0;

        for (var i = 0; i < list.length; i++)
        {
            var current = list.eq(i);

            totalSpts = totalSpts + parseInt(current.attr('tier'));
        }

        $('#totalSkillPoints').text('Skill Points ' + totalSpts.toString() + ' / ' + maxSpts.toString());
    }

    function setFlags()
    {
        var list = $('.button_flag_selected');

        if (shipType === 'AirCarrier')
        {
            maxFlagPts = 4;
        }
        else
        {
            maxFlagPts = 8;
        }

        var totalPts = list.length;

        $('#totalFlagsCount').text('Flags ' + totalPts.toString() + ' / ' + maxFlagPts.toString());
    }

    function setConsumables()
    {
        var list = /*[[${consumables}]]*/ [];
        list = list === null ? [] : list;

        var notSelected = $('.button_consumable');
        var selected = $('.button_consumable_selected');

        if (selected.length > 0)
        {
            list = [];

            for (var i = 0; i < selected.length; i++)
            {
                list.push(selected.eq(i).attr('name'));
            }
        }

        var allConsumables = [];
        for (var i = 0; i < notSelected.length; i++)
        {
            allConsumables.push(notSelected.eq(i).attr('name'));
        }
        for (var i = 0; i < selected.length; i++)
        {
            allConsumables.push(selected.eq(i).attr('name'));
        }

        for (var i = 0; i < list.length; i++)
        {
            var mismatch = true;

            for (var j = 0; j < allConsumables.length; j++)
            {
                if (list[i] == allConsumables[j])
                {
                    mismatch = false;
                    break;
                }
            }

            if (mismatch)
            {
                list = [];
                break;
            }
        }

        var consumableN = '';
        for (var i = 0; i < list.length; i++)
        {
            var current = list[i];
            var $this = $('[name=' + current + ']');
            var abil = $this.attr('class').split(' ')[1];
            var rowPos = $this.attr('data-position');

            $('[name=' + current + ']').attr('class', 'button_consumable_selected ' + abil);
            consumableN = consumableN + '&s' + rowPos + '=' + current;
            $('#' + current).removeAttr('style');
        }

        if ($('.button_consumable_selected').length == 0)
        {
            var abil0List = $('.abil0');
            var abil1List = $('.abil1');
            var abil2List = $('.abil2');
            var abil3List = $('.abil3');
            var abil4List = $('.abil4');

            if (abil0List.length !== 0)
            {
                abil0List.eq(0).attr('class', 'button_consumable_selected abil0');
                $('#' + abil0List.eq(0).attr('name')).removeAttr('style');
            }

            if (abil1List.length !== 0)
            {
                abil1List.eq(0).attr('class', 'button_consumable_selected abil1');
                $('#' + abil1List.eq(0).attr('name')).removeAttr('style');
            }

            if (abil2List.length !== 0)
            {
                abil2List.eq(0).attr('class', 'button_consumable_selected abil2');
                $('#' + abil2List.eq(0).attr('name')).removeAttr('style');
            }

            if (abil3List.length !== 0)
            {
                abil3List.eq(0).attr('class', 'button_consumable_selected abil3');
                $('#' + abil3List.eq(0).attr('name')).removeAttr('style');
            }

            if (abil4List.length !== 0)
            {
                abil4List.eq(0).attr('class', 'button_consumable_selected abil4');
                $('#' + abil4List.eq(0).attr('name')).removeAttr('style');
            }
        }

        doHistory();
    }

    $(document).on('click', '.button_skill, .button_skill_selected', function () {
        var maxSpts = 19;
        var currentSpts = 0;
        var clickedSpts = 0;
        var totalSpts = 0;

        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_skill')
        {
            clickedSpts = clickedSpts + parseInt($(this).attr('tier'));
        }
        else
        {
            clickedSpts = clickedSpts - parseInt($(this).attr('tier'));
        }

        var selected = document.getElementsByClassName('button_skill_selected');

        for (var i = 0; i < selected.length; i++)
        {
            currentSpts = currentSpts + parseInt(selected[i].getAttribute('tier'));
        }

        totalSpts = totalSpts + currentSpts + clickedSpts;

        if (document.getElementById(clickedId).className == 'button_skill')
        {
            if (totalSpts > maxSpts)
            {
                return false;
            }
            document.getElementById(clickedId).className = 'button_skill_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_skill';
        }

        $('#totalSkillPoints').text('Skill Points ' + totalSpts.toString() + ' / ' + maxSpts.toString());

        delayCall();
    });

    $(document).on('click', '.button_uSkill, .button_uSkill_selected', function () {
        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_uSkill')
        {
            document.getElementById(clickedId).className = 'button_uSkill_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_uSkill';
        }

        delayCall();
    });

    $(document).on('click', '.button_flag, .button_flag_selected', function () {
        var maxFlags = maxFlagPts;

        var clickedId = $(this).attr('id');
        var selected = document.getElementsByClassName('button_flag_selected');

        if (document.getElementById(clickedId).className == 'button_flag')
        {
            if (selected.length >= maxFlags)
            {
                return false;
            }
            document.getElementById(clickedId).className = 'button_flag_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_flag';
        }

        $('#totalFlagsCount').text('Flags ' + selected.length.toString() + ' / ' + maxFlags.toString());

        delayCall();
    });

    $(document).on('click', '#camouflageCheckbox', function () {
        delayCall();
    });

    $(document).on('input', '#arSlider', function () {
        $('#arValue').text($('#arSlider').val());
        delayCall();
    });

    function delayCall()
    {
        window.clearTimeout(timer);
        timer = window.setTimeout(function() {
            callAPI();
        }, waitTime);
    }

    function callAPI()
    {
        if ($('#ship').attr('name') != null)
        {
            var url = '/shipAPI?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&ship_id=' + $('#ship').attr('name');

            var selectedModules = $('.button_module_selected');
            var selectedUpgrades = $('.button_upgrade_selected');
            var selectedSkills = $('.button_skill_selected');
            var selectedUSkills = $('.button_uSkill_selected');
            var selectedFlags = $('.button_flag_selected');
            var selectedConsumables = $('.button_consumable_selected');

            var nthM = '';
            var nthU = '';
            var nthS = '';
            var nthUS = '';
            var nthF = '';
            var consumableN = '';

            var camouflage = $('#camouflageCheckbox').is(':checked');

            var tempSMArray = [];
            for (var i = 0; i < selectedModules.length; i++)
            {
                var mIndex = selectedModules.eq(i).attr('data-index');
                var rowPos = selectedModules.eq(i).attr('data-position');
                tempSMArray[rowPos] = mIndex;
            }
            for (var i = 0; i < tempSMArray.length; i++) {
                if (tempSMArray[i] !== undefined && tempSMArray !== null) {
                    nthM = nthM + tempSMArray[i].toString();
                }
                else {
                    nthM = nthM + String(1);
                }
            }
            url = url + '&moduleN=' + nthM;

            var tempSUArray = [];
            for (var i = 0; i < selectedUpgrades.length; i++)
            {
                var mIndex = selectedUpgrades.eq(i).attr('data-index');
                var rowPos = selectedUpgrades.eq(i).attr('data-position');
                tempSUArray[rowPos] = mIndex;
            }
            for (var i = 0; i < tempSUArray.length; i++) {
                if (tempSUArray[i] !== undefined && tempSUArray !== null) {
                    nthU = nthU + tempSUArray[i].toString();
                }
                else {
                    nthU = nthU + String(0);
                }
            }
            url = url + (nthU.length > 0 ? '&upgradeN=' + nthU : '');

            var tempSSArray = [];
            var isAR = false;
            for (var i = 0; i < selectedSkills.length; i++) {
                var mIndex = selectedSkills.eq(i).attr('data-index');
                var rowPos = selectedSkills.eq(i).attr('data-position');

                if (mIndex === '7' && rowPos === '1') {
                    isAR = true;
                }

                var tempIndex = (mIndex - 1) + (rowPos * 8);
                tempSSArray[tempIndex] = 1;
            }
            for (var i = 0; i < tempSSArray.length; i++) {
                if (tempSSArray[i] !== undefined && tempSSArray !== null) {
                    nthS = nthS + tempSSArray[i].toString();
                }
                else {
                    nthS = nthS + String(0);
                }
            }
            url = url + (nthS.length > 0 ? '&skillN=' + nthS : '') + (nthUS.length > 0 ? '&uSkillN=' + nthUS : '');

            var tempSUSArray = [];
            for (var i = 0; i < selectedUSkills.length; i++) {
                var mIndex = selectedUSkills.eq(i).attr('data-index');
                tempSUSArray[mIndex] = 1;
            }
            for (var i = 0; i < tempSUSArray.length; i++) {
                if (tempSUSArray[i] !== undefined && tempSUSArray !== null) {
                    nthUS = nthUS + tempSUSArray[i].toString();
                }
                else {
                    nthUS = nthUS + String(0);
                }
            }
            url = url + (nthUS.length > 0 ? '&uSkillN=' + nthUS : '');

            var commander = $('#commanderSelect').val();
            commander = commander === undefined || commander === null ? 'default' : commander;
            url = url + '&commander=' + encodeURIComponent(commander);

            if (camouflage === true) {
                url = url + '&camo=' + camouflage;
            }

            var tempFArray = [];
            for (var i = 0; i < selectedFlags.length; i++)
            {
                var mIndex = selectedFlags.eq(i).attr('data-index');
                tempFArray[mIndex] = 1;
            }
            for (var i = 0; i < tempFArray.length; i++) {
                if (tempFArray[i] !== undefined && tempFArray !== null) {
                    nthF = nthF + tempFArray[i].toString();
                }
                else {
                    nthF = nthF + String(0);
                }
            }
            url = url + (nthF.length > 0 ? '&flagN=' + nthF : '');

            var sliderValue = parseInt($('#arSlider').val());
            adrenalineValue = sliderValue === null || sliderValue === undefined || isNaN(sliderValue) || sliderValue === 100 ? 100 : sliderValue;
            url = url + (adrenalineValue === null || adrenalineValue === undefined || isNaN(adrenalineValue) || adrenalineValue === 100 ? '' : '&ar=' + adrenalineValue);

            for (var i = 0; i < selectedConsumables.length; i++) {
                var consumableId = selectedConsumables.eq(i).attr('name');
                var rowPos = selectedConsumables.eq(i).attr('data-position');
                consumableN = consumableN + '&s' + rowPos + '=' + consumableId;
            }
            url = url + consumableN;

            var uCompare = $('#upgradeCompareCheckBox').is(':checked');
            if (uCompare === true) {
                url = url + '&upgradeCompare=' + uCompare;
            }
            var sCompare = $('#stockCompareCheckBox').is(':checked');
            if (sCompare === true) {
                url = url + '&stockCompare=' + sCompare;
            }

            $.ajax({
                url: url,
                type: 'post',
                contentType: "application/json",
                success: function (data) {
                    if (data !== '')
                    {
                        $('#wrongPathAlert').attr('style', 'display: none;');
                        $('.right_side').html(data);
                        $('#consumables').html($('#consumablesDataFragment').html());
                        $('#consumablesDataFragment').remove();

                        setConsumables();
                        showPanelRight(rightPanelOpen);

                        doHistory();
                    }
                    else
                    {
                        $('#wrongPathAlert').attr('style', '');
                    }
                }
            });
        }
    }

    function fragments(nationOriginal, shipTypeOriginal, shipOriginal)
    {
        rightPanelOpen = '';
        nation = nationOriginal.replace(/ /g, '+');
        shipType = shipTypeOriginal.replace(/ /g, '+');
        ship = shipOriginal.replace(/ /g, '+');

        var warshipDom = $('.warshipData');
        warshipDom.html('');
        var tempInterval1 = setInterval(function () {
            if (warshipDom.html() === '') {
                clearInterval(tempInterval1);
            }
        }, 100);

        adrenalineValue = 100;
        var url = '/warship?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship);

        $.ajax({
            url: url,
            type: 'post',
            success: function (data) {
                $('.warshipData').replaceWith(data);

                var tempInterval2 = setInterval(function () {
                    var warshipCalled = $('#ship');
                    if (warshipCalled !== null && warshipCalled !== undefined && warshipCalled.html() !== '' && $('.button_module_selected').length > 0) {
                        clearInterval(tempInterval2);
                        setFlags();
                        callAPI();
                    }
                }, 500);
            }
        });
    }

    $(window).on('popstate', function () {
        history.go(document.location);
    });

    $(document).on('click', '#shortenURL', function () {
        var longUrl = encodeURIComponent(window.location.href);

        $.ajax({
            url: '/shortenUrl',
            type: 'post',
            contentType: "application/json",
            data: longUrl,
            success: function (data) {
                $('#shortenUrlAddress').val(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

    $(document).on('click', '#stockCompareCheckBox, #upgradeCompareCheckBox', function ()
    {
        var clickedId = $(this).attr('id');
        var clicked = $(this).is(':checked');
        var comparisonList = $('[name=comparison]');

        for (var i = 0; i < comparisonList.length; i++)
        {
            var current = comparisonList.eq(i);

            if (current.attr('id') !== clickedId && clicked)
            {
                current.prop('checked', !clicked)
            }
        }

        delayCall();
    });

    $(document).on('click', '.button_consumable', function () {
        var id = $(this).attr('name');
        var abil = $(this).attr('class').split(' ')[1];
        var abilDot = '.' + abil;

        $('.consumablesStats' + abilDot).attr('style', 'display: none;');
        $('.button_consumable_selected' + abilDot).attr('class', 'button_consumable ' + abil);

        $('#' + id).removeAttr('style');
        $('[name=' + id + ']').attr('class', 'button_consumable_selected ' + abil);

        var selectedConsumables = $('.button_consumable_selected');
        var consumableN = '';
        for (var i = 0; i < selectedConsumables.length; i++) {
            var consumableId = selectedConsumables.eq(i).attr('name');
            var rowPos = selectedConsumables.eq(i).attr('data-position');
            consumableN = consumableN + '&s' + rowPos + '=' + consumableId;
        }

        doHistory();
    });

    $(document).on('change', '#commanderSelect', function ()
    {
        var commander = $('#commanderSelect').val();
        var tempCommander = commander.replace(/ /g, '');

        $('.button_uSkill_selected').attr('class', 'button_uSkill');
        $('#uniqueSkillsTable').find('tr').hide();
        $('#uniqueSkillsTable').hide();
        var commanderUSkills = $('#uniqueSkillsTable').find('tr');
        for (var i = 0; i < commanderUSkills.length; i++)
        {
            var currentId = commanderUSkills.eq(i).attr('id');
            if (tempCommander === currentId)
            {
                $('#' + tempCommander).show();
                $('#uniqueSkillsTable').show();
                break;
            }
        }

        changeSkillDescription();
        delayCall();
        doHistory();
    });

    function changeSkillDescription()
    {
        var commander = $('#commanderSelect').val();
        commander = commander === undefined || commander === null ? 'default' : commander;

        if (commander === 'John Doe')
        {
            $('#1_2').attr('title', '-75% to reload time when the shell type is switched');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
        }
        else if (commander === 'George Doe')
        {
            $('#1_2').attr('title', '-75% to reload time when the shell type is switched');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
        }
        else if (commander === 'Jack Dunkirk')
        {
            $('#2_1').attr('title', '-10% to reload time of all mounted consumables');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_4').attr('title', '+30% to the radius of the smoke screen');
        }
        else if (commander === 'Bert Dunkirk')
        {
            $('#2_1').attr('title', '-10% to reload time of all mounted consumables');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_4').attr('title', '+30% to the radius of the smoke screen');
        }
        else if (commander === 'Jean-Jacques Honoré')
        {
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_6').attr('title', '-0.25% to reload time of all types of armament for each 1% HP lost');
        }
        else if (commander === 'Charles-Henri Honoré')
        {
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_6').attr('title', '-0.25% to reload time of all types of armament for each 1% HP lost');
        }
        else if (commander === 'Viktor Znamensky')
        {
            $('#1_1').attr('title', '-45% to the risk of incapacitation of modules');
            $('#2_0').attr('title', '-20% to reload time of the Damage Control Party consumable');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
        }
        else if (commander === 'Vasily Znamensky' || commander === 'Vasiliy Znamensky')
        {
            $('#1_1').attr('title', '-45% to the risk of incapacitation of modules');
            $('#2_0').attr('title', '-20% to reload time of the Damage Control Party consumable');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
        }
        else if (commander === 'Franz von Jütland')
        {
            $('#2_1').attr('title', '-10% to reload time of all mounted consumables');
            $('#3_7').attr('title', '+35% to acquisition range of torpedoes');
        }
        else if (commander === 'Reinhart von Jütland')
        {
            $('#2_1').attr('title', '-10% to reload time of all mounted consumables');
            $('#3_7').attr('title', '+35% to acquisition range of torpedoes');
        }
        else if (commander === 'Yamamoto Isoroku')
        {
            $('#1_1').attr('title', '-45% to the risk of incapacitation of modules');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
        }
        else if (commander === 'William F Halsey Jr')
        {
            $('#1_2').attr('title', '-75% to reload time when the shell type is switched');
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
        }
        else if (commander === 'Alexander Ovechkin')
        {
            $('#2_2').attr('title', '+3.0deg/s to traverse speed of guns with a caliber up to 139 mm\n+1.0deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#3_1').attr('title', '+400 hit points for each tier of the ship');
        }
        else if (commander === 'default')
        {
            $('#1_1').attr('title', '-30% to the risk of incapacitation of modules');
            $('#1_2').attr('title', '-50% to reload time when the shell type is switched');
            $('#2_0').attr('title', '-10% to reload time of the Damage Control Party consumable');
            $('#2_1').attr('title', '-5% to reload time of all mounted consumables');
            $('#2_2').attr('title', '+2.5deg/s to traverse speed of guns with a caliber up to 139 mm\n+0.7deg/s to traverse speed of guns with a caliber above 139 mm');
            $('#2_4').attr('title', '+20% to the radius of the smoke screen');
            $('#2_6').attr('title', '-0.2% to reload time of all types of armament for each 1% HP lost');
            $('#3_1').attr('title', '+350 hit points for each tier of the ship');
            $('#3_7').attr('title', '+25% to acquisition range of torpedoes');
        }
    }

    function showPanelLeft(type) {
        var tabs = $('.button_tab.left');
        for (var i = 0; i < tabs.length; i++)
        {
            var current = tabs.eq(i);
            current.removeClass('select');
        }
        $('#tab_left_' + type).addClass('select');

        var panels = $('.panel_left');
        for (var i = 0; i < panels.length; i++)
        {
            var current = panels.eq(i);
            current.addClass('hide');
        }
        $('#' + type).removeClass('hide');
    }

    function showPanelRight(type) {
        if (type === '') {
            return false;
        }

        var tabs = $('.button_tab.right');
        for (var i = 0; i < tabs.length; i++)
        {
            var current = tabs.eq(i);
            current.removeClass('select');
        }
        $('#tab_right_' + type).addClass('select');

        var panels = $('.panel_right');
        for (var i = 0; i < panels.length; i++)
        {
            var current = panels.eq(i);
            current.addClass('hide');
        }
        $('#' + type + 'Stats').removeClass('hide');

        rightPanelOpen = type;
    }

    function doHistory() {
        var selectedModules = $('.button_module_selected');
        var selectedUpgrades = $('.button_upgrade_selected');
        var selectedSkills = $('.button_skill_selected');
        var selectedUSkills = $('.button_uSkill_selected');
        var selectedFlags = $('.button_flag_selected');
        var selectedConsumables = $('.button_consumable_selected');

        var nthM = '';
        var nthU = '';
        var nthS = '';
        var nthUS = '';
        var nthF = '';
        var consumableN = '';
        var camouflage = $('#camouflageCheckbox').is(':checked');
        var commander = $('#commanderSelect').val();
        commander = commander === undefined || commander === null ? 'default' : commander;

        var tempSMArray = [];
        for (var i = 0; i < selectedModules.length; i++)
        {
            var mIndex = selectedModules.eq(i).attr('data-index');
            var rowPos = selectedModules.eq(i).attr('data-position');
            tempSMArray[rowPos] = mIndex;
        }
        for (var i = 0; i < tempSMArray.length; i++) {
            if (tempSMArray[i] !== undefined && tempSMArray !== null) {
                nthM = nthM + tempSMArray[i].toString();
            }
            else {
                nthM = nthM + String(1);
            }
        }

        var tempSUArray = [];
        for (var i = 0; i < selectedUpgrades.length; i++)
        {
            var mIndex = selectedUpgrades.eq(i).attr('data-index');
            var rowPos = selectedUpgrades.eq(i).attr('data-position');
            tempSUArray[rowPos] = mIndex;
        }
        for (var i = 0; i < tempSUArray.length; i++) {
            if (tempSUArray[i] !== undefined && tempSUArray !== null) {
                nthU = nthU + tempSUArray[i].toString();
            }
            else {
                nthU = nthU + String(0);
            }
        }

        var tempSSArray = [];
        var isAR = false;
        for (var i = 0; i < selectedSkills.length; i++) {
            var mIndex = selectedSkills.eq(i).attr('data-index');
            var rowPos = selectedSkills.eq(i).attr('data-position');

            if (mIndex === '7' && rowPos === '1') {
                isAR = true;
            }

            var tempIndex = (mIndex - 1) + (rowPos * 8);
            tempSSArray[tempIndex] = 1;
        }
        for (var i = 0; i < tempSSArray.length; i++) {
            if (tempSSArray[i] !== undefined && tempSSArray !== null) {
                nthS = nthS + tempSSArray[i].toString();
            }
            else {
                nthS = nthS + String(0);
            }
        }

        var tempSUSArray = [];
        for (var i = 0; i < selectedUSkills.length; i++) {
            var mIndex = selectedUSkills.eq(i).attr('data-index');
            tempSUSArray[mIndex] = 1;
        }
        for (var i = 0; i < tempSUSArray.length; i++) {
            if (tempSUSArray[i] !== undefined && tempSUSArray !== null) {
                nthUS = nthUS + tempSUSArray[i].toString();
            }
            else {
                nthUS = nthUS + String(0);
            }
        }

        var tempFArray = [];
        for (var i = 0; i < selectedFlags.length; i++)
        {
            var mIndex = selectedFlags.eq(i).attr('data-index');
            tempFArray[mIndex] = 1;
        }
        for (var i = 0; i < tempFArray.length; i++) {
            if (tempFArray[i] !== undefined && tempFArray !== null) {
                nthF = nthF + tempFArray[i].toString();
            }
            else {
                nthF = nthF + String(0);
            }
        }

        for (var i = 0; i < selectedConsumables.length; i++) {
            var consumableId = selectedConsumables.eq(i).attr('name');
            var rowPos = selectedConsumables.eq(i).attr('data-position');
            consumableN = consumableN + '&s' + rowPos + '=' + consumableId;
        }

        var adrenalineValue = parseInt($('#arSlider').val());
        adrenalineValue = adrenalineValue === null || adrenalineValue === undefined || isNaN(adrenalineValue) || adrenalineValue === 100 ? 100 : adrenalineValue;

        history.replaceState({
            nation: nation,
            shipType: shipType,
            ship: ship
        }, nation + shipType + ship, '/WarshipStats?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&moduleN=' + nthM + (nthU.length > 0 ? '&upgradeN=' + nthU : '') + (nthS.length > 0 ? '&skillN=' + nthS : '') + (nthUS.length > 0 ? '&uSkillN=' + nthUS : '') + '&commander=' + encodeURIComponent(commander) + (nthF.length > 0 ? '&flagN=' + nthF : '') + (camouflage === true ? '&camo=' + camouflage : '') + (adrenalineValue === 100 ? '' : '&ar=' + adrenalineValue) + consumableN);
    }

//    ]]>
</script>
</body>
</html>