files:
    "/etc/awslogs/config/beanstalklogs.conf":
        mode: "000600"
        owner: root
        group: root
        content: |
            [/var/log/httpd/error_log]
            log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/error_log"]]}`
            log_stream_name={instance_id}
            file=/var/log/httpd/error_log*

            [/var/log/httpd/access_log]
            log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/access_log"]]}`
            log_stream_name={instance_id}
            file=/var/log/httpd/access_log*

            [/var/log/nginx/error.log]
            log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/nginx/error.log"]]}`
            log_stream_name={instance_id}
            file=/var/log/nginx/error.log*

            [/var/log/nginx/access.log]
            log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/nginx/access.log"]]}`
            log_stream_name={instance_id}
            file=/var/log/nginx/access.log*

            [/var/log/eb-activity.log]
            log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-activity.log"]]}`
            log_stream_name={instance_id}
            file=/var/log/eb-activity.log*

            [/var/log/httpd/test-access_log]
            log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/test-access_log"]]}`
            log_stream_name={instance_id}
            file=/var/log/httpd/test-access_log*
