Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            "AWS::CloudFormation::Init":
                configSets:
                    "_OnInstanceBoot":
                        "CmpFn::Insert":
                            values:
                                - WoWSFTLogConf
                WoWSFTLogConf:
                    files:
                        "/etc/httpd/conf.d/elasticbeanstalk_log.conf":
                            mode: "000644"
                            owner: root
                            group: root
                            content: |
                                LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" \"%{Authorization}i\"" eb_access_log_format
                                CustomLog /var/log/httpd/elasticbeanstalk-access_log eb_access_log_format