files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/91_test_log.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            sudo rm -rf /etc/httpd/conf.d/test_log.conf

            echo 'LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" \"%{Authorization}i\" \"%{RealClass}C\"" test_access_log_format
            CustomLog /var/log/httpd/test-access_log test_access_log_format' | sudo tee /etc/httpd/conf.d/test_log.conf > /dev/null

            sudo service httpd reload
