packages:
    yum:
        awslogs: []

files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/test_access_log.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
            LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" \"%{Authorization}i\"" test_access_log_format
            CustomLog /var/log/httpd/test_access_log test_access_log_format
