header div
{

}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

#header {
    margin: 0 auto;
    padding: 0 auto;
}

nav {
    margin: 10px 0px 10px;
    background-color: lightblue;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display:inline-block;
    background-color: lightblue;
}

nav a {
    display:block;
    padding:0 10px;
    color:black;
    font-size:12px;
    line-height: 24px;
    text-decoration:none;
}

nav a:hover {
    background-color: deepskyblue;
}

nav span {
    display:block;
    padding:0 10px;
    color:black;
    font-size:12px;
    line-height: 24px;
    text-decoration:none;
}

nav span:hover {
    background-color: deepskyblue;
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 24px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width:100px;
    float:none;
    display:list-item;
    position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
    width:170px;
    position: relative;
    top:-24px;
    left:100px;
}


/* Change this in order to change the Dropdown symbol */
/*li > a:after { content:  ' +'; }*/
/*li > a:only-child:after { content: ''; }*/

#ship
{
    text-align: center;
}

#modulesUpgradesConsumables div
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#skillsFlags div
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#modules
{
    display: inline-block;
    text-align: center;
}

#upgrades
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.button_module
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_module_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module_selected img
{
    width: 40px;
    margin-bottom: 0px;
}

.button_upgrade
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_upgrade_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade_selected img
{
    width: 30px;
    margin-bottom: 0px;
}

.consumables
{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 120px;
    max-height: 120px;
    vertical-align: top;
}

.consumables img
{
    text-align: center;
    width: 30px;
    margin-bottom: 0px;
}

.consumables li
{
    vertical-align: top;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    vertical-align: top;
}

.shipAPIData
{
    text-align: center;
}

#hullStats
{
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}
#mainWeaponStats
{
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}
#AASecondaryStats
{
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}
.blank
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding-left: 4em;
}

.button_ship
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_ship img
{
    width: 70px;
    margin-bottom: 0px;
}

.button_skill
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_skill img
{
    width: 25px;
    margin-bottom: 0px;
}

.button_skill_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_skill_selected img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_flag
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_flag img
{
    width: 25px;
    margin-bottom: 0px;
}

.button_flag_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_flag_selected img
{
    width: 30px;
    margin-bottom: 0px;
}