html
{
    height: 100%;
    width: auto;
    height: auto;
}

li
{
    list-style-type: none;
    margin: 4px 0;

}
table
{
    padding-top: 1px;
}

.ui-menu
{
    width: 175px;
}

#header
{
    text-align:center;
}

#dropDownList
{
    text-align:left;
    display: inline-block;
    vertical-align: top;
    float: left;
}

#name
{
    margin-left: -175px;
    display: inline-block;
}

#ship
{
    text-align: center;
}

#modules
{
    display: inline-block;
    text-align: center;
}

#upgrades
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#modulesUpgradesConsumables
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#skillsList
{
    text-align: center;
    vertical-align: top;
}

#skills
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#upgradesList
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#upgrades
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#ConsumablesList
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#consume1List
{
    display: inline-block;
    vertical-align: text-top;
}

#consume2List
{
    display: inline-block;
    vertical-align: text-top;
}

#consume3List
{
    display: inline-block;
    vertical-align: text-top;
}

#consume4List
{
    display: inline-block;
    vertical-align: text-top;
}

#FlightControl
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#Artillery
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#Hull
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#Engine
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#Fighter
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#TorpedoBomber
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#DiveBomber
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#Suo
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}
#Torpedoes
{
    display: inline-block;
    vertical-align: text-top;
    
    margin-bottom: 3px;
}

#id_125000
{
    display: inline-block;
    vertical-align: text-top;

    margin-bottom: 3px;
}

#id_250000
{
    display: inline-block;
    vertical-align: text-top;

    margin-bottom: 3px;
}

#id_500000
{
    display: inline-block;
    vertical-align: text-top;

    margin-bottom: 3px;
}

#id_1000000
{
    display: inline-block;
    vertical-align: text-top;

    margin-bottom: 3px;
}

#id_2000000
{
    display: inline-block;
    vertical-align: text-top;

    margin-bottom: 3px;
}

#id_3000000
{
    display: inline-block;
    vertical-align: text-top;

    margin-bottom: 3px;
}
/*#modSlot1*/
/*{*/
    /*display: inline-block;*/
    /*vertical-align: text-top;*/
/*}*/

/*#modSlot2*/
/*{*/
    /*display: inline-block;*/
    /*vertical-align: text-top;*/
/*}*/

/*#modSlot3*/
/*{*/
    /*display: inline-block;*/
    /*vertical-align: text-top;*/
/*}*/

/*#modSlot4*/
/*{*/
    /*display: inline-block;*/
    /*vertical-align: text-top;*/
/*}*/

/*#modSlot5*/
/*{*/
    /*display: inline-block;*/
    /*vertical-align: text-top;*/
/*}*/

/*#modSlot6*/
/*{*/
    /*display: inline-block;*/
    /*vertical-align: text-top;*/
/*}*/

#hullStats
{
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}
#blank1
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
}
#mainWeaponStats
{
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}
#blank2
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
}
#AASecondaryStats
{
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}
#blank3
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
}
#ConsumablesStats
{
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
}

#Camouflages
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#Flags
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.button
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    cursor: default;
}

.button_ship
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_ship img
{
    width: 80px;
    margin-bottom: 0px;
}

.button_module
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_module_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module_selected img
{
    width: 40px;
    margin-bottom: 0px;
}

.button_upgrade
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_upgrade_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade_selected img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_skill
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_skill img
{
    width: 25px;
    margin-bottom: 0px;
}

.button_skill_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_skill_selected img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_consumable
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 10px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable img
{
    width: 25px;
    margin-bottom: 0px;
}

.button_consumable_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 10px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable_selected img
{
    width: 35px;
    margin-bottom: 0px;
}

.button_camouflage
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_camouflage img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_camouflage_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
}

.button_camouflage_selected img
{
    width: 40px;
    margin-bottom: 0px;
}

.button_flag
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_flag img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_flag_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
}

.button_flag_selected img
{
    width: 40px;
    margin-bottom: 0px;
}

.tier { float:right }
.maxHP { float:right }
.speed { float:right }
.rudderShift { float:right }
.turningRadius { float:right }
.sConceal { float:right }
.aConceal { float:right }
.burnTime { float:right }
.floodTime { float:right }

.barrels { float:right }
.maxMainGunRange { float:right }
.mainGunReload { float:right }
.mainGunRotation { float:right }
.mainGunRotationTime { float:right }
.APShellSpeed { float:right }
.APShellDMG { float:right }
.HEShellSpeed { float:right }
.HEShellDMG { float:right }
.HEShellBurnProb { float:right }
.mainGunDispersionRange { float:right }
.sigmaCount { float:right }
.stealthFireSurfaceDetection { float:right }

.antiAirAuraDistanceFar { float:right }
.AAFarDPS { float:right }
.antiAirAuraDistanceMedium { float:right }
.AAMediumDPS { float:right }
.antiAirAuraDistanceNear { float:right }
.AANearDPS { float:right }
.secondaryMaxDist { float:right }

.tubes { float:right }
.maxTorpedoRange { float:right }
.torpedoReload { float:right }
.torpedoSpeed { float:right }
.torpedoVisibilityFactor { float:right }

.fighterSquadrons { float:right }
.fighterSquadronSize { float:right }
.fighterReserves { float:right }
.torpedoBomberSquadrons { float:right }
.torpedoBomberSquadronSize { float:right }
.torpedoBomberReserves { float:right }
.diveBomberSquadrons { float:right }
.diveBomberSquadronSize { float:right }
.diveBomberReserves { float:right }

.Consumable1Count { float:right }
.Consumable1Duration { float:right }
.Consumable1Reload { float:right }

.Consumable2Count { float:right }
.Consumable2Duration { float:right }
.Consumable2Reload { float:right }

.Consumable3Count { float:right }
.Consumable3Duration { float:right }
.Consumable3Reload { float:right }

.Consumable4Count { float:right }
.Consumable4Duration { float:right }
.Consumable4Reload { float:right }

.shipAPIData
{
    text-align: center;
}

.blank
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding-left: 4em;
}

#crewSkills
{
    position: relative;
}