/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    height: 100%;
    line-height: 125%;
    box-sizing: border-box;
    /*overflow: hidden;*/
    min-width: 960px;
    max-width: 1280px;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0 auto;
    list-style: none;
}

nav {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

ul {
    font-size: 0;
    position: relative;
}

li {
    font-size: 16px;
}

#notification {
    padding: 0 10%;
}

#notification li {
    text-align: left;
}

.top {
    display: inline-block;
    background: lightblue;
    width: 100%;
    z-index: 1;
    text-align: left;
}

.top li {
    background: lightblue;
    display: inline-block;
    padding: 10px;
}

.link {
    padding: 0 15px;
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.shipsList {
    text-align: left;
    display: block;
}

.dropdown_main {
    text-align: left;
    display: none;
    position: absolute;
    padding: inherit;
}

.dropdown_main li {
    width:130px;
    float:none;
    display:list-item;
    position: relative;
}

.dropdown_sub {
    text-align: left;
    display: none;
    position: absolute;
    padding: inherit;
}

.dropdown_sub li {
    width:200px;
    float:none;
    display:list-item;
    position: relative;
}

.dropdown_sub span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

nav li:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

nav li:active {
    background-color: deepskyblue;
    cursor: pointer;
}

nav ul li:hover > ul {
    display: block;
    cursor: pointer;
}

nav ul li:active > ul {
    display: block;
    cursor: pointer;
}

.dropdown_main li:hover > .dropdown_main {
    display:inherit;
    cursor: pointer;
}

.dropdown_main li:active > .dropdown_main {
    display:inherit;
    cursor: pointer;
}

.dropdown_main li:hover > .dropdown_sub {
    display:inherit;
    cursor: pointer;
}

.dropdown_main li:active > .dropdown_sub {
    display:inherit;
    cursor: pointer;
}

.dropdown_main .dropdown_sub li {
    left: 130px;
    top:-40px;
    padding: 0;
}

#main {
    padding: 10px;
}

.ship {
    padding-top: 10px;
    text-align: center;
}

.ship img {
    max-width: 350px;
}

.panel_left div, .panel_right div {
    vertical-align: top;
    display: inline-block;
}

.hide {
    display: none;
}

.upgrades div
{
    display: inline-block;
    vertical-align: top;
}

.info_box {
    text-align: center;
    margin: 0 auto;
    border: 0;
    vertical-align: top;
    padding: 10px 0;
    /*display: table;*/
}

.tabs {
    /*display: table-cell;*/
    display: inline-block;
    vertical-align: top;
}

.info_box_inner {
    /*display: table-cell;*/
    display: inline-block;
    vertical-align: top;
    background-color:#fff;
    text-decoration:none;
    color:inherit;
    opacity:1;
    text-align:center;
    border-color:rgb(210,210,210);
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    white-space: normal;
}

.panel_left ul {
    display: table-cell;
}

.button_tab {
    background-color: #fff;
    margin-bottom: 2px;
    text-align: center;
    border-color: rgb(210,210,210);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    max-width: 140px;
    padding: 8px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button_ship,
.button_module, .button_upgrade,
.button_skill, .button_uSkill,
.button_flag, .button_consumable {
    background-color: #fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    width: 70px;
    height: 70px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    margin: 2px;
    /*padding: 2px;*/
    /*margin: 1px;*/
}

.button_module {
    width: 90px;
    height: 90px;
}

button img {
    width: 45px;
}

/*.button_module.select img {*/
/*width: 40px;*/
/*margin-bottom: 0;*/
/*}*/

/*.button_ship img {*/
/*width: 70px;*/
/*margin-bottom: 0;*/
/*}*/

/*.button_upgrade img {*/
/*width: 30px;*/
/*margin-bottom: 0;*/
/*}*/

/*.button_skill img {*/
/*width: 20px;*/
/*margin-bottom: 0;*/
/*}*/

.button_uSkill img {
    width: 25px;
    margin-bottom: 0;
}

.button_flag img {
    width: 25px;
    margin-bottom: 0;
}

/*.button_consumable img {*/
/*width: 40px;*/
/*margin-bottom: 0;*/
/*}*/

.select {
    border-width:1px;
    border-color: rgb(256,0,0);
}

.inner_info {
    display: inline-table;
    vertical-align: top;
}

.panel_left {
    padding: 10px;
}

.panel_right {
    padding: 10px;
}

.panel_right table {
    text-align: left;
    margin-bottom: 10px;
}

.panel_right table tr td:first-of-type {
    min-width: 200px;
    /*max-width: 240px;*/
}