/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    height: 100%;
    line-height: 125%;
    box-sizing: border-box;
    /*overflow: hidden;*/
    min-width: 960px;
    max-width: 1280px;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0 auto;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    font-size: 0;
    position: relative;
}

li {
    font-size: 16px;
}

.top {
    display: inline-block;
    background: lightblue;
    width: 100%;
    z-index: 1;
}

.top li {
    display: inline-block;
    padding: 10px;
}

.link {
    padding: 0 15px;
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.shipsList {
    text-align: left;
    display: inline-block;
}

nav li:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

nav li:active {
    background-color: deepskyblue;
    cursor: pointer;
}

nav ul li:hover > ul {
    display: block;
    cursor: pointer;
}

nav ul li:active > ul {
    display: block;
    cursor: pointer;
}

.dropdown_main {
    display: none;
    position: absolute;
    text-align: left;
}

/*.dropdown_main {*/
    /*text-align: left;*/
    /*display: none;*/
    /*position: absolute;*/
    /*padding: inherit;*/
    /*left: -10px;*/
/*}*/

/*.dropdown_main li {*/
    /*width:130px;*/
    /*float:none;*/
    /*display:list-item;*/
/*}*/

/*.dropdown_main li:hover > .dropdown_main {*/
    /*display:inherit;*/
    /*cursor: pointer;*/
    /*position: inherit;*/
    /*left: 140px;*/
    /*top: -10px;*/
/*}*/

/*.dropdown_main li:active > .dropdown_main {*/
    /*display:inherit;*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*left: 140px;*/
    /*top: -10px;*/
/*}*/

/*.dropdown_sub {*/
    /*display: none;*/
    /*position: absolute;*/
    /*padding: inherit;*/
    /*left: 140px;*/
    /*top: -10px;*/
/*}*/

/*.dropdown_sub li {*/
    /*width:200px;*/
    /*float:none;*/
    /*display:list-item;*/
/*}*/

/*.info_box {*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*border: 0;*/
    /*vertical-align: top;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*.tabs {*/
    /*vertical-align: top;*/
/*}*/

/*.info_box_inner {*/
    /*text-decoration:none;*/
    /*color:inherit;*/
    /*opacity:1;*/
    /*text-align:center;*/
    /*border-color:rgb(210,210,210);*/
    /*border-width:1px;*/
    /*border-style:solid;*/
    /*border-radius:5px;*/
    /*display: block;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*cursor: pointer;*/
    /*white-space: normal;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/

/*.button_tab {*/
    /*margin:1px;*/
    /*text-align:center;*/
    /*background-color: transparent;*/
    /*border-color:rgb(210,210,210);*/
    /*border-width:1px;*/
    /*border-style:solid;*/
    /*border-radius:5px;*/
    /*max-width: 130px;*/
    /*padding: 9px 15px;*/
    /*cursor: pointer;*/
/*}*/

/*.button_ship,*/
/*.button_module, .button_upgrade,*/
/*.button_skill, .button_uSkill,*/
/*.button_flag, .button_consumable {*/
    /*background-color: transparent;*/
    /*text-align: center;*/
    /*border-color: transparent;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-radius: 5px;*/
    /*font-size: 9px;*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*word-wrap: normal;*/
    /*cursor: pointer;*/
    /*vertical-align: top;*/
/*}*/

/*.button_module {*/
    /*width: 90px;*/
    /*height: 90px;*/
/*}*/

/*button img {*/
    /*width: 45px;*/
/*}*/

/*.select {*/
    /*border-width:1px;*/
    /*border-color: rgb(256,0,0);*/
/*}*/

/*.inner_info {*/
    /*display: inline-table;*/
    /*vertical-align: top;*/
/*}*/