<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<header>
</header>
<main>
    <div th:fragment="warshipSelection" id="modulesUpgradesConsumables">
        <div style="display: inline-block; width: 500px;" id="warship1" th:if="${warship1 != null}" th:title="${warship1.name}" th:name="${'nation1=' + warship1.nation + '&amp;shipType1=' + warship1.type + '&amp;ship1=' + warship1.name + '&amp;ship_id1=' + warship1.ship_id}">
            <th:block th:each="eShipType : ${encyclopedia.ship_type_images}" th:if="${eShipType.key == warship1.defaultType}">
                <h3>
                    <img th:src="${warship1.type != 'Premium' and warship1.type != 'Arpeggio' and warship1.type != 'HSF' ? eShipType.value.image : eShipType.value.image_premium}"/><br />
                    <span th:text="${warship1.name}"/>
                </h3>
            </th:block>
            <img th:src="${warship1.images.small}" th:title="${warship1.description}"/><br />
            <div id="modules1" style="vertical-align: top;">
                <table style="display: inline-block;">
                    <tbody>
                    <tr th:each="row : ${warship1.warshipModulesTreeTable}">
                        <td th:each="module : ${row.value}" th:id="${module != null ? 'li_' + module.module_id : null}">
                            <button th:if="${module != null}" th:class="${(modules1 == null and module.is_default and rowStat.first) or (modules1 != null and (#sets.contains(modules1, #strings.toString(module.module_id))))} ? button_module_selected_1 : button_module_1" th:id="${module.module_id}" th:name="${module.type + '1'}">
                                <img th:src="@{'/images/Upgrades/icon_module_' + ${#strings.toLowerCase(module.type)} + '.png'}" th:title="${!module.is_default ? #numbers.formatInteger(module.price_xp, 0, 'COMMA') + ' xp' + T(java.lang.System).getProperty('line.separator') + #numbers.formatInteger(module.price_credit, 0, 'COMMA') + ' credit' : ''}"/><br />
                                <span th:text="${module.name}"/>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div id="upgrades1" style="vertical-align: top;">
                <div th:each="upgradeType : ${warship1.upgradesNew}" th:id="'id_' + ${upgradeType.key}" style="display: inline-block; vertical-align: top;">
                    <li th:each="upgrade : ${upgradeType.value}" th:id="'li_' + ${upgrade.value.consumable_id + '_1'}">
                        <button th:title="${upgrade.value.description}" th:class="${upgrades1 != null and #sets.contains(upgrades1, #strings.toString(upgrade.value.consumable_id))} ? button_upgrade_selected_1 : button_upgrade_1" th:id="${upgrade.value.consumable_id + '_1'}" th:name="'price_' + ${upgrade.value.price_credit + '_1'}">
                            <img th:src="${upgrade.value.image}"/><br />
                            <span th:text="${upgrade.value.name}"/>
                        </button>
                    </li>
                </div>
            </div>
        </div>
        <div style="display: inline-block; width: 500px;" id="warship2" th:if="${warship2 != null}" th:title="${warship2.name}" th:name="${'nation2=' + warship2.nation + '&amp;shipType2=' + warship2.type + '&amp;ship2=' + warship2.name + '&amp;ship_id2=' + warship2.ship_id}">
            <th:block th:each="eShipType : ${encyclopedia.ship_type_images}" th:if="${eShipType.key == warship2.defaultType}">
                <h3>
                    <img th:src="${warship2.type != 'Premium' and warship2.type != 'Arpeggio' and warship2.type != 'HSF' ? eShipType.value.image : eShipType.value.image_premium}"/><br />
                    <span th:text="${warship2.name}"/>
                </h3>
            </th:block>
            <img th:src="${warship2.images.small}" th:title="${warship2.description}"/><br />
            <div id="modules2" style="vertical-align: top;">
                <table style="display: inline-block;">
                    <tbody>
                    <tr th:each="row : ${warship2.warshipModulesTreeTable}">
                        <td th:each="module : ${row.value}" th:id="${module != null ? 'li_' + module.module_id : null}">
                            <button th:if="${module != null}" th:class="${(modules2 == null and module.is_default and rowStat.first) or (modules2 != null and (#sets.contains(modules2, #strings.toString(module.module_id))))} ? button_module_selected_2 : button_module_2" th:id="${module.module_id}" th:name="${module.type + '2'}">
                                <img th:src="@{'/images/Upgrades/icon_module_' + ${#strings.toLowerCase(module.type)} + '.png'}" th:title="${!module.is_default ? #numbers.formatInteger(module.price_xp, 0, 'COMMA') + ' xp' + T(java.lang.System).getProperty('line.separator') + #numbers.formatInteger(module.price_credit, 0, 'COMMA') + ' credit' : ''}"/><br />
                                <span th:text="${module.name}"/>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div id="upgrades2" style="vertical-align: top;">
                <div th:each="upgradeType : ${warship2.upgradesNew}" th:id="'id_' + ${upgradeType.key}" style="display: inline-block; vertical-align: top;">
                    <li th:each="upgrade : ${upgradeType.value}" th:id="'li_' + ${upgrade.value.consumable_id + '_2'}">
                        <button th:title="${upgrade.value.description}" th:class="${upgrades2 != null and #sets.contains(upgrades2, #strings.toString(upgrade.value.consumable_id))} ? button_upgrade_selected_2 : button_upgrade_2" th:id="${upgrade.value.consumable_id + '_2'}" th:name="'price_' + ${upgrade.value.price_credit + '_2'}">
                            <img th:src="${upgrade.value.image}"/><br />
                            <span th:text="${upgrade.value.name}"/>
                        </button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    //    <![CDATA[

    //    ]]>
</script>
</body>
</html>