<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        //    <![CDATA[
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event:'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5KDG7W6');
        //    ]]>
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <script>
        $(function() {
//            $(document).tooltip();

            $('#crewSkills').dialog({
                autoOpen: false,
//                modal: true,
                width: 860
            }).css("font-size", "8px");

            $('#flags').dialog({
                autoOpen: false,
//                modal: true,
                width: 650
            }).css("font-size", "8px");

//            $('#consumablesData').dialog({
//                autoOpen: false,
//                width: 320
//            }).css("font-size", "8px");
        });
    </script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<noscript>
    //    <![CDATA[
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    //    ]]>
</noscript>
<header>
    <div id="top" th:include="top :: top">
    </div>
</header>
<main>
    <div style="text-align: center;">
        <button th:each="nation : ${nations}" th:name="${nation.key}" th:class="button_nation">
            <img th:src="${'/images/Nations/' + nation.key + '.png'}"/><br />
            <span th:text="${nation.key}"/>
        </button>
    </div>
    <div style="text-align: center;">
        <button id="showCrewSkills">Commander Skills</button>
        <button id="showFlags">Flags</button>
        <input type="checkbox" id="camouflageCheckbox" th:checked="${camo}" th:text="'Camouflage'" th:title="'Decreases the firing accuracy of the enemy and reduces ship detectability.'"/>
        <!--<input type="checkbox" id="upgradeCompareCheckBox" th:text="'Upgrade Comparison'"/>-->
        <!--<br />-->
        <!--<button id="resetSelect">Reset</button><br />-->
    </div>
    <div style="text-align: center;">
        <div th:each="nation : ${nations}" th:id="${nation.key}" th:name="nations" hidden="hidden">
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'AirCarrier'}">
                <li th:each="ship : ${shipType.value}" th:if="${shipStat.index + shipType.value.?[value.first == true].size() &lt; ship.value.maxTier}">
                    <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                </li>
                <li th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                    <button th:class="button_ship_tree" th:id="${ship.key}">
                        <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                        <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                    </button>
                </li>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Battleship'}">
                <li th:each="ship : ${shipType.value}" th:if="${shipStat.index + shipType.value.?[value.first == true].size() &lt; ship.value.maxTier}">
                    <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                </li>
                <li th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                    <button th:class="button_ship_tree" th:id="${ship.key}">
                        <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                        <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                    </button>
                </li>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Cruiser'}">
                <li th:each="ship : ${shipType.value}" th:if="${shipStat.index + shipType.value.?[value.first == true].size() &lt; ship.value.maxTier}">
                    <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                </li>
                <li th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                    <button th:class="button_ship_tree" th:id="${ship.key}">
                        <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                        <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                    </button>
                </li>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Destroyer'}">
                <li th:each="ship : ${shipType.value}" th:if="${shipStat.index + shipType.value.?[value.first == true].size() &lt; ship.value.maxTier}">
                    <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                </li>
                <li th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                    <button th:class="button_ship_tree" th:id="${ship.key}">
                        <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                        <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                    </button>
                </li>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Destroyer' and shipType.value.?[value.first == false].size() > 0}">
                <li th:each="ship : ${shipType.value}" th:if="${shipStat.index + shipType.value.?[value.first == false].size() &lt; ship.value.maxTier}">
                    <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                </li>
                <li th:each="ship : ${shipType.value}" th:if="${!ship.value.first}">
                    <button th:class="button_ship_tree" th:id="${ship.key}">
                        <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                        <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                    </button>
                </li>
            </div>
            <table th:class="shipTree" th:each="pNation : ${premiumTable}" th:if="${pNation.key == nation.key}">
                <tr th:each="tier : ${pNation.value}">
                    <td th:if="${tier.value == null}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </td>
                    <td th:each="ship : ${tier.value}" th:if="${tier.value != null}">
                        <button th:class="button_ship_tree" th:id="${ship.key}" th:if="${ship.value.name != 'Test Ship'}">
                            <img th:src="${ship.value.images.small}"/><br />
                            <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="modulesUpgradesConsumables">
    </div>
    <div class="shipAPIData">
    </div>
</main>
<div id="crewSkills" class="ui-widget-content" title="Skill Points 0 / 19">
    <table id="skillsTable" align="center">
        <tbody>
        <tr th:each="skillTier : ${data.skills}">
            <td th:each="skill : ${skillTier.value}" th:id="${'td_' + skill.value.tier + '_' + skill.value.type_id}">
                <button th:if="${skill.value.tier != 0}" th:object="${skill.value}" th:title="${skill.value.description}" th:class="${crewSkills != null and crewSkills.size() != 0 and (crewSkills.?[tier == #strings.toString(__${skill.value.tier}__) and type_id == #strings.toString(__${skill.value.type_id}__)]).size() != 0} ? button_skill_selected : button_skill" th:id="${skill.value.tier + '_' + skill.value.type_id}" th:attr="tier=${skill.value.tier}, type_id=${skill.value.type_id}">
                    <img th:src="${skill.value.icon}"/><br />
                    <span th:text="${skill.value.name}"/>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="flags" class="ui-widget-content" title="Flags 0 / 8">
    <table id="flagsTable" align="center">
        <tbody>
        <tr th:each="index : ${#numbers.sequence(0, data.exteriors.Flags.size() - 1, 6)}" th:id="${index / 6}">
            <td th:each="flag : ${data.exteriors.Flags}" th:if="${flagStat.index % 3} == ${index / 6}">
                <button th:title="${flag.value.description}" th:class="${(flags != null and #sets.contains(flags, #strings.toString(flag.value.consumable_id)))} ? button_flag_selected : button_flag" th:id="${flag.value.consumable_id}">
                    <img th:src="${flag.value.image}"/><br />
                    <span th:text="${flag.value.name}"/>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    //    <![CDATA[

    var nation = '';

    $(document).on('click', '.button_nation', function () {
        var name = $(this).attr('name');

        if ($('.shipAPIData').children().length != 0 && $('#' + name).attr('hidden') == undefined)
        {
            $('#' + name).attr('hidden', 'hidden');
            return;
        }

        $('[name=nations]').attr('hidden', 'hidden');
        $('#' + name).removeAttr('hidden');

        nation = name;
    });

    $(document).on('click', '.button_ship_tree', function () {
        var clickedId = $(this).attr('id');

        if ($('.button_ship_tree_selected').length == 2)
        {
            var selected = $('.button_ship_tree_selected');

            for (var i = 0; i < selected.length; i++)
            {
                var currentId = selected.eq(i).attr('id');
                document.getElementById(currentId).className = 'button_ship_tree';
            }
            $('[aria-describedby=warship1]').remove();
            $('[aria-describedby=warship2]').remove();
            $('#modulesUpgradesConsumables').html('');
            $('#shipAPIData').html('');
        }

        if ($('.button_ship_tree_selected').length < 2)
        {
            document.getElementById(clickedId).className = 'button_ship_tree_selected';
        }

        if ($('.button_ship_tree_selected').length == 2)
        {
            var selected = $('.button_ship_tree_selected');

            var list = [];

            for (var i = 0; i < selected.length; i++)
            {
                var current = selected.eq(i);
                var id = current.attr('id');
                list.push(id);
            }

            $.ajax({
                url: '/shipStatSelection',
                type: 'post',
                contentType: "application/json",
                data: JSON.stringify(list),
                success: function (data) {
                    $('#modulesUpgradesConsumables').replaceWith(data);
                    callAPI();
                },
                error: function (data) {
                    console.log(data);
                    alert('Error - contact EdibleBug on Reddit')
                }
            });
        }
    });

    $(document).on('click', '.button_ship_tree_selected', function () {
        var clickedId = $(this).attr('id');

        document.getElementById(clickedId).className = 'button_ship_tree';

        $('[aria-describedby=warship1]').remove();
        $('[aria-describedby=warship2]').remove();
        $('#modulesUpgradesConsumables').html('');
    });

    $(document).on('click', '#resetSelect', function () {
        var clickedList = $('.button_ship_tree_selected');
        for (var i = 0; i < clickedList.length; i++)
        {
            var clickedId = clickedList.eq(i).attr('id');
            document.getElementById(clickedId).className = 'button_ship_tree';
        }

        var clickedSkillsList = $('.button_skill_selected');
        for (var i = 0; i < clickedSkillsList.length; i++)
        {
            var clickedId = clickedSkillsList.eq(i).attr('id');
            $('#' + clickedId).click();
        }

        var clickedFlagsList = $('.button_flag_selected');
        for (var i = 0; i < clickedFlagsList.length; i++)
        {
            var clickedId = clickedFlagsList.eq(i).attr('id');
            $('#' + clickedId).click();
        }

        $('[aria-describedby=warship1]').remove();
        $('[aria-describedby=warship2]').remove();
        $('#modulesUpgradesConsumables').html('');
        $('#shipAPIData').html('');
    });

    $(document).on('click', '.button_module_1', function(){
        var clickedId = $(this).attr('id');
        var selectedModules = document.getElementsByName($(this).attr('name'));

        for (var i = 0; i < selectedModules.length; i++)
        {
            var buttonId = selectedModules[i].getAttribute('id').replace('li_', '');
            document.getElementById(buttonId).className = 'button_module_1';
        }
        document.getElementById(clickedId).className = 'button_module_selected_1';

        callAPI();
    });

    $(document).on('click', '.button_upgrade_1, .button_upgrade_selected_1', function () {
        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_upgrade_1')
        {
            var gParentElem = $(this).parent().parent();
            var parents = gParentElem.children();

            for (var i = 0; i < parents.length; i++)
            {
                var buttonId = parents[i].getAttribute('id').replace('li_', '');
                document.getElementById(buttonId).className = 'button_upgrade_1';
            }
            document.getElementById(clickedId).className = 'button_upgrade_selected_1';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_upgrade_1';
        }

        callAPI();
    });

    $(document).on('click', '.button_module_2', function(){
        var clickedId = $(this).attr('id');
        var selectedModules = document.getElementsByName($(this).attr('name'));

        for (var i = 0; i < selectedModules.length; i++)
        {
            var buttonId = selectedModules[i].getAttribute('id').replace('li_', '');
            document.getElementById(buttonId).className = 'button_module_2';
        }
        document.getElementById(clickedId).className = 'button_module_selected_2';

        callAPI();
    });

    $(document).on('click', '.button_upgrade_2, .button_upgrade_selected_2', function () {
        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_upgrade_2')
        {
            var gParentElem = $(this).parent().parent();
            var parents = gParentElem.children();

            for (var i = 0; i < parents.length; i++)
            {
                var buttonId = parents[i].getAttribute('id').replace('li_', '');
                document.getElementById(buttonId).className = 'button_upgrade_2';
            }
            document.getElementById(clickedId).className = 'button_upgrade_selected_2';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_upgrade_2';
        }

        callAPI();
    });

    $(document).on('click', '.button_skill, .button_skill_selected', function () {
        var maxSpts = 19;
        var currentSpts = 0;
        var clickedSpts = 0;
        var totalSpts = 0;

        var clickedId = $(this).attr('id');

        if (document.getElementById(clickedId).className == 'button_skill')
        {
            clickedSpts = clickedSpts + parseInt($(this).attr('tier'));
        }
        else
        {
            clickedSpts = clickedSpts - parseInt($(this).attr('tier'));
        }

        var selected = document.getElementsByClassName('button_skill_selected');

        for (var i = 0; i < selected.length; i++)
        {
            currentSpts = currentSpts + parseInt(selected[i].getAttribute('tier'));
        }

        totalSpts = totalSpts + currentSpts + clickedSpts;

        if (document.getElementById(clickedId).className == 'button_skill')
        {
            if (totalSpts > maxSpts)
            {
                return false;
            }
            document.getElementById(clickedId).className = 'button_skill_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_skill';
        }

        document.getElementById('ui-id-1').innerText = 'Skill Points ' + totalSpts.toString() + ' / ' + maxSpts.toString();

        callAPI();
    });

    $(document).on('click', '.button_flag, .button_flag_selected', function () {
        var maxFlags = 8;

        var clickedId = $(this).attr('id');
        var selected = document.getElementsByClassName('button_flag_selected');

        if (document.getElementById(clickedId).className == 'button_flag')
        {
            if (selected.length >= maxFlags)
            {
                return false;
            }
            document.getElementById(clickedId).className = 'button_flag_selected';
        }
        else
        {
            document.getElementById(clickedId).className = 'button_flag';
        }

        document.getElementById('ui-id-2').innerText = 'Flags ' + selected.length.toString() + ' / ' + maxFlags;

        callAPI();
    });

    $(document).on('click', '#showCrewSkills', function () {
        $('#crewSkills').dialog('open');
    });

    $(document).on('click', '#showFlags', function () {
        $('#flags').dialog('open');
    });

    $(document).on('click', '#camouflageCheckbox', function () {
        callAPI();
    });

    function callAPI()
    {
        var modifier = '&';
        var equals = '=';

        var selectedSkills = $('.button_skill_selected');
        var selectedFlags = $('.button_flag_selected');
        var skills = [];
        var flags = [];
        var upgradesSkills = [];

        for (var i = 0; i < selectedSkills.length; i++)
        {
            var tier = selectedSkills[i].getAttribute('tier');
            var type_id = selectedSkills[i].getAttribute('type_id');

            var current = {
                tier: tier,
                type_id: type_id
            };

            skills.push(current);
        }

        for (var i = 0; i < selectedFlags.length; i++)
        {
            var flagId = selectedFlags[i].getAttribute('id');

            flags.push(flagId);
        }

        var camouflage = [$('#camouflageCheckbox').is(':checked')];

        var warship1Name = $('#warship1').attr('title');
        if (warship1Name == null || warship1Name == '')
        {
            warship1Name = $('[aria-describedby=warship1]').find('.ui-dialog-title').text();
        }
        var warship1 = $('#warship1').attr('name');
        var selectedModules1 = $('.button_module_selected_1');
        var selectedUpgrades1 = $('.button_upgrade_selected_1');

        var modules1 = [];
        var upgrades1 = [];

        for (var i = 0; i < selectedModules1.length; i++)
        {
            var type = selectedModules1[i].getAttribute('name');
            var moduleId = selectedModules1[i].getAttribute('id');

            modules1.push(moduleId);

            warship1 = warship1 + modifier + type + equals + moduleId;
        }

        for (var i = 0; i < selectedUpgrades1.length; i++)
        {
            var upgradeId = selectedUpgrades1[i].getAttribute('id').replace('_1', '');

            upgrades1.push(upgradeId);
        }

        var upgradesSkills1 = {
            shipName: warship1Name,
            upgrades: upgrades1,
            skills: skills,
            camouflage: camouflage,
            flags: flags
        };
        upgradesSkills.push(upgradesSkills1);

        var warship2Name = $('#warship2').attr('title');
        if (warship2Name == null || warship2Name == '')
        {
            warship2Name = $('[aria-describedby=warship2]').find('.ui-dialog-title').text();
        }
        var warship2 = $('#warship2').attr('name');
        var selectedModules2 = $('.button_module_selected_2');
        var selectedUpgrades2 = $('.button_upgrade_selected_2');

        var modules2 = [];
        var upgrades2 = [];

        for (var i = 0; i < selectedModules2.length; i++)
        {
            var type = selectedModules2[i].getAttribute('name');
            var moduleId = selectedModules2[i].getAttribute('id');

            modules2.push(moduleId);

            warship2 = warship2 + modifier + type + equals + moduleId;
        }

        for (var i = 0; i < selectedUpgrades2.length; i++)
        {
            var upgradeId = selectedUpgrades2[i].getAttribute('id').replace('_2', '');

            upgrades2.push(upgradeId);
        }

        var upgradesSkills2 = {
            shipName: warship2Name,
            upgrades: upgrades2,
            skills: skills,
            camouflage: camouflage,
            flags: flags
        };
        upgradesSkills.push(upgradesSkills2);

        $.ajax({
            url: '/shipStatComparison?' + warship1 + '&' + warship2,
            type: 'post',
            contentType: "application/json",
            data: JSON.stringify(upgradesSkills),
            success: function (data) {
                if (data != '')
                {
                    $('.shipAPIData').replaceWith(data);
                    $('[name=nations]').attr('hidden', 'hidden');
                }
                else
                {
//                        alert('Wrong path of research!');
                }
            }
        });
    }

    $(document).on('click', '#shipAPI1Button', function () {
        $('#warship1').dialog('open');
    });

    $(document).on('click', '#shipAPI2Button', function () {
        $('#warship2').dialog('open');
    });

    //    ]]>
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5900f83364f23d19a89af69f/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>