<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="consumablesData" th:fragment="consumablesData" th:unless="${componentsData == null}">
    <div class="consumablesData" th:each="ability : ${componentsData.shipAbilities}">
        <th:block th:each="consumable : ${ability.AbilitySlot0.abils}">
            <th:block th:each="abil : ${componentsData.abilities}" th:if="${abil.key == consumable[0]}">
                <li th:each="value : ${abil.value}" th:if="${value.key == consumable[1]}">
                    <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                    <span th:text="'Count: ' + ${value.value.numConsumables == -1 or value.value.numConsumables == 0 ? 'Infinite' : value.value.numConsumables}"/><br />
                    <span th:text="'Duration: ' + ${value.value.workTime} + ' s'"/><br />
                    <span th:text="'Reload: ' + ${value.value.reloadTime} + ' s'"/>
                </li>
            </th:block>
        </th:block>
    </div>
    <div class="consumablesData" th:each="ability : ${componentsData.shipAbilities}">
        <th:block th:each="consumable : ${ability.AbilitySlot1.abils}">
            <th:block th:each="abil : ${componentsData.abilities}" th:if="${abil.key == consumable[0]}">
                <li th:each="value : ${abil.value}" th:if="${value.key == consumable[1]}">
                    <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                    <span th:text="'Count: ' + ${value.value.numConsumables == -1 or value.value.numConsumables == 0 ? 'Infinite' : value.value.numConsumables}"/><br />
                    <span th:text="'Duration: ' + ${value.value.workTime} + ' s'"/><br />
                    <span th:text="'Reload: ' + ${value.value.reloadTime} + ' s'"/>
                </li>
            </th:block>
        </th:block>
    </div>
    <div class="consumablesData" th:each="ability : ${componentsData.shipAbilities}">
        <th:block th:each="consumable : ${ability.AbilitySlot2.abils}">
            <th:block th:each="abil : ${componentsData.abilities}" th:if="${abil.key == consumable[0]}">
                <li th:each="value : ${abil.value}" th:if="${value.key == consumable[1]}">
                    <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                    <span th:text="'Count: ' + ${value.value.numConsumables == -1 or value.value.numConsumables == 0 ? 'Infinite' : value.value.numConsumables}"/><br />
                    <span th:text="'Duration: ' + ${value.value.workTime} + ' s'"/><br />
                    <span th:text="'Reload: ' + ${value.value.reloadTime} + ' s'"/>
                </li>
            </th:block>
        </th:block>
    </div>
    <div class="consumablesData" th:each="ability : ${componentsData.shipAbilities}">
        <th:block th:each="consumable : ${ability.AbilitySlot3.abils}">
            <th:block th:each="abil : ${componentsData.abilities}" th:if="${abil.key == consumable[0]}">
                <li th:each="value : ${abil.value}" th:if="${value.key == consumable[1]}">
                    <img th:src="${'/images/Consumables/' + consumable[0] + '.png'}"/><br />
                    <span th:text="'Count: ' + ${value.value.numConsumables == -1 or value.value.numConsumables == 0 ? 'Infinite' : value.value.numConsumables}"/><br />
                    <span th:text="'Duration: ' + ${value.value.workTime} + ' s'"/><br />
                    <span th:text="'Reload: ' + ${value.value.reloadTime} + ' s'"/>
                </li>
            </th:block>
        </th:block>
    </div>
</div>
</html>