<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <script th:src="@{/js/jquery/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<header>
    <div id="header">
        <div id="dropDownList">
            <ul id="shipList">
                <li th:each="nation : ${data.nations}">
                    <span th:text="${nation.key}" />
                    <ul>
                        <li th:each="shipType : ${nation.value}">
                            <span th:text="${shipType.key}" />
                            <ul>
                                <li th:each="ship : ${shipType.value}">
                                    <a th:text="${ship.key}" th:href="@{?nation={nation}&amp;shipType={shipType}&amp;ship={ship}(nation=${nation.key}, shipType=${shipType.key}, ship=${ship.key})}"/>
                                    <!--<span th:text="${ship.key}" th:onclick="'getWarshipData(\'' + ${nation.key} + '\', \'' + ${shipType.key} + '\', \'' + ${ship.key} + '\')'" />-->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div id="ship" th:unless="${warship == null}">
            <div id="name">
                <h1 th:text="${warship.name}"/>
                <img th:src="${warship.images.medium}"/>
            </div>
            <br />
            <div id="modulesUpgradesConsumables">
                <div id="modules">
                    <div th:if="not ${warship.warshipModulesTreeNew.artillery.isEmpty()}" id="turretList">
                        <li th:each="artillery : ${warship.warshipModulesTreeNew.artillery}" th:id="${artillery.key}">
                            <button class="button_module" th:id="${artillery.value.module_id}">
                                <img th:src="@{/images/Upgrades/icon_module_maingun.png}" /><br />
                                <span th:text="${artillery.key}"/>
                            </button>
                        </li>
                    </div>
                    <div th:if="not ${warship.warshipModulesTreeNew.hull.isEmpty()}" id="hullList">
                        <li th:each="hull : ${warship.warshipModulesTreeNew.hull}" th:id="${hull.key}">
                            <button class="button_module" th:id="${hull.value.module_id}">
                                <img th:src="@{/images/Upgrades/icon_module_hull.png}" /><br />
                                <span th:text="${hull.key}"/>
                            </button>
                        </li>
                    </div>
                    <div th:if="not ${warship.warshipModulesTreeNew.engine.isEmpty()}" id="engineList">
                        <li th:each="engine : ${warship.warshipModulesTreeNew.engine}" th:id="${engine.key}">
                            <button class="button_module" th:id="${engine.value.module_id}">
                                <img th:src="@{/images/Upgrades/icon_module_engine.png}" /><br />
                                <span th:text="${engine.key}"/>
                            </button>
                        </li>
                    </div>
                    <div th:if="not ${warship.warshipModulesTreeNew.fire_control.isEmpty()}" id="radarList">
                        <li th:each="fire_control : ${warship.warshipModulesTreeNew.fire_control}" th:id="${fire_control.key}">
                            <button class="button_module" th:id="${fire_control.value.module_id}">
                                <img th:src="@{/images/Upgrades/icon_module_radar.png}" /><br />
                                <span th:text="${fire_control.key}"/>
                            </button>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript" th:src="@{/js/WoWSSSC/HashMap.js}"></script>
<script th:inline="javascript">
//    <![CDATA[

    $().ready(function () {
        $( function() {
            $( "#shipList" ).menu();
        });

        setDefaultModules();
    });

    function setDefaultModules()
    {
        var modules = $('#modules').children();
        for (var i = 0; i < modules.length; i++)
        {
            var listId = modules[i].getAttribute('id');
            var type = $('#' + listId).children();
            var moduleId = type[0].getAttribute('id');

            document.getElementById(moduleId).className = 'button_module_selected'

        }




    }

//    ]]>
</script>
</body>
</html>