<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <title>World of Warships Fitting Tool</title>

    <script>
        $( function() {
            $( "#shipList" ).menu();
        } );
    </script>
    <style type="text/css">
        html
        {
            height: 100%;
            width:auto;
        }

        li
        {
            list-style-type: none;
        }

        .ui-menu
        {
            width: 175px;
        }

        #ship
        {
            text-align: center;
        }

        #turretList
        {
            display: inline-block;
            vertical-align: text-top;
        }
        #hullList
        {
            display: inline-block;
            vertical-align: text-top;
        }
        #engineList
        {
            display: inline-block;
            vertical-align: text-top;
        }
        #radarList
        {
            display: inline-block;
            vertical-align: text-top;
        }
        #torpedoList
        {
            display: inline-block;
            vertical-align: text-top;
        }

        #hullStats
        {
            display: inline-block;
            text-align: left;
            vertical-align: text-top;
        }
        #blank1
        {
            display: inline-block;
            text-align: center;
            vertical-align: text-top;
        }
        #mainWeaponStats
        {
            display: inline-block;
            text-align: left;
            vertical-align: text-top;
        }
        #blank2
        {
            display: inline-block;
            text-align: center;
            vertical-align: text-top;
        }
        #AASecondaryStats
        {
            display: inline-block;
            text-align: left;
            vertical-align: text-top;
        }
        #blank3
        {
            display: inline-block;
            text-align: center;
            vertical-align: text-top;
        }
        #torpedo
        {
            display: inline-block;
            text-align: left;
            vertical-align: text-top;
        }

        .button
        {
            background-color:#fff;
            text-align: center;
            border-color: rgb(0,0,0);
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
            cursor: default;
        }

        .button_module
        {
            font-size: 12px;
            min-width: 100px;
            max-width: 100px;
            min-height: 100px;
            max-height: 100px;
            word-wrap: normal;
            cursor: pointer;
        }

        .button_module img
        {
            width: 50px;
            margin-bottom: 0px;
        }

        .button_module_selected
        {
            background-color:#fff;
            text-align: center;
            border-color: rgb(256,0,0);
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
            cursor: default;
        }

        .tier { float:right }
        .health { float:right }
        .speed { float:right }
        .rudderShift { float:right }
        .turningRadius { float:right }
        .sConceal { float:right }
        .aConceal { float:right }
        .burnTime { float:right }
        .floodTime { float:right }

        .barrels { float:right }
        .maxMainGunRange { float:right }
        .mainGunReload { float:right }
        .mainGunRotation { float:right }
        .mainGunRotationTime { float:right }
        .APShellSpeed { float:right }
        .APShellDMG { float:right }
        .HEShellSpeed { float:right }
        .HEShellDMG { float:right }
        .HEShellBurnProb { float:right }
        .mainGunDispersionRange { float:right }
        .sigmaCount { float:right }
        .stealthFireSurfaceDetection { float:right }

        .antiAirAuraDistanceFar { float:right }
        .AAFarDPS { float:right }
        .antiAirAuraDistanceMedium { float:right }
        .AAMediumDPS { float:right }
        .antiAirAuraDistanceNear { float:right }
        .AANearDPS { float:right }
        .secondaryMaxDist { float:right }

        .tubes { float:right }
        .maxTorpedoRange { float:right }
        .torpedoReload { float:right }
        .torpedoSpeed { float:right }
        .torpedoVisibilityFactor { float:right }

    </style>
</head>
<body>
<main>
    <div class="container">
        <div class="dropDownList" id="dropDownList">
            <ul id="shipList">
                <li th:each="nation : ${nameList.nationList}">
                    <span th:text="${nation}"/>
                    <ul>
                        <li th:each="shipType : ${nameList.shipTypeList}">
                            <span th:text="${shipType}"/>
                            <ul th:if="${nation == 'France' and shipType == 'AirCarrier'}">
                                <li th:onclick="'setShipName(\'' + ${FranceAirCarrier} +'\');'" th:each="FranceAirCarrier : ${nameList.FranceAirCarrierList}">
                                    <span th:text="${FranceAirCarrier}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'France' and shipType == 'Battleship'}">
                                <li th:onclick="'setShipName(\'' + ${FranceBattleship} +'\');'" th:each="FranceBattleship : ${nameList.FranceBattleshipList}">
                                    <span th:text="${FranceBattleship}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'France' and shipType == 'Cruiser'}">
                                <li th:onclick="'setShipName(\'' + ${FranceCruiser} +'\');'" th:each="FranceCruiser : ${nameList.FranceCruiserList}">
                                    <span th:text="${FranceCruiser}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'France' and shipType == 'Destroyer'}">
                                <li th:onclick="'setShipName(\'' + ${FranceDestroyer} +'\');'" th:each="FranceDestroyer : ${nameList.FranceDestroyerList}">
                                    <span th:text="${FranceDestroyer}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'France' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${FrancePremium} +'\');'" th:each="FrancePremium : ${nameList.FrancePremiumList}">
                                    <span th:text="${FrancePremium}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Germany' and shipType == 'AirCarrier'}">
                                <li th:onclick="'setShipName(\'' + ${GermanyAirCarrier} +'\');'" th:each="GermanyAirCarrier : ${nameList.GermanyAirCarrierList}">
                                    <span th:text="${GermanyAirCarrier}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Germany' and shipType == 'Battleship'}">
                                <li th:onclick="'setShipName(\'' + ${GermanyBattleship} +'\');'" th:each="GermanyBattleship : ${nameList.GermanyBattleshipList}">
                                    <span th:text="${GermanyBattleship}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Germany' and shipType == 'Cruiser'}">
                                <li th:onclick="'setShipName(\'' + ${GermanyCruiser} +'\');'" th:each="GermanyCruiser : ${nameList.GermanyCruiserList}">
                                    <span th:text="${GermanyCruiser}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Germany' and shipType == 'Destroyer'}">
                                <li th:onclick="'setShipName(\'' + ${GermanyDestroyer} +'\');'" th:each="GermanyDestroyer : ${nameList.GermanyDestroyerList}">
                                    <span th:text="${GermanyDestroyer}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Germany' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${GermanyPremium} +'\');'" th:each="GermanyPremium : ${nameList.GermanyPremiumList}">
                                    <span th:text="${GermanyPremium}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Japan' and shipType == 'AirCarrier'}">
                                <li th:onclick="'setShipName(\'' + ${JapanAirCarrier} +'\');'" th:each="JapanAirCarrier : ${nameList.JapanAirCarrierList}">
                                    <span th:text="${JapanAirCarrier}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Japan' and shipType == 'Battleship'}">
                                <li th:onclick="'setShipName(\'' + ${JapanBattleship} +'\');'" th:each="JapanBattleship : ${nameList.JapanBattleshipList}">
                                    <span th:text="${JapanBattleship}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Japan' and shipType == 'Cruiser'}">
                                <li th:onclick="'setShipName(\'' + ${JapanCruiser} +'\');'" th:each="JapanCruiser : ${nameList.JapanCruiserList}">
                                    <span th:text="${JapanCruiser}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Japan' and shipType == 'Destroyer'}">
                                <li th:onclick="'setShipName(\'' + ${JapanDestroyer} +'\');'" th:each="JapanDestroyer : ${nameList.JapanDestroyerList}">
                                    <span th:text="${JapanDestroyer}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Japan' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${JapanPremium} +'\');'" th:each="JapanPremium : ${nameList.JapanPremiumList}">
                                    <span th:text="${JapanPremium}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Pan-Asia' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${PanAsiaPremium} +'\');'" th:each="PanAsiaPremium : ${nameList.PanAsiaPremiumList}">
                                    <span th:text="${PanAsiaPremium}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'Poland' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${PolandPremium} +'\');'" th:each="PolandPremium : ${nameList.PolandPremiumList}">
                                    <span th:text="${PolandPremium}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.K.' and shipType == 'AirCarrier'}">
                                <li th:onclick="'setShipName(\'' + ${UKAirCarrier} +'\');'" th:each="UKAirCarrier : ${nameList.UKAirCarrierList}">
                                    <span th:text="${UKAirCarrier}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.K.' and shipType == 'Battleship'}">
                                <li th:onclick="'setShipName(\'' + ${UKBattleship} +'\');'" th:each="UKBattleship : ${nameList.UKBattleshipList}">
                                    <span th:text="${UKBattleship}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.K.' and shipType == 'Cruiser'}">
                                <li th:onclick="'setShipName(\'' + ${UKCruiser} +'\');'" th:each="UKCruiser : ${nameList.UKCruiserList}">
                                    <span th:text="${UKCruiser}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.K.' and shipType == 'Destroyer'}">
                                <li th:onclick="'setShipName(\'' + ${UKDestroyer} +'\');'" th:each="UKDestroyer : ${nameList.UKDestroyerList}">
                                    <span th:text="${UKDestroyer}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.K.' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${UKPremium} +'\');'" th:each="UKPremium : ${nameList.UKPremiumList}">
                                    <span th:text="${UKPremium}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.A.' and shipType == 'AirCarrier'}">
                                <li th:onclick="'setShipName(\'' + ${USAAirCarrier} +'\');'" th:each="USAAirCarrier : ${nameList.USAAirCarrierList}">
                                    <span th:text="${USAAirCarrier}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.A.' and shipType == 'Battleship'}">
                                <li th:onclick="'setShipName(\'' + ${USABattleship} +'\', \'' + ${nation} +'\');'" th:each="USABattleship : ${nameList.USABattleshipList}">
                                    <span th:text="${USABattleship}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.A.' and shipType == 'Cruiser'}">
                                <li th:onclick="'setShipName(\'' + ${USACruiser} +'\');'" th:each="USACruiser : ${nameList.USACruiserList}">
                                    <span th:text="${USACruiser}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.A.' and shipType == 'Destroyer'}">
                                <li th:onclick="'setShipName(\'' + ${USADestroyer} +'\');'" th:each="USADestroyer : ${nameList.USADestroyerList}">
                                    <span th:text="${USADestroyer}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.A.' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${USAPremium} +'\');'" th:each="USAPremium : ${nameList.USAPremiumList}">
                                    <span th:text="${USAPremium}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.S.R.' and shipType == 'AirCarrier'}">
                                <li th:onclick="'setShipName(\'' + ${USSRAirCarrier} +'\');'" th:each="USSRAirCarrier : ${nameList.USSRAirCarrierList}">
                                    <span th:text="${USSRAirCarrier}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Battleship'}">
                                <li th:onclick="'setShipName(\'' + ${USSRBattleship} +'\');'" th:each="USSRBattleship : ${nameList.USSRBattleshipList}">
                                    <span th:text="${USSRBattleship}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Cruiser'}">
                                <li th:onclick="'setShipName(\'' + ${USSRCruiser} +'\');'" th:each="USSRCruiser : ${nameList.USSRCruiserList}">
                                    <span th:text="${USSRCruiser}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Destroyer'}">
                                <li th:onclick="'setShipName(\'' + ${USSRDestroyer} +'\');'" th:each="USSRDestroyer : ${nameList.USSRDestroyerList}">
                                    <span th:text="${USSRDestroyer}"/>
                                </li>
                            </ul>
                            <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Premium'}">
                                <li th:onclick="'setShipName(\'' + ${USSRPremium} +'\');'" th:each="USSRPremium : ${nameList.USSRPremiumList}">
                                    <span th:text="${USSRPremium}"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="ship" id="ship">
            <header>
                <h1 class="shipName"/>
            </header>
            <div class="modules">
                <div id="turretList">
                        <li th:onclick="'turret(\'' + ${turret} +'\', \''+ ${turretList} + '\');'" th:each="turret : ${turretList}" th:id="${turret}">
                            <button class="button button_module" th:id="${turret}">
                                <img src="http://api.worldofwarships.com//static//1.8.3//wows//encyclopedia//module//icon_module_maingun.png"/><br />
                                <span th:text="${turret}"/>
                            </button>
                        </li>
                    </div>
                    <div id="hullList">
                        <li th:onclick="'hull(\'' + ${hull} +'\', \''+ ${hullList} + '\');'" th:each="hull : ${hullList}" th:id="${hull}">
                            <button class="button button_module" th:id="${hull}">
                                <img src="http://api.worldofwarships.com//static//1.8.3//wows//encyclopedia//module//icon_module_hull.png"/><br />
                                <span th:text="${hull}"/>
                            </button>
                        </li>
                    </div>
                    <div id="engineList">
                        <li th:onclick="'engine(\'' + ${engine} +'\', \''+ ${engineList} + '\');'" th:each="engine : ${engineList}" th:id="${engine}">
                            <button class="button button_module" th:id="${engine}">
                                <img src="http://api.worldofwarships.com//static//1.8.3//wows//encyclopedia//module//icon_module_engine.png"/><br />
                                <span th:text="${engine}"/>
                            </button>
                        </li>
                    </div>
                    <div id="radarList">
                        <li th:onclick="'radar(\'' + ${radar} +'\', \''+ ${radarList} + '\');'" th:each="radar : ${radarList}" th:id="${radar}">
                            <button class="button button_module" th:id="${radar}">
                                <img src="http://api.worldofwarships.com//static//1.8.3//wows//encyclopedia//module//icon_module_radar.png"/><br />
                                <span th:text="${radar}"/>
                            </button>
                        </li>
                    </div>
                    <div id="torpedoList">
                        <li th:onclick="'torpedo(\'' + ${torpedo} +'\', \''+ ${torpedoList} + '\');'" th:each="torpedo : ${torpedoList}" th:id="${torpedo}">
                            <button class="button button_module" th:id="${torpedo}">
                                <img src="http://api.worldofwarships.com//static//1.8.3//wows//encyclopedia//module//icon_module_torpedoes.png"/><br />
                                <span th:text="${torpedo}"/>
                            </button>
                        </li>
                </div>
                <div>
                    <div id="hullStats" class="hullStats">
                        <b>Hull</b><br />
                        Tier<span class="tier"/><br />
                        Health<span class="health"/><br />
                        Speed<span class="speed"/><br />
                        Rudder Shift<span class="rudderShift"/><br />
                        Turn Radius<span class="turningRadius"/><br />
                        Surface Conceal&emsp;&emsp;&emsp;<span class="sConceal"/><br />
                        Air Conceal<span class="aConceal"/><br />
                        Burn Time<span class="burnTime"/><br />
                        Flood Time<span class="floodTime"/><br />
                    </div>
                    <div id="blank1" class="blank">
                        &emsp;
                    </div>
                    <div id="mainWeaponStats" class="mainWeaponStats">
                        <b>Main Battery</b><br />
                        Barrels<span class="barrels"/><br />
                        Range<span class="maxMainGunRange"/><br />
                        Reload<span class="mainGunReload"/><br />
                        Rotation<span class="mainGunRotation"/><br />
                        <span class="mainGunRotationTime"/><br />
                        <br />
                        <b>Shells</b><br />
                        AP Speed<span class="APShellSpeed"/><br />
                        AP Damage<span class="APShellDMG"/><br />
                        HE Speed<span class="HEShellSpeed"/><br />
                        HE Damage<span class="HEShellDMG"/><br />
                        Burn Probability&emsp;&emsp;&emsp;<span class="HEShellBurnProb"/><br />
                        Dispersion<span class="mainGunDispersionRange"/><br />
                        Sigma<span class="sigmaCount"/><br />
                        Stealth<span class="stealthFireSurfaceDetection"/><br />
                    </div>
                    <div id="blank2" class="blank">
                        &emsp;
                    </div>
                    <div id="AASecondaryStats" class="AASecondaryStats">
                        <b>Anti-Air</b><br />
                        Far Range<span class="antiAirAuraDistanceFar"/><br />
                        Far DPS<span class="AAFarDPS"/><br />
                        Medium Range&emsp;&emsp;&emsp;<span class="antiAirAuraDistanceMedium"/><br />
                        Medium DPS<span class="AAMediumDPS"/><br />
                        Near Range<span class="antiAirAuraDistanceNear"/><br />
                        Near DPS<span class="AANearDPS"/><br />
                        <br />
                        <b>Secondary</b><br />
                        Range<span class="secondaryMaxDist"/><br />
                    </div>
                    <div id="blank3" class="blank">
                        &emsp;
                    </div>
                    <div id="torpedo" class="torpedo">
                        <b>Torpedoes</b><br />
                        Tubes<span class="tubes"/><br />
                        Range<span class="maxTorpedoRange"/><br />
                        Reload<span class="torpedoReload"/><br />
                        Speed<span  class="torpedoSpeed"/><br />
                        Detection&emsp;&emsp;&emsp;<span class="torpedoVisibilityFactor"/><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">

    HashMap = function(){
        this.map = new Array();
    };
    HashMap.prototype = {
        put : function(key, value){
            this.map[key] = value;
        },
        get : function(key){
            return this.map[key];
        },
        getAll : function(){
            return this.map;
        },
        clear : function(){
            this.map = new Array();
        },
        getKeys : function(){
            var keys = new Array();
            for(i in this.map){
                keys.push(i);
            }
            return keys;
        }
    };

    var shipName = '';
    var shipNation = '';
    var apiShipJSON;
    var apiArtilleryUpgradeHashMap = new HashMap();
    var apiHullUpgradeHashMap = new HashMap();
    var apiEngineUpgradeHashMap = new HashMap();
    var apiRadarUpgradeHashMap = new HashMap();
    var apiTorpedoUpgradeHashMap = new HashMap();

    var gpShipJSON;
    var gpShipUpgradeInfo;

    function setShipName(name, nation)
    {
        shipName = name;
        shipNation = nation;
        document.querySelector('.shipName').innerHTML = shipName.toString();

        $.ajax({
            url: "/apiShipJSON/" + shipName,
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (data)
            {
                apiShipJSON = data;

                $.ajax({
                    url: "/gpShipJSON",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data)
                    {
                        gpShipJSON = data;
                        gpShipUpgradeInfo = gpShipJSON['ShipUpgradeInfo'];
                    }
                });
            }
        });





    }





    var tier = 0;
    var health = 0;
    var speed = 0;
    var rudderShift = 0;
    var turningRadius = 0;
    var sConceal = 0;
    var aConceal = 0;
    var burnTime = 0;
    var floodTime = 0;

    var numTurrets = 0;
    var numBarrels = 0;
    var turretBarrelDiameter = 0;
    var maxMainGunRange = 0;
    var maxDistCoef = 0;
    var mainGunReload = 0;
    var mainGunRotation = 0;
    var mainGunRotationTime = 0;

    var APShellSpeed = 0;
    var APShellDMG = 0;
    var HEShellSpeed = 0;
    var HEShellDMG = 0;
    var HEShellBurnProb = 0;
    var mainGunDispersionTangent = 0
    var mainGunDispersionRange = 0;
    var sigmaCount = 0;
    var stealthFireSurfaceDetection = 0;

    var antiAirAuraDistanceFar = 0;
    var AAFarDPS = 0;
    var antiAirAuraDistanceMedium = 0;
    var AAMediumDPS = 0;
    var antiAirAuraDistanceNear = 0;
    var AANearDPS = 0;
    var secondaryMaxDist = 0;

    var torpTubes = 0;
    var torpTurrets = 0;
    var maxTorpedoRange = 0;
    var torpedoReload = 0;
    var torpedoSpeed = 0;
    var torpedoVisibilityFactor = 0;



    function turret(id, list)
    {
        if (typeof list == 'string')
        {
            list = list.substring(1, list.length - 1);
            list = list.split(', ');
        }

        for (var i in list)
        {
            document.getElementById(list[i]).className = "button button_module";
        }
        document.getElementById(id).className = "button button_module button_module_selected";

        setTurretStats(id);
    }

    function hull(id, list)
    {
         if (typeof list == 'string')
         {
            list = list.substring(1, list.length - 1);
            list = list.split(', ');
         }
         for (var i in list)
         {
             document.getElementById(list[i]).className = "button button_module";
         }
        document.getElementById(id).className = "button button_module button_module_selected";
    }

    function engine(id, list)
    {
        if (typeof list == 'string')
        {
            list = list.substring(1, list.length - 1);
            list = list.split(', ');
        }

         for (var i in list)
         {
            document.getElementById(list[i]).className = "button button_module";
         }
         document.getElementById(id).className = "button button_module button_module_selected";
    }

    function radar(id, list)
    {
        if (typeof list == 'string')
        {
            list = list.substring(1, list.length - 1);
            list = list.split(', ');
        }

        for (var i in list)
        {
            document.getElementById(list[i]).className = "button button_module";
        }
        document.getElementById(id).className = "button button_module button_module_selected";
        setRadarStats(id);
    }

    function torpedo(id, list)
    {
        if (typeof list == 'string')
        {
            list = list.substring(1, list.length - 1);
            list = list.split(', ');
        }

        for (var i in list)
        {
            document.getElementById(list[i]).className = "button button_module";
        }
            document.getElementById(id).className = "button button_module button_module_selected";
        }

    function setTurretStats(id)
    {
        if (id == null)
        {
            return;
        }
        var API_JSON = apiArtilleryUpgradeHashMap.get(id);
        var API_module_id_str = API_JSON['module_id_str'];
        var GP_turretKey = null;

        var module = gpShipUpgradeInfo[GP_turretKey];
        var components = module['components'];
        var artillery = components['artillery'];

        var GP_ArtilleryJSON = gpShipJSON[artillery[artillery.length - 1]];

        var GP_TurretJSON;

        if (shipNation == 'U.S.A.')
        {
             GP_TurretJSON = GP_ArtilleryJSON['HP_AGM_1'];
        }
        else if (shipNation == 'Germany')
        {
             GP_TurretJSON = GP_ArtilleryJSON['HP_GGM_1'];
        }
        else if (shipNation == 'Japan')
        {
             GP_TurretJSON = GP_ArtilleryJSON['HP_JGM_1'];
        }
        else if (shipNation == 'U.S.S.R')
        {
            GP_TurretJSON = GP_ArtilleryJSON['HP_RGM_1'];
        }
        else if (shipNation == 'U.K.')
        {
             GP_TurretJSON = GP_ArtilleryJSON['HP_BGM_1'];
        }
        else if (shipNation == 'Poland')
        {
             GP_TurretJSON = GP_ArtilleryJSON['HP_WGM_2'];
        }
        else if (shipNation == 'Pan-Asia')
        {
             GP_TurretJSON = GP_ArtilleryJSON['HP_ZGM_1'];
        }
        else if (shipNation == 'France')
        {
             GP_TurretJSON = GP_ArtilleryJSON['HP_FGM_1'];
        }

        maxMainGunRange = GP_ArtilleryJSON['maxDist'] * maxDistCoef;
        sigmaCount = GP_ArtilleryJSON['sigmaCount'];
        numBarrels = GP_TurretJSON['numBarrels'];

        for (var i in Object.keys(GP_ArtilleryJSON))
        {
             if (!(Object.keys(GP_ArtilleryJSON)[i]).indexOf('HP_'))
             {
                numTurrets = numTurrets + 1;
             }
         }
        turretBarrelDiameter = GP_TurretJSON['barrelDiameter'];

        var ammoList = GP_TurretJSON['ammoList'];

        ammoList.sort();

        var APShell = [ammoList[0]];
        var HEShell = [ammoList[1]];

        APShellSpeed = APShell['bulletSpeed'];
        APShellDMG = APShell['alphaDamage'];
        HEShellSpeed = HEShell['bulletSpeed'];
        HEShellDMG = HEShell['alphaDamage'];
        HEShellBurnProb = HEShell['burnProb'];

        mainGunRotation = GP_TurretJSON['rotationSpeed'][0];
        if (mainGunRotation != 0)
        {
            mainGunRotationTime = 180 / mainGunRotation;
        }

        mainGunReload = GP_TurretJSON['shotDelay'];

        mainGunDispersionTangent = GP_TurretJSON['idealRadius'];
        mainGunDispersionTangent = mainGunDispersionTangent * 0.03 * Math.PI / 180;
        mainGunDispersionTangent = Math.tan(mainGunDispersionTangent);

        mainGunDispersionRange = maxMainGunRange * mainGunDispersionTangent * 2;
    }

    function setRadarStats(id)
    {
         if (id == null)
         {
            return;
        }

         var API_JSON = apiRadarUpgradeHashMap.get(id);
         var API_module_id_str = API_JSON['module_id_str'];
         var GP_radarKey = [API_module_id_str]['name'];

         var module = gpShipUpgradeInfo[GP_radarKey];
         var components = module['components'];
         var radar = components['fireControl'];

         var GP_RadarJSON = gpShipJSON[radar[radar.length - 1]];
         maxDistCoef = GP_RadarJSON['maxDistCoef'];
    }


    document.querySelector('.hullStats .tier').innerHTML = tier.toLocaleString();
    document.querySelector('.hullStats .health').innerHTML = health.toLocaleString();
    document.querySelector('.hullStats .speed').innerHTML = speed.toLocaleString() + " kts";
    document.querySelector('.hullStats .rudderShift').innerHTML = rudderShift.toLocaleString() + " s";
    document.querySelector('.hullStats .turningRadius').innerHTML = turningRadius.toLocaleString() + " m";
    document.querySelector('.hullStats .sConceal').innerHTML = sConceal.toLocaleString() + " km";
    document.querySelector('.hullStats .aConceal').innerHTML = aConceal.toLocaleString() + " km";
    document.querySelector('.hullStats .burnTime').innerHTML = burnTime.toLocaleString() + " s";
    document.querySelector('.hullStats .floodTime').innerHTML = floodTime.toLocaleString() + " s";

    document.querySelector('.mainWeaponStats .barrels').innerHTML = numBarrels.toLocaleString() + " X " + numTurrets.toLocaleString();
    document.querySelector('.mainWeaponStats .maxMainGunRange').innerHTML = maxMainGunRange.toLocaleString() + " m";
    document.querySelector('.mainWeaponStats .mainGunReload').innerHTML = mainGunReload.toLocaleString() + " s";
    document.querySelector('.mainWeaponStats .mainGunRotation').innerHTML = mainGunRotation.toLocaleString() + " deg/s";
    document.querySelector('.mainWeaponStats .mainGunRotationTime').innerHTML = mainGunRotationTime.toLocaleString() + " s";
    document.querySelector('.mainWeaponStats .APShellSpeed').innerHTML = APShellSpeed.toLocaleString() + " m/s";
    document.querySelector('.mainWeaponStats .APShellDMG').innerHTML = APShellDMG.toLocaleString();
    document.querySelector('.mainWeaponStats .HEShellSpeed').innerHTML = HEShellSpeed.toLocaleString() + " m/s";
    document.querySelector('.mainWeaponStats .HEShellDMG').innerHTML = HEShellDMG.toLocaleString();
    document.querySelector('.mainWeaponStats .HEShellBurnProb').innerHTML = HEShellBurnProb.toLocaleString();
    document.querySelector('.mainWeaponStats .mainGunDispersionRange').innerHTML = mainGunDispersionRange.toLocaleString() + " m";
    document.querySelector('.mainWeaponStats .sigmaCount').innerHTML = sigmaCount.toLocaleString();
    document.querySelector('.mainWeaponStats .stealthFireSurfaceDetection').innerHTML = (sConceal + stealthFireSurfaceDetection).toLocaleString() + " km";

    document.querySelector('.AASecondaryStats .antiAirAuraDistanceFar').innerHTML = antiAirAuraDistanceFar.toLocaleString() + " km";
    document.querySelector('.AASecondaryStats .AAFarDPS').innerHTML = AAFarDPS.toLocaleString();
    document.querySelector('.AASecondaryStats .antiAirAuraDistanceMedium').innerHTML = antiAirAuraDistanceMedium.toLocaleString() + " km";
    document.querySelector('.AASecondaryStats .AAMediumDPS').innerHTML = AAMediumDPS.toLocaleString();
    document.querySelector('.AASecondaryStats .antiAirAuraDistanceNear').innerHTML = antiAirAuraDistanceNear.toLocaleString() + " km";
    document.querySelector('.AASecondaryStats .AANearDPS').innerHTML = AANearDPS.toLocaleString();
    document.querySelector('.AASecondaryStats .secondaryMaxDist').innerHTML = secondaryMaxDist.toLocaleString() + " m";

    if (torpTubes > 0)
    {
        document.querySelector('.torpedo .tubes').innerHTML = torpTurrets.toLocaleString() + " X " + torpTubes.toLocaleString();
        document.querySelector('.torpedo .maxTorpedoRange').innerHTML = maxTorpedoRange.toLocaleString() + " km";
        document.querySelector('.torpedo .torpedoReload').innerHTML = torpedoReload.toLocaleString() + " s";
        document.querySelector('.torpedo .torpedoSpeed').innerHTML = torpedoSpeed.toLocaleString() + " kts";
        document.querySelector('.torpedo .torpedoVisibilityFactor').innerHTML = torpedoVisibilityFactor.toLocaleString() + " km";
    }

</script>
</body>
</html>