<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />

    <script th:src="@{/js/jquery/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>

    <title>World of Warships Fitting Tool</title>

    <script>
        $( function() {
            $( "#shipList" ).menu();
        } );
    </script>
</head>
<body>
<header>
    <div id="header">
        <div id="dropDownList">
                <ul id="shipList">
                    <li th:each="nation : ${nameList.nationList}">
                        <span th:text="${nation}"/>
                        <ul>
                            <li th:each="shipType : ${nameList.shipTypeList}">
                                <span th:text="${shipType}"/>
                                <ul th:if="${nation == 'France' and shipType == 'AirCarrier'}">
                                    <li th:each="FranceAirCarrier : ${nameList.FranceAirCarrierList}">
                                        <a th:href="@{/ship/{name}(name = ${FranceAirCarrier})}">
                                            <span th:text="${FranceAirCarrier}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'France' and shipType == 'Battleship'}">
                                    <li th:each="FranceBattleship : ${nameList.FranceBattleshipList}">
                                        <a th:href="@{/ship/{name}(name = ${FranceBattleship})}">
                                            <span th:text="${FranceBattleship}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'France' and shipType == 'Cruiser'}">
                                    <li th:each="FranceCruiser : ${nameList.FranceCruiserList}">
                                        <a th:href="@{/ship/{name}(name = ${FranceCruiser})}">
                                            <span th:text="${FranceCruiser}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'France' and shipType == 'Destroyer'}">
                                    <li th:each="FranceDestroyer : ${nameList.FranceDestroyerList}">
                                        <a th:href="@{/ship/{name}(name = ${FranceDestroyer})}">
                                            <span th:text="${FranceDestroyer}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'France' and shipType == 'Premium'}">
                                    <li th:each="FrancePremium : ${nameList.FrancePremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${FrancePremium})}">
                                            <span th:text="${FrancePremium}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Germany' and shipType == 'AirCarrier'}">
                                    <li th:each="GermanyAirCarrier : ${nameList.GermanyAirCarrierList}">
                                        <a th:href="@{/ship/{name}(name = ${GermanyAirCarrier})}">
                                            <span th:text="${GermanyAirCarrier}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Germany' and shipType == 'Battleship'}">
                                    <li th:each="GermanyBattleship : ${nameList.GermanyBattleshipList}">
                                        <a th:href="@{/ship/{name}(name = ${GermanyBattleship})}">
                                            <span th:text="${GermanyBattleship}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Germany' and shipType == 'Cruiser'}">
                                    <li th:each="GermanyCruiser : ${nameList.GermanyCruiserList}">
                                        <a th:href="@{/ship/{name}(name = ${GermanyCruiser})}">
                                            <span th:text="${GermanyCruiser}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Germany' and shipType == 'Destroyer'}">
                                    <li th:each="GermanyDestroyer : ${nameList.GermanyDestroyerList}">
                                        <a th:href="@{/ship/{name}(name = ${GermanyDestroyer})}">
                                            <span th:text="${GermanyDestroyer}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Germany' and shipType == 'Premium'}">
                                    <li th:each="GermanyPremium : ${nameList.GermanyPremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${GermanyPremium})}">
                                            <span th:text="${GermanyPremium}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Japan' and shipType == 'AirCarrier'}">
                                    <li th:each="JapanAirCarrier : ${nameList.JapanAirCarrierList}">
                                        <a th:href="@{/ship/{name}(name = ${JapanAirCarrier})}">
                                            <span th:text="${JapanAirCarrier}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Japan' and shipType == 'Battleship'}">
                                    <li th:each="JapanBattleship : ${nameList.JapanBattleshipList}">
                                        <a th:href="@{/ship/{name}(name = ${JapanBattleship})}">
                                            <span th:text="${JapanBattleship}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Japan' and shipType == 'Cruiser'}">
                                    <li th:each="JapanCruiser : ${nameList.JapanCruiserList}">
                                        <a th:href="@{/ship/{name}(name = ${JapanCruiser})}">
                                            <span th:text="${JapanCruiser}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Japan' and shipType == 'Destroyer'}">
                                    <li th:each="JapanDestroyer : ${nameList.JapanDestroyerList}">
                                        <a th:href="@{/ship/{name}(name = ${JapanDestroyer})}">
                                            <span th:text="${JapanDestroyer}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Japan' and shipType == 'Premium'}">
                                    <li th:each="JapanPremium : ${nameList.JapanPremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${JapanPremium})}">
                                            <span th:text="${JapanPremium}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Pan-Asia' and shipType == 'Premium'}">
                                    <li th:each="PanAsiaPremium : ${nameList.PanAsiaPremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${PanAsiaPremium})}">
                                            <span th:text="${PanAsiaPremium}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'Poland' and shipType == 'Premium'}">
                                    <li th:each="PolandPremium : ${nameList.PolandPremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${PolandPremium})}">
                                            <span th:text="${PolandPremium}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.K.' and shipType == 'AirCarrier'}">
                                    <li th:each="UKAirCarrier : ${nameList.UKAirCarrierList}">
                                        <a th:href="@{/ship/{name}(name = ${UKAirCarrier})}">
                                            <span th:text="${UKAirCarrier}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.K.' and shipType == 'Battleship'}">
                                    <li th:each="UKBattleship : ${nameList.UKBattleshipList}">
                                        <a th:href="@{/ship/{name}(name = ${UKBattleship})}">
                                            <span th:text="${UKBattleship}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.K.' and shipType == 'Cruiser'}">
                                    <li th:each="UKCruiser : ${nameList.UKCruiserList}">
                                        <a th:href="@{/ship/{name}(name = ${UKCruiser})}">
                                            <span th:text="${UKCruiser}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.K.' and shipType == 'Destroyer'}">
                                    <li th:each="UKDestroyer : ${nameList.UKDestroyerList}">
                                        <a th:href="@{/ship/{name}(name = ${UKDestroyer})}">
                                            <span th:text="${UKDestroyer}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.K.' and shipType == 'Premium'}">
                                    <li th:each="UKPremium : ${nameList.UKPremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${UKPremium})}">
                                            <span th:text="${UKPremium}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.A.' and shipType == 'AirCarrier'}">
                                    <li th:each="USAAirCarrier : ${nameList.USAAirCarrierList}">
                                        <a th:href="@{/ship/{name}(name = ${USAAirCarrier})}">
                                            <span th:text="${USAAirCarrier}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.A.' and shipType == 'Battleship'}">
                                    <li th:each="USABattleship : ${nameList.USABattleshipList}">
                                        <a th:href="@{/ship/{name}(name = ${USABattleship})}">
                                            <span th:text="${USABattleship}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.A.' and shipType == 'Cruiser'}">
                                    <li th:each="USACruiser : ${nameList.USACruiserList}">
                                        <a th:href="@{/ship/{name}(name = ${USACruiser})}">
                                            <span th:text="${USACruiser}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.A.' and shipType == 'Destroyer'}">
                                    <li th:each="USADestroyer : ${nameList.USADestroyerList}">
                                        <a th:href="@{/ship/{name}(name = ${USADestroyer})}">
                                            <span th:text="${USADestroyer}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.A.' and shipType == 'Premium'}">
                                    <li th:each="USAPremium : ${nameList.USAPremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${USAPremium})}">
                                            <span th:text="${USAPremium}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.S.R.' and shipType == 'AirCarrier'}">
                                    <li th:each="USSRAirCarrier : ${nameList.USSRAirCarrierList}">
                                        <a th:href="@{/ship/{name}(name = ${USSRAirCarrier})}">
                                            <span th:text="${USSRAirCarrier}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Battleship'}">
                                    <li th:each="USSRBattleship : ${nameList.USSRBattleshipList}">
                                        <a th:href="@{/ship/{name}(name = ${USSRBattleship})}">
                                            <span th:text="${USSRBattleship}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Cruiser'}">
                                    <li th:each="USSRCruiser : ${nameList.USSRCruiserList}">
                                        <a th:href="@{/ship/{name}(name = ${USSRCruiser})}">
                                            <span th:text="${USSRCruiser}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Destroyer'}">
                                    <li th:each="USSRDestroyer : ${nameList.USSRDestroyerList}">
                                        <a th:href="@{/ship/{name}(name = ${USSRDestroyer})}">
                                            <span th:text="${USSRDestroyer}"/>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${nation == 'U.S.S.R.' and shipType == 'Premium'}">
                                    <li th:each="USSRPremium : ${nameList.USSRPremiumList}">
                                        <a th:href="@{/ship/{name}(name = ${USSRPremium})}">
                                            <span th:text="${USSRPremium}"/>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        <div id="name">
            <h1 th:text="${name}"/>
            <img th:src="${imagesMedium}" />
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div id="ship">
            <div id="modules">
                <div th:if="${not #lists.isEmpty(flightControlIndexList)}" id="flightControlList">
                    <li th:onclick="'flightControl(\'' + ${flightControl.index} +'\', \''+ ${flightControlIndexList} + '\');'" th:each="flightControl : ${flightControlUpgradeList}" th:id="${flightControl}">
                        <button class="button_module" th:id="${flightControl.index}">
                            <img th:src="@{/images/Upgrades/icon_module_flightcontrol.png}" /><br />
                            <span th:text="${flightControl.name}"/>
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(turretIndexList)}" id="turretList">
                    <li th:onclick="'turret(\'' + ${turret.index} +'\', \''+ ${turretIndexList} + '\');'" th:each="turret : ${turretUpgradeList}" th:id="${turret}">
                        <button class="button_module" th:id="${turret.index}">
                            <img th:src="@{/images/Upgrades/icon_module_maingun.png}" /><br />
                            <span th:text="${turret.name}"/>
                        </button>
                    </li>
                </div>
                <div id="hullList">
                    <li th:onclick="'hull(\'' + ${hull.index} +'\', \''+ ${hullIndexList} + '\');'" th:each="hull : ${hullUpgradeList}" th:id="${hull}">
                        <button class="button_module" th:id="${hull.index}">
                            <img th:src="@{/images/Upgrades/icon_module_hull.png}" /><br />
                            <span th:text="${hull.name}"/>
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(fighterIndexList)}" id="fighterList">
                    <li th:onclick="'fighter(\'' + ${fighter.index} +'\', \''+ ${fighterIndexList} + '\');'" th:each="fighter : ${fighterUpgradeList}" th:id="${fighter}">
                        <button class="button_module" th:id="${fighter.index}">
                            <img th:src="@{/images/Upgrades/icon_module_fighter.png}" /><br />
                            <span th:text="${fighter.name}"/>
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(torpedoBomberIndexList)}" id="torpedoBomberList">
                    <li th:onclick="'torpedoBomber(\'' + ${torpedoBomber.index} +'\', \''+ ${torpedoBomberIndexList} + '\');'" th:each="torpedoBomber : ${torpedoBomberUpgradeList}" th:id="${torpedoBomber}">
                        <button class="button_module" th:id="${torpedoBomber.index}">
                            <img th:src="@{/images/Upgrades/icon_module_torpedoBomber.png}" /><br />
                            <span th:text="${torpedoBomber.name}"/>
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(diveBomberIndexList)}" id="diveBomberList">
                    <li th:onclick="'diveBomber(\'' + ${diveBomber.index} +'\', \''+ ${diveBomberIndexList} + '\');'" th:each="diveBomber : ${diveBomberUpgradeList}" th:id="${diveBomber}">
                        <button class="button_module" th:id="${diveBomber.index}">
                            <img th:src="@{/images/Upgrades/icon_module_diveBomber.png}" /><br />
                            <span th:text="${diveBomber.name}"/>
                        </button>
                    </li>
                </div>
                <div id="engineList">
                    <li th:onclick="'engine(\'' + ${engine.index} +'\', \''+ ${engineIndexList} + '\');'" th:each="engine : ${engineUpgradeList}" th:id="${engine}">
                        <button class="button_module" th:id="${engine.index}">
                            <img th:src="@{/images/Upgrades/icon_module_engine.png}" /><br />
                            <span th:text="${engine.name}"/>
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(radarIndexList)}" id="radarList">
                    <li th:onclick="'radar(\'' + ${radar.index} +'\', \''+ ${radarIndexList} + '\');'" th:each="radar : ${radarUpgradeList}" th:id="${radar}">
                        <button class="button_module" th:id="${radar.index}">
                            <img th:src="@{/images/Upgrades/icon_module_radar.png}" /><br />
                            <span th:text="${radar.name}"/>
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(torpedoIndexList)}" id="torpedoList">
                    <li th:onclick="'torpedo(\'' + ${torpedo.index} +'\', \''+ ${torpedoIndexList} + '\');'" th:each="torpedo : ${torpedoUpgradeList}" th:id="${torpedo}">
                        <button class="button_module" th:id="${torpedo.index}">
                            <img th:src="@{/images/Upgrades/icon_module_torpedoes.png}" /><br />
                            <span th:text="${torpedo.name}"/>
                        </button>
                    </li>
                </div>
            </div>
            <div id="upgrades">
                <div th:if="${not #lists.isEmpty(modSlot1)}" id="modSlot1" class="modSlot1">
                    <li th:onclick="'mod(\'' + ${mod1} +'\', \''+ ${modSlot1} + '\');'" th:each="mod1 : ${modSlot1}" th:id="${mod1}">
                        <button class="button_upgrade" th:id="${mod1}">
                            <img th:src="@{'/images/Modules/'+ ${mod1} +'.png'}" /><br />
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(modSlot2)}" id="modSlot2" class="modSlot2">
                    <li th:onclick="'mod(\'' + ${mod2} +'\', \''+ ${modSlot2} + '\');'" th:each="mod2 : ${modSlot2}" th:id="${mod2}">
                        <button class="button_upgrade" th:id="${mod2}">
                            <img th:src="@{'/images/Modules/'+ ${mod2} +'.png'}" /><br />
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(modSlot3)}" id="modSlot3" class="modSlot3">
                    <li th:onclick="'mod(\'' + ${mod3} +'\', \''+ ${modSlot3} + '\');'" th:each="mod3 : ${modSlot3}" th:id="${mod3}">
                        <button class="button_upgrade" th:id="${mod3}">
                            <img th:src="@{'/images/Modules/'+ ${mod3} +'.png'}" /><br />
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(modSlot4)}" id="modSlot4" class="modSlot4">
                    <li th:onclick="'mod(\'' + ${mod4} +'\', \''+ ${modSlot4} + '\');'" th:each="mod4 : ${modSlot4}" th:id="${mod4}">
                        <button class="button_upgrade" th:id="${mod4}">
                            <img th:src="@{'/images/Modules/'+ ${mod4} +'.png'}" /><br />
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(modSlot5)}" id="modSlot5" class="modSlot5">
                    <li th:onclick="'mod(\'' + ${mod5} +'\', \''+ ${modSlot5} + '\');'" th:each="mod5 : ${modSlot5}" th:id="${mod5}">
                        <button class="button_upgrade" th:id="${mod5}">
                            <img th:src="@{'/images/Modules/'+ ${mod5} +'.png'}" /><br />
                        </button>
                    </li>
                </div>
                <div th:if="${not #lists.isEmpty(modSlot6)}" id="modSlot6" class="modSlot6">
                    <li th:onclick="'mod(\'' + ${mod6} +'\', \''+ ${modSlot6} + '\');'" th:each="mod6 : ${modSlot6}" th:id="${mod6}">
                        <button class="button_upgrade" th:id="${mod6}">
                            <img th:src="@{'/images/Modules/'+ ${mod6} +'.png'}" /><br />
                        </button>
                    </li>
                </div>
            </div>
            <div id="stats">
                <div id="hullStats" class="hullStats">
                    <b>Hull</b><br />
                    <!--Tier<span class="tier"/><br />-->
                    Health<span class="maxHP"/><br />
                    Speed<span class="speed"/><br />
                    Rudder Shift<span class="rudderShift"/><br />
                    Turn Radius<span class="turningRadius"/><br />
                    Surface Conceal<span style="padding-left: 4em" class="sConceal"/><br />
                    Air Conceal<span class="aConceal"/><br />
                    Burn Time<span class="burnTime"/><br />
                    Flood Time<span class="floodTime"/><br />
                </div>
                <div id="blank1" class="blank">
                    <span style="padding-left: 1em"/>
                </div>
                <div id="mainWeaponStats" class="mainWeaponStats">
                    <div th:if="${not #lists.isEmpty(turretIndexList)}" id="mainGun" class="mainGun">
                        <b>Main Battery</b><br />
                        Barrels<span class="barrels"/><br />
                        Range<span class="maxMainGunRange"/><br />
                        Reload<span class="mainGunReload"/><br />
                        Rotation<span class="mainGunRotation"/><br />
                        <span class="mainGunRotationTime"/><br />
                        <b>Shells</b><br />
                        AP Speed<span class="APShellSpeed"/><br />
                        AP Damage<span class="APShellDMG"/><br />
                        HE Speed<span class="HEShellSpeed"/><br />
                        HE Damage<span class="HEShellDMG"/><br />
                        Burn Probability<span style="padding-left: 4em" class="HEShellBurnProb"/><br />
                        Dispersion<span class="mainGunDispersionRange"/><br />
                        Sigma<span class="sigmaCount"/><br />
                        Stealth<span class="stealthFireSurfaceDetection"/><br />
                        <br />
                    </div>
                    <div th:if="${not #lists.isEmpty(torpedoIndexList)}" id="torpedo" class="torpedo">
                        <b>Torpedoes</b><br />
                        Tubes<span class="tubes"/><br />
                        Range<span class="maxTorpedoRange"/><br />
                        Reload<span class="torpedoReload"/><br />
                        Speed<span  class="torpedoSpeed"/><br />
                        Detection<span style="padding-left: 6em" class="torpedoVisibilityFactor"/><br />
                        <br />
                    </div>
                    <div th:if="${not #lists.isEmpty(flightControlIndexList)}" id="aircraft" class="aircraft">
                        <b>Fighter</b><br />
                        Squadrons<span style="padding-left: 6em" class="fighterSquadrons"/><br />
                        Size<span class="fighterSquadronSize"/><br />
                        Reserves<span class="fighterReserves"/><br />
                        <br />
                        <b>Torpedo Bomber</b><br />
                        Squadrons<span class="torpedoBomberSquadrons"/><br />
                        Size<span class="torpedoBomberSquadronSize"/><br />
                        Reserves<span class="torpedoBomberReserves"/><br />
                        <br />
                        <b>Dive Bombers</b><br />
                        Squadrons<span class="diveBomberSquadrons"/><br />
                        Size<span class="diveBomberSquadronSize"/><br />
                        Reserves<span class="diveBomberReserves"/><br />
                        <br />
                    </div>
                </div>
                <div id="blank2" class="blank">
                    <span style="padding-left: 1em"/>
                </div>
                <div id="AASecondaryStats" class="AASecondaryStats">
                    <b>Anti-Air</b><br />
                    Far Range<span class="antiAirAuraDistanceFar"/><br />
                    Far DPS<span class="AAFarDPS"/><br />
                    Medium Range<span style="padding-left: 4em" class="antiAirAuraDistanceMedium"/><br />
                    Medium DPS<span class="AAMediumDPS"/><br />
                    Near Range<span class="antiAirAuraDistanceNear"/><br />
                    Near DPS<span class="AANearDPS"/><br />
                    <br />
                    <b>Secondary</b><br />
                    Range<span class="secondaryMaxDist"/><br />
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript" th:src="@{/js/WoWSSSC/Variables.js}"></script>
<script th:inline="javascript" th:src="@{/js/WoWSSSC/ShipModules.js}"></script>
<script th:inline="javascript" th:src="@{/js/WoWSSSC/ShipUpgrades.js}"></script>
<script th:inline="javascript">

    var shipName = [[${name}]];
    var shipNation = [[${nation}]];

    var apiShipJSON;

    var ship_id_str = [[${ship_id_str}]];

    var gpShipJSON = [[${gpShipJSON}]];
    var gpShipUpgradeInfo = gpShipJSON['ShipUpgradeInfo'];
    var GP_TurretJSON;

    var apiArtilleryUpgradeJSON = [[${apiTurretJSON}]];
    var apiHullUpgradeJSON = [[${apiHullJSON}]];
    var apiEngineUpgradeJSON = [[${apiEngineJSON}]];
    var apiRadarUpgradeJSON = [[${apiRadarJSON}]];
    var apiTorpedoUpgradeJSON = [[${apiTorpedoJSON}]];
    var apiFlightControlUpgradeJSON = [[${apiFlightControlJSON}]];
    var apiFighterUpgradeJSON = [[${apiFighterJSON}]];
    var apiTorpedoBomberUpgradeJSON = [[${apiTorpedoBomberJSON}]];
    var apiDiveBomberUpgradeJSON = [[${apiDiveBomberJSON}]];


    function load()
    {
        if ([[${radarUpgradeList}]].length > 0)
        {
            radar([[${radarUpgradeList}]][0], [[${radarUpgradeList}]]);
        }

        if ([[${turretUpgradeList}]].length > 0)
        {
            turret([[${turretUpgradeList}]][0], [[${turretUpgradeList}]]);
        }

        engine([[${engineUpgradeList}]][0], [[${engineUpgradeList}]]);

        hull([[${hullUpgradeList}]][0], [[${hullUpgradeList}]]);

        if ([[${torpedoUpgradeList}]].length > 0)
        {
            torpedo([[${torpedoUpgradeList}]][0], [[${torpedoUpgradeList}]]);
        }

        if ([[${flightControlUpgradeList}]].length > 0)
        {
            flightControl([[${flightControlUpgradeList}]][0], [[${flightControlUpgradeList}]]);
        }

        if ([[${fighterUpgradeList}]].length > 0)
        {
            fighter([[${fighterUpgradeList}]][0], [[${fighterUpgradeList}]]);
        }

        if ([[${torpedoBomberUpgradeList}]].length > 0)
        {
            torpedoBomber([[${torpedoBomberUpgradeList}]][0], [[${torpedoBomberUpgradeList}]]);
        }

        if ([[${diveBomberUpgradeList}]].length > 0)
        {
            diveBomber([[${diveBomberUpgradeList}]][0], [[${diveBomberUpgradeList}]]);
        }
        
        if ([[${modSlot1}]].length > 0)
        {
            mod([[${modSlot1}]][0], [[${modSlot1}]]);
        }

        if ([[${modSlot2}]].length > 0)
        {
            mod([[${modSlot2}]][0], [[${modSlot2}]]);
        }

        if ([[${modSlot3}]].length > 0)
        {
            mod([[${modSlot3}]][0], [[${modSlot3}]]);
        }

        if ([[${modSlot4}]].length > 0)
        {
            mod([[${modSlot4}]][0], [[${modSlot4}]]);
        }

        if ([[${modSlot5}]].length > 0)
        {
            mod([[${modSlot5}]][0], [[${modSlot5}]]);
        }

        if ([[${modSlot6}]].length > 0)
        {
            mod([[${modSlot6}]][0], [[${modSlot6}]]);
        }
    }
    window.onload = load();

    function refresh()
    {
//        document.querySelector('.hullStats .tier').innerHTML = tier.toLocaleString();
        document.querySelector('.hullStats .maxHP').innerHTML = accounting.formatNumber(maxHP, 0, ",", ".");
        document.querySelector('.hullStats .speed').innerHTML = accounting.formatNumber((speed * speedCoef), 1, ",", ".") + " kts";
        document.querySelector('.hullStats .rudderShift').innerHTML = accounting.formatNumber(rudderShift * SGM2_SGRudderTime, 1, ",", ".") + " s";
        document.querySelector('.hullStats .turningRadius').innerHTML = accounting.formatNumber(turningRadius, 0, ",", ".") + " m";
        document.querySelector('.hullStats .sConceal').innerHTML = accounting.formatNumber(sConceal * CSM1_visibilityDistCoeff, 2, ",", ".") + " km";
        document.querySelector('.hullStats .aConceal').innerHTML = accounting.formatNumber(aConceal * CSM1_visibilityDistCoeff, 2, ",", ".") + " km";
        document.querySelector('.hullStats .burnTime').innerHTML = accounting.formatNumber(burnTime * DCSM2_burnTime, 1, ",", ".") + " s";
        document.querySelector('.hullStats .floodTime').innerHTML = accounting.formatNumber(floodTime * DCSM2_floodTime, 1, ",", ".") + " s";

        if (numBarrels > 0)
        {
            document.querySelector('.mainWeaponStats .barrels').innerHTML = numTurrets.toString() + " X " + numBarrels.toString();
            document.querySelector('.mainWeaponStats .maxMainGunRange').innerHTML = accounting.formatNumber(maxMainGunRange * maxDistCoef * APRM1US_GMMaxDist * GFCSM2_GMMaxDist, 0, ",", ".") + " m";
            document.querySelector('.mainWeaponStats .mainGunReload').innerHTML = accounting.formatNumber(mainGunReload * MBM2_GMShotDelay * MBM3_GMShotDelay, 1, ",", ".") + " s";
            document.querySelector('.mainWeaponStats .mainGunRotation').innerHTML = accounting.formatNumber(mainGunRotation * ASM0_GMRotationSpeed * MBM2_GMRotationSpeed * MBM3_GMRotationSpeed, 1, ",", ".") + " deg/s";
            document.querySelector('.mainWeaponStats .mainGunRotationTime').innerHTML = accounting.formatNumber(mainGunRotationTime / ASM0_GMRotationSpeed / MBM2_GMRotationSpeed / MBM3_GMRotationSpeed, 1, ",", ".") + " s";
            document.querySelector('.mainWeaponStats .APShellSpeed').innerHTML = APShellSpeed.toString() + " m/s";
            document.querySelector('.mainWeaponStats .APShellDMG').innerHTML = accounting.formatNumber(APShellDMG, 0, ",", ".");
            document.querySelector('.mainWeaponStats .HEShellSpeed').innerHTML = HEShellSpeed.toString() + " m/s";
            document.querySelector('.mainWeaponStats .HEShellDMG').innerHTML = accounting.formatNumber(HEShellDMG, 0, ",", ".");
            document.querySelector('.mainWeaponStats .HEShellBurnProb').innerHTML = accounting.formatNumber(HEShellBurnProb * 100, 0, ",", ".") + " %";
            document.querySelector('.mainWeaponStats .mainGunDispersionRange').innerHTML = accounting.formatNumber(maxMainGunRange * maxDistCoef * mainGunDispersionTangent * 2 * ASM0_GMIdealRadius * ASM1_GMIdealRadius * APRM2US_GMIdealRadius, 0, ",", ".") + " m";
            document.querySelector('.mainWeaponStats .sigmaCount').innerHTML = sigmaCount.toString();
            document.querySelector('.mainWeaponStats .stealthFireSurfaceDetection').innerHTML = accounting.formatNumber((sConceal + stealthFireSurfaceDetection), 2, ",", ".") + " km";
        }

        document.querySelector('.AASecondaryStats .antiAirAuraDistanceFar').innerHTML = accounting.formatNumber(antiAirAuraDistanceFar * AAGM2_AAMaxDist, 2, ",", ".") + " km";
        document.querySelector('.AASecondaryStats .AAFarDPS').innerHTML = accounting.formatNumber(AAFarDPS * AAGM3_AAAura, 1, ",", ".");
        document.querySelector('.AASecondaryStats .antiAirAuraDistanceMedium').innerHTML = accounting.formatNumber(antiAirAuraDistanceMedium * AAGM2_AAMaxDist, 2, ",", ".") + " km";
        document.querySelector('.AASecondaryStats .AAMediumDPS').innerHTML = accounting.formatNumber(AAMediumDPS * AAGM3_AAAura, 1, ",", ".");
        document.querySelector('.AASecondaryStats .antiAirAuraDistanceNear').innerHTML = accounting.formatNumber(antiAirAuraDistanceNear * AAGM2_AAMaxDist, 2, ",", ".") + " km";
        document.querySelector('.AASecondaryStats .AANearDPS').innerHTML = accounting.formatNumber(AANearDPS * AAGM3_AAAura, 1, ",", ".");
        document.querySelector('.AASecondaryStats .secondaryMaxDist').innerHTML = accounting.formatNumber(secondaryMaxDist * ASM0_GSMaxDist * ASM1_GSMaxDist * APRM1US_GSMaxDist * SBM2_GSMaxDist, 0, ",", ".") + " m";

        if (numTubes > 0)
        {
            document.querySelector('.torpedo .tubes').innerHTML = numTorpTurrets.toString() + " X " + numTubes.toString();
            document.querySelector('.torpedo .maxTorpedoRange').innerHTML = accounting.formatNumber(maxTorpedoRange, 2, ",", ".") + " km";
            document.querySelector('.torpedo .torpedoReload').innerHTML = accounting.formatNumber(torpedoReload * TTMM3_GTShotDelay, 1, ",", ".") + " s";
            document.querySelector('.torpedo .torpedoSpeed').innerHTML = accounting.formatNumber(torpedoSpeed, 1, ",", ".") + " kts";
            document.querySelector('.torpedo .torpedoVisibilityFactor').innerHTML = accounting.formatNumber(torpedoVisibilityFactor, 2, ",", ".") + " km";
        }

        if (totalSquadronCount > 0)
        {
            document.querySelector('.aircraft .fighterSquadrons').innerHTML = accounting.formatNumber(fighterSquadronCount, 0, ",", ".");
            document.querySelector('.aircraft .fighterSquadronSize').innerHTML = accounting.formatNumber(fighterSquadronSize, 0, ",", ".");
            document.querySelector('.aircraft .fighterReserves').innerHTML = accounting.formatNumber(fighterCount, 0, ",", ".");
            document.querySelector('.aircraft .torpedoBomberSquadrons').innerHTML = accounting.formatNumber(torpedoBomberSquadronCount, 0, ",", ".");
            document.querySelector('.aircraft .torpedoBomberSquadronSize').innerHTML = accounting.formatNumber(torpedoBomberSquadronSize, 0, ",", ".");
            document.querySelector('.aircraft .torpedoBomberReserves').innerHTML = accounting.formatNumber(torpedoBomberCount, 0, ",", ".");
            document.querySelector('.aircraft .diveBomberSquadrons').innerHTML = accounting.formatNumber(diveBomberSquadronCount, 0, ",", ".");
            document.querySelector('.aircraft .diveBomberSquadronSize').innerHTML = accounting.formatNumber(diveBomberSquadronSize, 0, ",", ".");
            document.querySelector('.aircraft .diveBomberReserves').innerHTML = accounting.formatNumber(diveBomberCount, 0, ",", ".");
        }


    }


</script>
</body>
</html>