<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<header>
</header>
<main>
    <div class="shipAPIData" id="shipAPIData" th:fragment="shipAPIData" th:unless="${shipAPI1 == null}" style="margin: 0 auto; width: 500px">
        <strong style="float: left;" th:text="${shipAPI1Name}"/>
        <strong style="float: right;" th:text="${shipAPI2Name}"/><br />
        <div id="hullStats" class="hullStats" style="width: 500px; text-align: center">
            <div th:if="${shipAPI1.hull != null and shipAPI2.hull != null}" id="hull">
                <strong style="text-align: center;">Hull</strong><br />
                <span>Health</span>
                <span style="float: left;" th:text="${#numbers.formatInteger(shipAPI1.hull.health, 0, 'COMMA')}"/>
                <span style="float: right;" th:text="${#numbers.formatInteger(shipAPI2.hull.health, 0, 'COMMA')}"/><br />
                <span>Armour</span>
                <span style="float: left;" th:text="${shipAPI1.hull.range.min} + ' ~ ' + ${shipAPI1.hull.range.max} + ' mm'"/>
                <span style="float: right;" th:text="${shipAPI2.hull.range.min} + ' ~ ' + ${shipAPI2.hull.range.max} + ' mm'"/><br />
                <span>- Bow -</span>
                <span style="float: left;" th:if="${shipAPI1.armour.extremities != null}" th:text="${shipAPI1.armour.extremities.min} + ' ~ ' + ${shipAPI1.armour.extremities.max} + ' mm'"/>
                <span style="float: right;" th:if="${shipAPI2.armour.extremities != null}" th:text="${shipAPI2.armour.extremities.min} + ' ~ ' + ${shipAPI2.armour.extremities.max} + ' mm'"/><br />
                <span th:text="'- Citadel -'" th:if="${shipAPI1.armour.citadel.max > 0 and shipAPI2.armour.citadel.max > 0}"/>
                <span style="float: left;" th:if="${shipAPI1.armour.citadel.max > 0}" th:text="${shipAPI1.armour.citadel.max} + ' mm'"/>
                <span style="float: right;" th:if="${shipAPI2.armour.citadel.max > 0}" th:text="${shipAPI2.armour.citadel.max} + ' mm'"/><br th:if="${shipAPI1.armour.citadel.max > 0}"/>
                <span>Burn</span>
                <span style="float: left" th:text="${#numbers.formatDecimal(shipAPI1.burn, 0, 1)} + ' s'"/>
                <span style="float: right" th:text="${#numbers.formatDecimal(shipAPI2.burn, 0, 1)} + ' s'"/><br />
                <span>Flood</span>
                <span style="float: left" th:text="${#numbers.formatDecimal(shipAPI1.flood, 0, 1)} + ' s'"/>
                <span style="float: right" th:text="${#numbers.formatDecimal(shipAPI2.flood, 0, 1)} + ' s'"/><br />
            </div>
            <div th:if="${shipAPI1.mobility != null}" id="mobility">
                <strong>Mobility</strong><br />
                Speed
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.mobility.max_speed, 0, 1)} + ' kts'"/><br />
                Rudder Shift
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.mobility.rudder_time, 0, 1)} + ' s'"/><br />
                Turn Radius<span style="float: right;" th:text="${#numbers.formatInteger(shipAPI1.mobility.turning_radius, 0, 'COMMA')} + ' m'"/><br />
            </div>
            <div th:if="${shipAPI1.concealment != null}" id="concealment">
                <strong>Concealment</strong><br />
                Surface
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.concealment.detect_distance_by_ship, 0, 1)} + ' km'"/><br />
                Air
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.concealment.detect_distance_by_plane, 0, 1)} + ' km'"/><br />
                <span th:text="'Stealth Fire'" th:if="${shipAPI1.artillery != null}"/>
                <span th:if="${shipAPI1.artillery != null}" style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.artillery.distance, 0, 1)} + ' km'"/><br />
            </div>
        </div>
        <br />
        <div id="mainWeaponStats" class="mainWeaponStats">
            <div th:if="${shipAPI1.artillery != null}" id="artillery">
                <strong>Main Battery</strong><br />
                <li th:each="slot : ${shipAPI1.artillery.slots}" name="guns">
                    <u style="float: left;" th:text="${slot.value.guns} + ' X ' + ${slot.value.barrels} + ' ' + ${slot.value.name}"/><br />
                </li>
                <th:block th:if="${shipComponents1.artillery != null}">
                    Sigma<span style="float: right" th:text="${#numbers.formatDecimal(shipComponents1.artillery.sigmaCount, 0, 2)}"/><br />
                </th:block>
                Distance
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.artillery.distance, 0, 1)} + ' km'"/><br />
                Dispersion
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.artillery.max_dispersion, 0, 1)} + ' m'"/><br />
                Reload
                <span id="reload" style="float: right;" th:text="${#numbers.formatDecimal(60 / shipAPI1.artillery.gun_rate, 0, 1)} + ' s'"/><br />
                RoF
                <span id="rof" style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.artillery.gun_rate, 0 ,2)} + ' RPM'"/><br />
                <th:block th:if="${adrenaline == true}">
                    <script th:inline="javascript">
                        //    <![CDATA[

                        $(function () {
                            var handle = $('#custom-handle').css('width', '2em').css('text-align', 'center');
                            var originalGunRate = parseFloat($('#rof').text().replace(' RPM', ''));

                            var rofDiffModified = 0;
                            if (document.getElementById('rofDiff') != null)
                            {
                                rofDiffModified = parseFloat(document.getElementById('rofDiff').textContent.replace('(', '').replace(')', ''));
                            }

                            $('#slider').slider({
                                orientation: "horizontal",
                                range: "min",
                                min: 0,
                                max: 100,
                                value: 100,
                                create: function() {
                                    handle.text($( this ).slider('value'));
                                },
                                slide: function(event, ui) {
                                    handle.text(ui.value);
                                },
                                change: function (event, ui) {
                                    shipHP = test(parseInt(ui.value));

                                    function test(shipHP)
                                    {
                                        var coef = 1 - ((100 - shipHP) * 0.2 / 100);
                                        var newGunRate = (originalGunRate / coef).toFixed(2);

                                        $('#rof').text(newGunRate + ' RPM');
                                        $('#reload').text((60 / newGunRate).toFixed(1) + ' s');
                                        if ($('#upgradeCompareCheckBox').is(':checked'))
                                        {
                                            if (document.getElementById('rofDiff') == null && document.getElementById('reloadDiff') == null)
                                            {
                                                var reloadDiff = document.createElement('span');
                                                reloadDiff.id = 'reloadDiff';
                                                reloadDiff.style = 'float: right;';

                                                var reloadDiffText = document.createTextNode(((60 / newGunRate) - (60 / originalGunRate)) != 0 ? '(' + ((60 / newGunRate) - (60 / originalGunRate)).toFixed(1) + ')' : '');
                                                reloadDiff.appendChild(reloadDiffText);

                                                var rofDiff = document.createElement('span');
                                                rofDiff.id = 'rofDiff';
                                                rofDiff.style = 'float: right;';

                                                var rofDiffText = document.createTextNode((newGunRate - originalGunRate) != 0 ? '(' + (newGunRate - originalGunRate).toFixed(2) + ')' : '');
                                                rofDiff.appendChild(rofDiffText);

                                                var rof = document.getElementById('rof');
                                                rof.parentNode.insertBefore(rofDiff, rof);

                                                var reload = document.getElementById('reload');
                                                reload.parentNode.insertBefore(reloadDiff, reload);
                                            }
                                            else
                                            {
                                                var rofDiff = (newGunRate - originalGunRate + rofDiffModified).toFixed(2);
                                                $('#rofDiff').text(rofDiff != 0 ? '(' + rofDiff + ')' : '');
                                                $('#reloadDiff').text(((60 / newGunRate) - (60 / (originalGunRate - rofDiffModified))) != 0 ? '(' + ((60 / newGunRate) - (60 / (originalGunRate - rofDiffModified))).toFixed(1) + ')' : '');
                                            }
                                        }
                                    }
                                }
                            })
                        })

                        //    ]]>
                    </script>
                    <div id="slider">
                        <div id="custom-handle" class="ui-slider-handle"></div>
                    </div>
                </th:block>
                Rotation
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.artillery.rotation_time, 0, 2)} + ' s'"/><br />
                Rotation / 180 deg
                <span style="float: right;padding-left: 4em;" th:text="${#numbers.formatDecimal(180 / shipAPI1.artillery.rotation_time, 0, 1)} + ' deg / s'"/><br />
                <li th:if="${shell.value != null}" th:each="shell : ${shipAPI1.artillery.shells}">
                    <u style="float: left;" th:text="${shell.value.name} + ' (' + ${shell.value.type} + ')'"/><br/>
                    Damage<span style="float: right;" th:text="${#numbers.formatInteger(shell.value.damage, 0, 'COMMA')} + ' hp'"/><br />
                    Speed<span style="float: right;" th:text="${#numbers.formatInteger(shell.value.bullet_speed, 0, 'COMMA')} + ' m / s'"/><br />
                    Mass<span style="float: right;" th:text="${#numbers.formatInteger(shell.value.bullet_mass, 0, 'COMMA')} + ' kg'"/><br />
                    <span th:text="'Burn Probability'" th:if="${shell.value.burn_probability > 0}"/>
                    <span style="float: right;" th:if="${shell.value.burn_probability > 0}" th:text="${#numbers.formatDecimal(shell.value.burn_probability, 0, 1)} + ' %'"/><br th:if="${shell.value.burn_probability > 0}"/>
                    <span th:text="'- Per Salvo'" th:if="${shell.value.burn_probability > 0}"/>
                    <span style="float: right;" th:if="${shell.value.burn_probability > 0}" th:text="${#numbers.formatDecimal((100 - (T(java.lang.Math).pow((100 - shell.value.burn_probability) / 100, shipAPI1.artillery.totalGuns)) * 100), 0, 1)} + ' %'"/><br th:if="${shell.value.burn_probability > 0}"/>
                </li>
            </div>
            <div th:if="${shipAPI1.torpedoes != null}" id="torpedoes">
                <strong>Torpedoes</strong><br />
                <li th:each="slot : ${shipAPI1.torpedoes.slots}">
                    <u style="float: left;" th:text="${slot.value.guns} + ' X ' + ${slot.value.barrels} + ' ' + ${slot.value.name}"/><br />
                </li>
                Damage<span style="float: right;" th:text="${#numbers.formatInteger(shipAPI1.torpedoes.max_damage, 0, 'COMMA')} + ' hp'"/><br />
                Reload
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.torpedoes.reload_time, 0, 1)} + ' s'"/><br />
                Speed
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.torpedoes.torpedo_speed, 0, 1)} + ' kts'"/><br />
                Distance
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.torpedoes.distance, 0, 1)} + ' km'"/><br />
                Visibility<span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.torpedoes.visibility_dist, 0, 1)} + ' km'"/><br />
                - Reaction
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.torpedoes.visibility_dist * 1000 / (shipAPI1.torpedoes.torpedo_speed * 2.6), 0, 1)} + ' s'"/><br />
            </div>
            <div th:if="${shipAPI1.flight_control != null}" id="flight_control">
                <strong>Flight Control</strong><br />
                <u>Dive Bomber</u>
                <span style="float: right;" th:text="${shipAPI1.flight_control.bomber_squadrons} + ' X ' + ${shipAPI1.dive_bomber != null ? shipAPI1.dive_bomber.count_in_squadron.max : 0}"/><br />
                Preparation
                <span style="float: right;" th:text="${shipAPI1.dive_bomber != null ? #numbers.formatDecimal(shipAPI1.dive_bomber.prepare_time, 0, 1) : 0} + ' s'"/><br />
                <u>Fighter</u>
                <span style="float: right;" th:text="${shipAPI1.flight_control.fighter_squadrons} + ' X ' + ${shipAPI1.fighters != null ? shipAPI1.fighters.count_in_squadron.max : 0}"/><br />
                Preparation
                <span style="float: right;" th:text="${shipAPI1.fighters != null ? #numbers.formatDecimal(shipAPI1.fighters.prepare_time, 0, 1) : 0} + ' s'"/><br />
                <u>Torpedo Bomber</u>
                <span style="float: right; padding-left: 4em;" th:text="${shipAPI1.flight_control.torpedo_squadrons} + ' X ' + ${shipAPI1.torpedo_bomber != null ? shipAPI1.torpedo_bomber.count_in_squadron.max : 0}"/><br />
                Preparation
                <span style="float: right;" th:text="${shipAPI1.torpedo_bomber != null ? #numbers.formatDecimal(shipAPI1.torpedo_bomber.prepare_time, 0, 1) : 0} + ' s'"/><br />
            </div>
        </div>
        <br />
        <div id="AASecondaryStats" class="AASecondaryStats">
            <div th:if="${shipAPI1.anti_aircraft != null}" id="anti_aircraft">
                <strong>Anti Air</strong><br />
                <li th:each="slot : ${shipAPI1.anti_aircraft.slots}" th:id="${slot.value.caliber}">
                    <u style="float: left;" th:text="${slot.value.guns} + ' X ' + ${slot.value.name}"/><br />
                    DPS
                    <span style="float: right;" th:text="${#numbers.formatDecimal(slot.value.avg_damage, 0, 1)} + ' dps'"/><br />
                    Distance
                    <span style="float: right;padding-left: 4em;" th:text="${#numbers.formatDecimal(slot.value.distance, 0, 1)} + ' km'"/><br />
                </li>
            </div>
            <div th:if="${shipAPI1.atbas != null}" id="atbas">
                <strong>Secondary</strong><br />
                Max Distance
                <span style="float: right;" th:text="${#numbers.formatDecimal(shipAPI1.atbas.distance, 0, 1)} + ' km'"/>
                <li th:each="slot : ${shipAPI1.atbas.slots}" th:if="${shipAPI1.atbas.slots != null}">
                    <u style="float: left;" th:text="${slot.value.name}"/><br />
                    Damage<span style="float: right;" th:text="${#numbers.formatInteger(slot.value.damage, 0, 'COMMA')} + ' hp'"/><br />
                    Reload
                    <span style="float: right;" th:text="${#numbers.formatDecimal(slot.value.shot_delay, 0, 1)} + ' s'"/><br />
                    Speed<span style="float: right;" th:text="${#numbers.formatDecimal(slot.value.bullet_speed, 0, 1)} + ' m / s'"/><br />
                    Type<span style="float: right;" th:text="${slot.value.type}"/><br />
                    Burn Probability<span style="float: right;padding-left: 4em;" th:text="${#numbers.formatDecimal(slot.value.burn_probability, 0, 1)} + ' %'"/><br />
                </li>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    //    <![CDATA[

    //    ]]>
</script>
</body>
</html>