<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="top" class="link">
    <ul>
        <li>
            <a th:href="${'/?lang=' + lang}"><span>Home</span></a>
        </li>
        <li>
            <a th:href="${'/ship?lang=' + lang}"><span>Fitting Tool</span></a>
        </li>
        <!--<li>-->
        <!--<a th:href="@{/shipStatComparison}"><span>Ship Comparison</span></a>-->
        <!--</li>-->
        <li>
            <a th:href="@{/arty}"><span>Artillery Chart</span></a>
        </li>
        <!--<li>-->
        <!--<a th:href="@{/shipTree}"><span>Research Tree</span></a>-->
        <!--</li>-->
    </ul>
</nav>
</body>
</html>