<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
</head>
<body>
<div th:fragment="top">
    <div style="display: inline-block; float: right;">
        <div style="float: right;">
            <a href="https://sea-group.org/" style="display: inline-block;"><img th:src="@{/images/Icon/SEA-group-LOGO.svg}" style="height: 45px;"/></a>
        </div>
    </div>
    <div style="display: inline-block; float: left; margin: 6px;">
        <div id="header" style="display: inline-block;">
            <nav>
                <ul>
                    <li>
                        <a href="/"><span>Home</span></a>
                    </li>
                    <li>
                        <a th:href="${serverParam + '/WarshipStats'}"><span>Fitting Tool</span></a>
                    </li>
                    <li>
                        <a th:href="${serverParam + '/shipStatComparison'}"><span>Ship Comparison</span></a>
                    </li>
                    <li>
                        <a th:href="${serverParam + '/shipTree'}"><span>Research Tree</span></a>
                    </li>
                    <!--<li>-->
                        <!--<a href="/commandersRanks"><span>Commanders Ranks</span></a>-->
                    <!--</li>-->
                    <li>
                        <a href="/contact"><span>Email</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script th:inline="javascript">
    //    <![CDATA[

    //    ]]>
</script>
</body>
</html>