<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        //    <![CDATA[
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event:'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5KDG7W6');
        //    ]]>
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipStyle.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/accounting/accounting.js}"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<noscript>
    //    <![CDATA[
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    //    ]]>
</noscript>
<header>
    <div id="top" th:include="top :: top">
    </div>
</header>
<main>
    <div style="text-align: center;">
        <button th:each="nation : ${nations}" th:name="${nation.key}" th:class="button_nation">
            <img th:src="${'/images/Nations/' + nation.key + '.png'}"/><br />
            <th:block th:each="eNation : ${encyclopedia.ship_nations}" th:if="${nation.key == eNation.key}">
                <span th:text="${eNation.value}" />
            </th:block>
        </button>
    </div>
    <div style="text-align: center;">
        <strong id="xpRequired" th:text="'Click on two ships for lowest research xp'"/><br />
        <button id="resetSelect">Reset</button><br />
    </div>
    <div style="text-align: center;">
        <div th:each="nation : ${nations}" th:id="${nation.key}" th:name="nations" hidden="hidden">
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'AirCarrier'}">
                <th:block th:if="${shipType.value.?[value.first == true].size() > 0}">
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.firstMinTier > __${i}__].size() > 0}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                        <button th:class="button_ship_tree" th:id="${#numbers.formatInteger(ship.value.tier, 2) + '_' + ship.value.name}">
                            <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                            <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                        </button>
                    </th:block>
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.hasSecondLine].size() == 0 and shipType.value.?[__${i}__ > value.firstMaxTier].size() > 0 and i > shipType.value.?[__${i}__ > value.firstMaxTier].size()}">
                        <button th:class="button_ship_tree_empty" disabled="disabled" th:name="${shipType.value.?[__${i}__ > value.firstMaxTier].size() + '_' + i}"></button>
                    </th:block>
                </th:block>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Battleship'}">
                <th:block th:if="${shipType.value.?[value.first == true].size() > 0}">
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.firstMinTier > __${i}__].size() > 0}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                        <button th:class="button_ship_tree" th:id="${#numbers.formatInteger(ship.value.tier, 2) + '_' + ship.value.name}">
                            <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                            <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                        </button>
                    </th:block>
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.hasSecondLine].size() == 0 and shipType.value.?[__${i}__ > value.firstMaxTier].size() > 0 and i > shipType.value.?[__${i}__ > value.firstMaxTier].size()}">
                        <button th:class="button_ship_tree_empty" disabled="disabled" th:name="${shipType.value.?[__${i}__ > value.firstMaxTier].size() + '_' + i}"></button>
                    </th:block>
                </th:block>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Cruiser'}">
                <th:block th:if="${shipType.value.?[value.first == true].size() > 0}">
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.firstMinTier > __${i}__].size() > 0}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                        <button th:class="button_ship_tree" th:id="${#numbers.formatInteger(ship.value.tier, 2) + '_' + ship.value.name}">
                            <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                            <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                        </button>
                    </th:block>
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.hasSecondLine].size() == 0 and shipType.value.?[__${i}__ > value.firstMaxTier].size() > 0 and i > shipType.value.?[__${i}__ > value.firstMaxTier].size()}">
                        <button th:class="button_ship_tree_empty" disabled="disabled" th:name="${shipType.value.?[__${i}__ > value.firstMaxTier].size() + '_' + i}"></button>
                    </th:block>
                </th:block>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Cruiser' and shipType.value.?[value.first == false].size() > 0}">
                <th:block th:if="${shipType.value.?[value.first == false].size() > 0}">
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.hasSecondLine and ship.value.secondMinTier >= ship.value.tier - (ship.value.firstMinTier - 1)}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${!ship.value.first}">
                        <button th:class="button_ship_tree" th:id="${#numbers.formatInteger(ship.value.tier, 2) + '_' + ship.value.name}">
                            <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                            <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                        </button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.hasSecondLine and ship.value.tier > ship.value.secondMaxTier}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                </th:block>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Destroyer'}">
                <th:block th:if="${shipType.value.?[value.first == true].size() > 0}">
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.firstMinTier > __${i}__].size() > 0}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.first}">
                        <button th:class="button_ship_tree" th:id="${#numbers.formatInteger(ship.value.tier, 2) + '_' + ship.value.name}">
                            <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                            <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                        </button>
                    </th:block>
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}" th:if="${shipType.value.?[value.hasSecondLine].size() == 0 and shipType.value.?[__${i}__ > value.firstMaxTier].size() > 0 and i > shipType.value.?[__${i}__ > value.firstMaxTier].size()}">
                        <button th:class="button_ship_tree_empty" disabled="disabled" th:name="${shipType.value.?[__${i}__ > value.firstMaxTier].size() + '_' + i}"></button>
                    </th:block>
                </th:block>
            </div>
            <div th:class="shipTree" th:each="shipType : ${nation.value}" th:if="${shipType.key == 'Destroyer' and shipType.value.?[value.first == false].size() > 0}">
                <th:block th:if="${shipType.value.?[value.first == false].size() > 0}">
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.hasSecondLine and ship.value.secondMinTier >= ship.value.tier - (ship.value.firstMinTier - 1)}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${!ship.value.first}">
                        <button th:class="button_ship_tree" th:id="${#numbers.formatInteger(ship.value.tier, 2) + '_' + ship.value.name}">
                            <img th:src="${ship.value.images.small}" th:title="${ship.value.name}"/><br />
                            <span th:text="${ship.value.tier + ' - ' + ship.value.name}"/><br />
                        </button>
                    </th:block>
                    <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.hasSecondLine and ship.value.tier > ship.value.secondMaxTier}">
                        <button th:class="button_ship_tree_empty" disabled="disabled"></button>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
    <th:block th:include="bottom"></th:block>
</main>
<script th:inline="javascript">
    //    <![CDATA[

    var nation = '';

    var live = [[${serverParam}]];

    $(document).on('click', '.button_nation', function () {
        var name = $(this).attr('name');

        $('[name=nations]').attr('hidden', 'hidden');
        $('#' + name).removeAttr('hidden');

        nation = name;

        var clickedList = $('.button_ship_tree_selected');
        for (var i = 0; i < clickedList.length; i++)
        {
            var clickedId = clickedList.eq(i).attr('id');
            document.getElementById(clickedId).className = 'button_ship_tree';
        }

        $('#xpRequired').text('Click on two ships for lowest research xp');
    });

    $(document).on('click', '.button_ship_tree', function () {
        var clickedId = $(this).attr('id');

        if ($('.button_ship_tree_selected').length == 2)
        {
            var selected = $('.button_ship_tree_selected');

            for (var i = 0; i < selected.length; i++)
            {
                var currentId = selected.eq(i).attr('id');
                document.getElementById(currentId).className = 'button_ship_tree';
            }
            $('#xpRequired').text('Click on two ships for lowest research xp');
        }

        if ($('.button_ship_tree_selected').length < 2)
        {
            document.getElementById(clickedId).className = 'button_ship_tree_selected';
        }

        if ($('.button_ship_tree_selected').length == 2)
        {
            var selected = $('.button_ship_tree_selected');

            var list = [];

            for (var i = 0; i < selected.length; i++)
            {
                var current = selected.eq(i);
                var id = current.attr('id');
                list.push(id);
            }

            $.ajax({
                url: live + '/shipTree',
                type: 'post',
                contentType: "application/json",
                data: JSON.stringify(list),
                success: function (data) {
                    data != -1 ? $('#xpRequired').text(data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' xp required') : $('#xpRequired').text('Error - Research properly or contact EdibleBug on Reddit');
                },
                error: function (data) {
                    $('#xpRequired').text('Error - Research properly or contact EdibleBug on Reddit');
                }
            });
        }
    });

    $(document).on('click', '.button_ship_tree_selected', function () {
        var clickedId = $(this).attr('id');

        document.getElementById(clickedId).className = 'button_ship_tree';
    });

    $(document).on('click', '#resetSelect', function () {
        var clickedList = $('.button_ship_tree_selected');
        for (var i = 0; i < clickedList.length; i++)
        {
            var clickedId = clickedList.eq(i).attr('id');
            document.getElementById(clickedId).className = 'button_ship_tree';
        }

        $('#xpRequired').text('Click on two ships for lowest research xp');
    });

    //    ]]>
</script>
</body>
</html>