<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        //    <![CDATA[
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event:'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5KDG7W6');
        //    ]]>
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/images/Icon/WoWSFT_Icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShipComparison/ShipComparison.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>WoWS Fitting Tool by Aesis</title>
    <style>
        #chart_div1 circle {
            r: 1.5;
        }
        #chart_div2 circle {
            r: 1.5;
        }
    </style>
</head>
<body>
<noscript>
    //    <![CDATA[
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6" height="0" width="0" style="display:none; visibility:hidden;"></iframe>
    //    ]]>
</noscript>
<header>
    <div id="top" th:include="top :: top">
    </div>
</header>
<main style="padding: 5px;">
    <div id="shipSelector">
        <select id="nationSelect">
            <th:block th:each="nation : ${nations}">
                <th:block th:each="eNation : ${encyclopedia.ship_nations}" th:if="${nation.key == eNation.key}">
                    <option th:text="${eNation.value}" th:value="${nation.key}"></option>
                </th:block>
            </th:block>
        </select>
        <select th:each="nation : ${nations}" th:id="${nation.key}" th:class="${'nationShipType ' + (nationStat.index == 0 ? 'show' : 'hide')}">
            <th:block th:each="shipType : ${nation.value}" th:if="${shipType.key != 'AirCarrier'}">
                <option th:text="${shipType.key}"></option>
            </th:block>
        </select>
        <th:block th:each="nation : ${nations}" th:id="${nation.key}">
            <select th:each="shipType : ${nation.value}" th:if="${shipType.key != 'AirCarrier'}" th:class="${'shipList ' + nation.key + ' ' + shipType.key + ' ' + (nationStat.index == 0 and shipTypeStat.index == 0 ? 'show' : 'hide')}">
                <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.defaultType != 'AirCarrier'}">
                    <option th:text="${ship.key}" th:attr="ship-id=${ship.value.ship_id}"></option>
                </th:block>
            </select>
        </th:block>
        <th:block th:each="nation : ${nations}" th:id="${nation.key}">
            <th:block th:each="shipType : ${nation.value}" th:if="${shipType.key != 'AirCarrier'}">
                <th:block th:each="ship : ${shipType.value}" th:if="${ship.value.defaultType != 'AirCarrier'}" th:class="${'show'}">
                    <select th:id="${ship.value.ship_id}" th:class="${'artyList ' + (nationStat.index == 0 and shipTypeStat.index == 0 and shipStat.index == 0 ? 'show' : 'hide')}">
                        <th:block th:each="arty : ${ship.value.warshipModulesTreeNew.Artillery}">
                            <option th:text="${arty.value.name}" th:attr="arty-id=${arty.value.module_id}"></option>
                        </th:block>
                    </select>
                </th:block>
            </th:block>
        </th:block>
        <button id="addSelect">Add to Comparison</button>
        <button id="resetChart">Reset Chart</button>
    </div>
    <br />
    <div id="chart_div1"></div>
    <div id="chart_div2"></div>
    <th:block th:include="bottom"></th:block>
</main>
<script th:inline="javascript">
//    <![CDATA[
    var index = 0;
    var data1;
    var materialChart1;
    var chartDiv1 = document.getElementById('chart_div1');
    var data2;
    var materialChart2;
    var chartDiv2 = document.getElementById('chart_div2');

    $('#nationSelect').on('change', function () {
        var selectedNation = $('#nationSelect option:selected').val();
        var list1 = $('.nationShipType');
        for (var i = 0; i < list1.length; i++) {
            list1.eq(i).addClass('hide');
        }
        var $thisNation = $('#' + selectedNation);
        $thisNation.removeClass('hide');
        $thisNation.addClass('show');
        changeShipType(selectedNation);
    });

    $('.nationShipType').on('change', function () {
        var selectedNation = $('#nationSelect option:selected').val();
        changeShipType(selectedNation);
    });

    $('.shipList').on('change', function () {
        var selectedNation = $('#nationSelect option:selected').val();
        var selectedShipType = $('#' + selectedNation + ' option:selected').val();
        changeArty($('.' + selectedNation + '.' + selectedShipType + ' option:selected').attr('ship-id'));
    });

    function changeShipType(selectedNation) {
        var selectedShipType = $('#' + selectedNation + ' option:selected').val();
        var list1 = $('.shipList');
        for (var i = 0; i < list1.length; i++) {
            list1.eq(i).addClass('hide');
        }
        $('.' + selectedNation + '.' + selectedShipType).removeClass('hide');
        changeArty($('.' + selectedNation + '.' + selectedShipType + ' option:selected').attr('ship-id'));
    }

    function changeArty(shipId) {
        var list = $('.artyList.show');
        for (var i = 0; i < list.length; i++) {
            list.eq(i).removeClass('show');
            list.eq(i).addClass('hide');
        }
        $('#' + shipId).removeClass('hide');
        $('#' + shipId).addClass('show');
    }

    $('#addSelect').on('click', function () {
        var selectedNation = $('#nationSelect option:selected').val();
        var nation = selectedNation.replace(/ /g, '+');
        var selectedShipType = $('#' + selectedNation + ' option:selected').val();
        var shipType = selectedShipType.replace(/ /g, '+');
        var selectedShip = $('.' + selectedNation + '.' + selectedShipType).val();
        var ship = selectedShip.replace(/ /g, '+');
        var shipId = $('.' + selectedNation + '.' + selectedShipType + ' option:selected').attr('ship-id');
        var artyName = $('#' + shipId  + ' option:selected').val();
        var artyId = $('#' + shipId  + ' option:selected').attr('arty-id');

        var url = '/arty?nation=' + nation + '&shipType=' + shipType + '&ship=' + encodeURIComponent(ship) + '&shipId=' + shipId + '&artyId=' + artyId;

        $.ajax({
            url: url,
            type: 'post',
            success: function (serverData) {
                if (serverData !== undefined && serverData !== null && serverData.apshell !== null) {
                    var list1 = [];
                    var list2 = [];
                    for (var i = 0; i < serverData.apshell.distanceList.length; i++) {
                        var dist = serverData.apshell.distanceList[i];

                        if (dist > 30000) {
                            break;
                        }

                        if (index === 0) {
                            list1.push([dist, serverData.apshell.penetration[dist], serverData.apshell.impact[dist]]);
                            list2.push([dist, serverData.apshell.penetration[dist], serverData.apshell.flightTime[dist]]);
                        }
                        else {
                            var curIndex = index * 2;
                            var tempList1 = [dist];
                            var tempList2 = [dist];
                            for (var j = 1; j <= curIndex; j++) {
                                tempList1.push(null);
                                tempList2.push(null);
                            }
                            tempList1.push(serverData.apshell.penetration[dist]);
                            tempList1.push(serverData.apshell.impact[dist]);
                            tempList2.push(serverData.apshell.penetration[dist]);
                            tempList2.push(serverData.apshell.flightTime[dist]);
                            list1.push(tempList1);
                            list2.push(tempList2);
                        }
                    }
                    drawMaterialChart(data1, materialChart1, chartDiv1, selectedShip + ' ' + artyName, list1, 'Penetration (mm)', 'Impact Angle (deg)');
                    drawMaterialChart(data2, materialChart2, chartDiv2, selectedShip + ' ' + artyName, list2, 'Penetration (mm)', 'Flight Time (s)');
                    index++;
                }
            }
        });
    });

    function drawMaterialChart(data, materialChart, chartDiv, artyName, list, y1, y2) {
        data.addColumn('number', artyName + '\n' + y1);
        data.addColumn('number', artyName + '\n' + y2);
        var tempSeries = {};
        for (var i = 0; i <= index; i++) {
            tempSeries[i * 2] = {
                axis: 'y1',
                targetAxisIndex: 0
            };
            tempSeries[i * 2 + 1] = {
                axis: 'y2',
                targetAxisIndex: 1
            };
        }
        data.addRows(list);

        materialChart = new google.charts.Scatter(chartDiv);

        var materialOptions = {
            chart: {
                title: y1 + ' and ' + y2 + ' over distance'
            },
            // width: 800,
            height: 600,
            series: tempSeries,
            axes: {
                y: {
                    'y1': {
                        label: y1
                    },
                    'y2': {
                        label: y2
                    }
                }
            },
            hAxis: {
                format: '#,###',
                viewWindow: {
                    min: 0
                }
            },
            vAxis: {
                format: '#,###.###'
            }
        };
        materialChart.draw(data, google.charts.Scatter.convertOptions(materialOptions));
    }

    function drawStuff() {
        data1 = new google.visualization.DataTable();
        data1.addColumn('number', 'Distance (m)');
        data2 = new google.visualization.DataTable();
        data2.addColumn('number', 'Distance (m)');
    }

    function doInit() {
        google.charts.load('current', {'packages':['corechart', 'scatter']});
        google.charts.setOnLoadCallback(drawStuff);
    }

    $().ready(function () {
        doInit();
    });

    $('#resetChart').on('click', function () {
        $('#chart_div1').html('');
        $('#chart_div2').html('');
        index = 0;
        doInit();
    });

//    ]]>
</script>
</body>
</html>